<!-- /snippets/blog-sidebar.liquid -->
{% comment %}
  Recent blog posts
{% endcomment %}
<div class="block block-nav">
    <div class="block-title">
        <span {% if settings.language_enable %}data-translate="collections.sidebar.categories"{% endif %}>{{ 'collections.sidebar.categories' | t }}</span>
    </div>
    <div class="sidebar-content block-content">
        {% include 'menu-category' %}
    </div>
</div>
{% if settings.sidebar_collection_user != blank %}
<div class="block bestseller sidebar-cate-toogle">
    <div class="block-title">
        {% if settings.language_enable %}
        <span class="lang1">{{ settings.sidebar_collection_title | split: '|' | first }}</span>
        <span class="lang2">{{ settings.sidebar_collection_title | split: '|' | last }}</span>
        {% else %}
        {{ settings.sidebar_collection_title | split: '|' | first }}
        {% endif %}
    </div>
    <div class="sidebar-content block-content">
        {% include 'bestseller-collection' %}
    </div>
</div>
{% endif %}
{% if settings.blog_sidebar_recent %}
<div class="block">
  <div class="block-title">
      <span {% if settings.language_enable %}data-translate="blogs.sidebar.recent_articles"{% endif %}>{{ 'blogs.sidebar.recent_articles' | t }}</span>
  </div> 
  <div class="block-content blogs-items">
    <ul>
      {% for article in blogs[blog.handle].articles limit:4 %}
        <li>
<!--          <div class="post-image">-->
<!--            <img src="{{ article | img_url: '60x60' }}" /> -->
<!--          </div>-->
          <a href="{{ article.url }}">
            {% if settings.language_enable %}
            <span class="lang1">{{ article.title | split: '|' | first }}</span>
            <span class="lang2">{{ article.title | split: '|' | last }}</span>
            {% else %}
            {{ article.title | split: '|' | first }}
            {% endif %}
          </a>
<!--          <div class="post-time">-->
<!--            {% capture date %}<time datetime='{{ article.published_at | date: '%Y-%m-%d' }}'>{{ article.published_at | date: format: 'month_day_year' }}</time>{% endcapture %}-->
<!--            <span class="blog_author" {% if settings.language_enable %}data-translate="blogs.article.author_on_date_html|date:{{date}}" translate-item="blog-date-author"{%endif%}>-->
<!--              {{ 'blogs.article.author_on_date_html' | t: date: date, author: author }}        -->
<!--            </span> -->
<!--            <div class="clear"></div>-->
<!--          </div> -->
        </li>
      {% endfor %}
    </ul>
  </div> 
</div>
{% endif %} 
{% comment %}
  Blog tags
{% endcomment %}
{% if blog.all_tags.size > 0 and settings.blog_sidebar_tags %} 
<div class="block">
  <div class="block-title">
      <span {% if settings.language_enable %}data-translate="blogs.sidebar.tags"{% endif %}>{{ 'blogs.sidebar.tags' | t }}</span>
  </div> 
  <div class="block-content">
    <ul class="no-bullets blog-tags">
      {% for tag in blog.all_tags %}
        {% if current_tags contains tag %}
        <li>{{ tag }}</li>
        {% else %}
        <li>{{ tag | link_to_tag: tag }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
 