<div class="footer-inner">
    <div class="row">
        <div class="footer-left">
            <div class="map-footer">
                {% if section.settings.footer_map_enabled == 'yes' %}
                <div class="block-googlemap">
                    <script src="//maps.googleapis.com/maps/api/js{% if settings.google_map_api_key != '' %}?key={{settings.google_map_api_key}}{% else %}?v=3.17{% endif %}" type="text/javascript"></script>
                    <script type="text/javascript">
                        function initialize() {
                            var pos = new google.maps.LatLng({{ settings.google_map_pin_latitude }}, {{settings.google_map_pin_longitude}});
                            var mapOptions = {
                                center: pos,
                                panControl: true,
                                scrollwheel: false,
                                zoomControl: true,
                                mapTypeControl: true,
                                scaleControl: true,
                                streetViewControl: true,
                                overviewMapControl: true,
                                zoom: {{settings.google_map_zoom}}
                        };
                            var map = new google.maps.Map(document.getElementById("store_map"), mapOptions);
                            var marker = new google.maps.Marker({
                                position: pos,
                                map: map,
                                title: '{{settings.google_map_address}}'
                            });
                        }
                        google.maps.event.addDomListener(window, 'load', initialize);
                    </script>
                    <div id="store_map" style="min-height: 380px; width: 100%;"></div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="footer-right">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="footer-column footer-col-1">
                        <div class="footer-logo">
                            <a class="footer_middle_logo" href="/">
                                <img src="{{ section.settings.footer_logo | img_url: '190x90' }}"/>
                            </a>
                        </div>
                        {% if section.settings.footer_text_col1_type3 != '' %}
                        <div class="text-block">
                            {% if settings.language_enable %}
                            <p class="lang1">{{ section.settings.footer_text_col1_type3 | split: '[lang2]' | first }}</p>
                            <p class="lang2">{{ section.settings.footer_text_col1_type3 | split: '[lang2]' | last }}</p>
                            {% else %}
                            {{ section.settings.footer_text_col1_type3 | split: '[lang2]' | first }}
                            {% endif %}
                        </div>
                        {% endif %}
                        {% if section.settings.footer_social_share != '' %}
                        <div class="footer-area-socials">
                            <div class="social-media-link">
                                {{ section.settings.footer_social_share }}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="footer-column footer-col-2">
                        {% if section.settings.footer_title_col2_type3 != '' %}
                        <div class="footer-column-title">
                            {% if settings.language_enable %}
                            <h4 class="lang1">{{ section.settings.footer_title_col2_type3 | split: '[lang2]' | first }}</h4>
                            <h4 class="lang2">{{ section.settings.footer_title_col2_type3 | split: '[lang2]' | last }}</h4>
                            {% else %}
                            {{ section.settings.footer_title_col2_type3 | split: '[lang2]' | first }}
                            {% endif %}
                        </div>
                        {% endif %}
                        <div class="footer-link-menu">
                            {% assign list = linklists[section.settings.footer_linklist_type3] %}
                            <ul class="footer-list">
                                {% for link in list.links %}
                                <li class="theme-color">
                                    <a href="{{ link.url }}">
                                        {% if settings.language_enable %}
                                        <span class="lang1">{{ link.title | split: '|' | first }}</span>
                                        <span class="lang2">{{ link.title | split: '|' | last }}</span>
                                        {% else %}
                                        {{ link.title | split: '|' | first }}
                                        {% endif %}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="footer-column footer-col-3">
                        {% if section.settings.footer_title_col3_type3 != '' %}
                        <div class="footer-column-title">
                            {% if settings.language_enable %}
                            <h4 class="lang1">{{ section.settings.footer_title_col3_type3 | split: '[lang2]' | first }}</h4>
                            <h4 class="lang2">{{ section.settings.footer_title_col3_type3 | split: '[lang2]' | last }}</h4>
                            {% else %}
                            {{ section.settings.footer_title_col3_type3 | split: '[lang2]' | first }}
                            {% endif %}
                        </div>
                        {% endif %}
                        <div class="footer-contact-info">
                            {% if section.settings.footer_phone != '' %}
                            <div class="contact-item contact-phone">
                                {% if settings.language_enable %}
                                <span class="lang1">{{ section.settings.footer_phone | split: '[lang2]' | first }}</span>
                                <span class="lang2">{{ section.settings.footer_phone | split: '[lang2]' | last }}</span>
                                {% else %}
                                {{ section.settings.footer_phone | split: '[lang2]' | first }}
                                {% endif %}
                            </div>
                            {% endif %}
                            {% if section.settings.footer_email != '' %}
                            <div class="contact-item contact-email">
                                {% if settings.language_enable %}
                                <span class="lang1">{{ section.settings.footer_email | split: '[lang2]' | first }}</span>
                                <span class="lang2">{{ section.settings.footer_email | split: '[lang2]' | last }}</span>
                                {% else %}
                                {{ section.settings.footer_email | split: '[lang2]' | first }}
                                {% endif %}
                            </div>
                            {% endif %}
                            {% if section.settings.footer_address != '' %}
                            <div class="contact-item contact-address">
                                {% if settings.language_enable %}
                                <span class="lang1">{{ section.settings.footer_address | split: '[lang2]' | first }}</span>
                                <span class="lang2">{{ section.settings.footer_address | split: '[lang2]' | last }}</span>
                                {% else %}
                                {{ section.settings.footer_address | split: '[lang2]' | first }}
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="pay-ment">
                            <img src="{{ section.settings.footer_payment | img_url: '168x20' }}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom3">
                <div class="row">
                    <div class="col-md-12">
                        {% if section.settings.footer_bottom_copyright != '' %}
                        <address>
                            {% if settings.language_enable %}
                            <span class="lang1">{{ section.settings.footer_bottom_copyright | split: '[lang2]' | first }}</span>
                            <span class="lang2">{{ section.settings.footer_bottom_copyright | split: '[lang2]' | last }}</span>
                            {% else %}
                            {{ section.settings.footer_bottom_copyright | split: '[lang2]' | first }}
                            {% endif %}
                        </address>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>