<div class="footer-inner">
    <div class="footer-middle4">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <div class="footer-column footer-col-1">
                        <div class="footer-logo">
                            <a class="footer_middle_logo" href="/">
                                {{ 'APMC_white_logo.png' | asset_url | img_tag }}
                            </a>
                        </div>
                        {% if section.settings.footer_social_share != '' %}
                        <div class="footer-area-socials">
                            <div class="social-media-link">
                                {{ section.settings.footer_social_share }}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="footer-column footer-col-2">
                        <div class="footer-link-menu">
                            {% assign list = linklists[section.settings.footer_linklist_type4] %}
                            <ul class="footer-list">
                                {% for link in list.links %}
                                <li class="theme-color">
                                    <a href="{{ link.url }}">
                                        {% if settings.language_enable %}
                                        <span class="lang1">{{ link.title | split: '|' | first }}</span>
                                        <span class="lang2">{{ link.title | split: '|' | last }}</span>
                                        {% else %}
                                        {{ link.title | split: '|' | first }}
                                        {% endif %}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="footer-column footer-col-3">
                        <div class="footer-contact-info">
                            {% if section.settings.footer_phone != '' %}
                            <div class="contact-item contact-phone">
                                {% if settings.language_enable %}
                                <span class="lang1">{{ section.settings.footer_phone | split: '[lang2]' | first }}</span>
                                <span class="lang2">{{ section.settings.footer_phone | split: '[lang2]' | last }}</span>
                                {% else %}
                                {{ section.settings.footer_phone | split: '[lang2]' | first }}
                                {% endif %}
                            </div>
                            {% endif %}
                            {% if section.settings.footer_email != '' %}
                            <div class="contact-item contact-email">
                                {% if settings.language_enable %}
                                <span class="lang1">{{ section.settings.footer_email | split: '[lang2]' | first }}</span>
                                <span class="lang2">{{ section.settings.footer_email | split: '[lang2]' | last }}</span>
                                {% else %}
                                {{ section.settings.footer_email | split: '[lang2]' | first }}
                                {% endif %}
                            </div>
                            {% endif %}
                            {% if section.settings.footer_address != '' %}
                            <div class="contact-item contact-address">
                                {% if settings.language_enable %}
                                <span class="lang1">{{ section.settings.footer_address | split: '[lang2]' | first }}</span>
                                <span class="lang2">{{ section.settings.footer_address | split: '[lang2]' | last }}</span>
                                {% else %}
                                {{ section.settings.footer_address | split: '[lang2]' | first }}
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="footer-column footer-col-3 about-foot">
                        {{section.settings.footsummary}}
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="footer-bottom4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    {% if section.settings.footer_bottom_copyright != '' %}
                    <address>
                        {% if settings.language_enable %}
                        <span class="lang1">{{ section.settings.footer_bottom_copyright | split: '[lang2]' | first }}</span>
                        <span class="lang2">{{ section.settings.footer_bottom_copyright | split: '[lang2]' | last }}</span>
                        {% else %}
                        {{ section.settings.footer_bottom_copyright | split: '[lang2]' | first }}
                        {% endif %}
                    </address>
                    {% endif %}
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="pay-ment">
                        {{ 'APMC_eagle_icon_white.png' | asset_url | img_tag: 'APMC Eagle', 'foot-icon' }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>