<div class="footer-inner">
    <div class="footer-middle2">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-column footer-col-1">
                        <div class="footer-logo">
                            <a class="footer_middle_logo" href="/">
                                <img src="{{ section.settings.footer_logo | img_url: '190x90' }}"/>
                            </a>
                        </div>
                        {% if section.settings.footer_text_col1_type2 != '' %}
                        <div class="text-block">
                            {% if settings.language_enable %}
                            <p class="lang1">{{ section.settings.footer_text_col1_type2 | split: '[lang2]' | first }}</p>
                            <p class="lang2">{{ section.settings.footer_text_col1_type2 | split: '[lang2]' | last }}</p>
                            {% else %}
                            {{ section.settings.footer_text_col1_type2 | split: '[lang2]' | first }}
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-column footer-col-2">
                        {% if section.settings.footer_title_col2_type2 != '' %}
                        <div class="footer-column-title">
                            {% if settings.language_enable %}
                            <h4 class="lang1">{{ section.settings.footer_title_col2_type2 | split: '[lang2]' | first }}</h4>
                            <h4 class="lang2">{{ section.settings.footer_title_col2_type2 | split: '[lang2]' | last }}</h4>
                            {% else %}
                            {{ section.settings.footer_title_col2_type2 | split: '[lang2]' | first }}
                            {% endif %}
                        </div>
                        {% endif %}
                        <div class="footer-link-menu">
                            {% assign list = linklists[section.settings.footer_linklist_type2] %}
                            <ul class="footer-list">
                                {% for link in list.links %}
                                <li class="theme-color">
                                    <a href="{{ link.url }}">
                                        {% if settings.language_enable %}
                                        <span class="lang1">{{ link.title | split: '|' | first }}</span>
                                        <span class="lang2">{{ link.title | split: '|' | last }}</span>
                                        {% else %}
                                        {{ link.title | split: '|' | first }}
                                        {% endif %}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-column footer-col-3">
                        {% if section.settings.footer_title_col3_type2 != '' %}
                        <div class="footer-column-title">
                            {% if settings.language_enable %}
                            <h4 class="lang1">{{ section.settings.footer_title_col3_type2 | split: '[lang2]' | first }}</h4>
                            <h4 class="lang2">{{ section.settings.footer_title_col3_type2 | split: '[lang2]' | last }}</h4>
                            {% else %}
                            {{ section.settings.footer_title_col3_type2 | split: '[lang2]' | first }}
                            {% endif %}
                        </div>
                        {% endif %}
                        <div class="instargram-photo">
                            {% include 'instagram' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {% if section.settings.footer_bottom_copyright != '' %}
                    <address>
                        {% if settings.language_enable %}
                        <span class="lang1">{{ section.settings.footer_bottom_copyright | split: '[lang2]' | first }}</span>
                        <span class="lang2">{{ section.settings.footer_bottom_copyright | split: '[lang2]' | last }}</span>
                        {% else %}
                        {{ section.settings.footer_bottom_copyright | split: '[lang2]' | first }}
                        {% endif %}
                    </address>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="footer-area-socials">
                        {% if section.settings.footer_social_share != '' %}
                        <div class="social-media-link">
                            {{ section.settings.footer_social_share }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>