<div class="footer-top-instagram">
    <div class="instagram-title">@INSTAGRAM</div>
    <div class="instagram-img">
        {% include 'instagram' %}
    </div>
</div>
<div class="footer-inner">
    <div class="row">
        <div class="footer-left">
            <div class="row footer-left-inner">
                <div class="col-md-5 col-sm-5">
                    <div class="footer-logo">
                        <a class="footer_middle_logo" href="/">
                            <img src="{{ section.settings.footer_logo | img_url: '190x90' }}"/>
                        </a>
                        {% if section.settings.footer_social_share != '' %}
                        <div class="footer-area-socials">
                            <div class="social-media-link">
                                {{ section.settings.footer_social_share }}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="footer-link-column2">
                        {% assign list = linklists[section.settings.footer_linklist_type1] %}
                        <ul class="footer-list">
                            {% for link in list.links %}
                            <li class="theme-color">
                                <a href="{{ link.url }}">
                                    {% if settings.language_enable %}
                                    <span class="lang1">{{ link.title | split: '|' | first }}</span>
                                    <span class="lang2">{{ link.title | split: '|' | last }}</span>
                                    {% else %}
                                    {{ link.title | split: '|' | first }}
                                    {% endif %}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="footer-contact-info">
                        {% if section.settings.footer_phone != '' %}
                        <div class="contact-item contact-phone">
                            {% if settings.language_enable %}
                            <span class="lang1">{{ section.settings.footer_phone | split: '[lang2]' | first }}</span>
                            <span class="lang2">{{ section.settings.footer_phone | split: '[lang2]' | last }}</span>
                            {% else %}
                            {{ section.settings.footer_phone | split: '[lang2]' | first }}
                            {% endif %}
                        </div>
                        {% endif %}
                        {% if section.settings.footer_email != '' %}
                        <div class="contact-item contact-email">
                            {% if settings.language_enable %}
                            <span class="lang1">{{ section.settings.footer_email | split: '[lang2]' | first }}</span>
                            <span class="lang2">{{ section.settings.footer_email | split: '[lang2]' | last }}</span>
                            {% else %}
                            {{ section.settings.footer_email | split: '[lang2]' | first }}
                            {% endif %}
                        </div>
                        {% endif %}
                        {% if section.settings.footer_address != '' %}
                        <div class="contact-item contact-address">
                            {% if settings.language_enable %}
                            <span class="lang1">{{ section.settings.footer_address | split: '[lang2]' | first }}</span>
                            <span class="lang2">{{ section.settings.footer_address | split: '[lang2]' | last }}</span>
                            {% else %}
                            {{ section.settings.footer_address | split: '[lang2]' | first }}
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="footer-bottom1">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        {% if section.settings.footer_bottom_copyright != '' %}
                        <address>
                            {% if settings.language_enable %}
                            <span class="lang1">{{ section.settings.footer_bottom_copyright | split: '[lang2]' | first }}</span>
                            <span class="lang2">{{ section.settings.footer_bottom_copyright | split: '[lang2]' | last }}</span>
                            {% else %}
                            {{ section.settings.footer_bottom_copyright | split: '[lang2]' | first }}
                            {% endif %}
                        </address>
                        {% endif %}
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="pay-ment">
                            <img src="{{ section.settings.footer_payment | img_url: '168x20' }}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-right">
            <div class="map-footer">
                {% if section.settings.footer_map_enabled == 'yes' %}
                <div class="block-googlemap">
                    <script src="//maps.googleapis.com/maps/api/js{% if settings.google_map_api_key != '' %}?key={{settings.google_map_api_key}}{% else %}?v=3.17{% endif %}" type="text/javascript"></script>
                    <script type="text/javascript">
                        function initialize() {
                            var pos = new google.maps.LatLng({{ settings.google_map_pin_latitude }}, {{settings.google_map_pin_longitude}});
                            var mapOptions = {
                                center: pos,
                                panControl: true,
                                scrollwheel: false,
                                zoomControl: true,
                                mapTypeControl: true,
                                scaleControl: true,
                                streetViewControl: true,
                                overviewMapControl: true,
                                zoom: {{settings.google_map_zoom}}
                        };
                            var map = new google.maps.Map(document.getElementById("store_map"), mapOptions);
                            var marker = new google.maps.Marker({
                                position: pos,
                                map: map,
                                title: '{{settings.google_map_address}}'
                            });
                        }
                        google.maps.event.addDomListener(window, 'load', initialize);
                    </script>
                    <div id="store_map" style="min-height: 340px; width: 100%;"></div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>