<div class="header">
    <div class="header-wrapper">
        <div class="header-left-area hidden-sm hidden-xs">
            <!-- Main Menu -->
            {% include 'main-menu' %}
            <!-- End Main Menu -->
        </div>

        <div class="header-middle-area">
            <div class="logo-header">
                {% if section.settings.logo_use_image %}
                <a href="/" class="logo">
                    <img class="x1" src="{{ section.settings.logo | img_url: '190x90' }}" alt="{{ shop.name }}" />
                </a>
                {% endif %}
                {% if section.settings.logo_white_use_image %}
                <a href="/" class="logo logo-white-specail">
                    <img class="x1" src="{{ section.settings.logo_white | img_url: '130x50' }}" alt="{{ shop.name }}" />
                </a>
                {% endif %}
            </div>
            <div class="menu-icon">
                <a href="javascript:;">
                    <i class="nc-icon-outline ui-2_menu-35"></i>
                </a>
            </div>
        </div>

        <div class="header-right-area">
            <div class="mini-cart">
                {% include 'header-cart' %}
            </div>

            <div class="action-link-right hidden-md hidden-sm hidden-xs">
                <ul class="link-right-area">
                    {% if customer %}
                    <li>
                        {% assign page_tmp = pages[settings.wishlist_page] %}
                        <a href="{{page_tmp.url}}" ><i class="nc-icon-outline ui-2_favourite-28"></i></a>
                    </li>
                    {% else %}
                    <li>
                        <a class="btn-open-login-popup" href="javascript: void(0);" ><i class="nc-icon-outline ui-2_favourite-28"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="search-control">
                <a href="javascript:void(0);" class="search-icon"><span><i class="nc-icon-outline ui-1_zoom"></i></span></a>
            </div>
            <div class="control-otherlinks">
                <span class="otherlinks-line-1"></span>
                <span class="otherlinks-line-2"></span>
                <span class="otherlinks-line-3"></span>
            </div>
        </div>
    </div>
</div>
<aside class="header--aside" id="header-aside">
    <div class="header-aside-wrapper">
        <span class="btn-close-aside-header nc-icon-outline ui-1_simple-remove"></span>
        <div class="header-aside-inner">
            <ul class="links-aside">
                {% if customer %}
                <li class="">
                    <a href="/account" {% if settings.language_enable %}data-translate="header.settings.my_account"{% endif %}>{{'header.settings.my_account' | t}}</a>
                </li>
                <li class="hidden-lg">
                    {% assign page_tmp = pages[settings.wishlist_page] %}
                    <a href="{{page_tmp.url}}" {% if settings.language_enable %}data-translate="header.settings.wishlist"{% endif %}>{{'header.settings.wishlist' | t}}</a>
                </li>
                <li class="hidden-xs">
                    <a href="/account/logout" {% if settings.language_enable %}data-translate="header.settings.logout"{% endif %}>{{ 'header.settings.logout' | t }}</a>
                </li>
                {% else %}
                <li class="">
                    <a class="btn-open-login-popup" href="javascript: void(0);" {% if settings.language_enable %}data-translate="header.settings.my_account"{% endif %}>{{'header.settings.my_account' | t}}</a>
                </li>
                <li class="hidden-lg">
                    <a class="btn-open-login-popup" href="javascript: void(0);" {% if settings.language_enable %}data-translate="header.settings.wishlist"{% endif %}>{{'header.settings.wishlist' | t}}</a>
                </li>
                <li class="btn-open-login-popup last">
                    <a href="javascript: void(0);" {% if settings.language_enable %}data-translate="customer.login.log_in"{% endif %}>{{ 'customer.login.log_in' | t }}</a>
                </li>
                {% endif %}
            </ul>
            <div class="lang-current-aside">
                {% include 'header-setting' %}
            </div>
            {% if section.settings.custom_block != '' %}
            <div class="custom-block">
                {% if settings.language_enable %}
                <div class="lang1">{{ section.settings.custom_block | split: '[lang2]' | first }}</div>
                <div class="lang2">{{ section.settings.custom_block | split: '[lang2]' | last }}</div>
                {% else %}
                {{ section.settings.custom_block | split: '[lang2]' | first }}
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</aside>
<div class="overlay-search">
    {% include 'search-bar' %}
    <span class="btn-close-search nc-icon-outline ui-1_simple-remove"></span>
</div>