<div class="cart-container">
  <a href="javascript:;" class="icon-cart-header">
    <i class="nc-icon-outline shopping_bag-20"></i><span class="cart-total"><span class="cart-qty">{{ cart.item_count }}</span><span>{{ 'cart.header.total_numb' | t }}</span><span class="price">00.00</span></span>
  </a> 
  <div class="cart-wrapper theme-border-color">
      <span class="btn-close-cart-wrapper nc-icon-outline ui-1_simple-remove"></span>
    <div class="cart-inner">
      <div class="cartloading" style="display: none;"><div class="spinner"><div class="circle"></div></div></div>
      <div class="cart-inner-content">
          <div class="text-your-cart" {% if settings.language_enable %}data-translate="cart.header.yourcart"{% endif %}><span>{{ 'cart.header.yourcart' | t }}</span></div>
        <div class="cart-content">

          {% if cart.items != empty %}
          <ul class="clearfix">
            {% for item in cart.items %}
            <li class="item-cart">
              <a class="product-image" href="{{item.url }}">
                <img src="{{ item | img_url: 'small' }}"  alt="{{ item.title | escape }}" />
              </a>
              <div class="product-details row-fluid show-grid">
                <p class="product-name">
                  <a href="{{item.url }}">
                    <span> 
                      {% if settings.language_enable %}
                      <span class="lang1">{{ item.product.title | split: '|' | first }}</span>
                      <span class="lang2">{{ item.product.title | split: '|' | last }}</span>
                      {% else %}
                      {{ item.product.title | split: '|' | first }}
                      {% endif %} 
                    </span>
                    {% if item.product.variants.size > 1 %}
                    <span class="variant_title"> - {{ item.variant.title }}</span>
                    {% endif %}
                  </a>
                </p>
                <div class="items">
                  <span class="price">{{ item.quantity }} × <span class="amount"><span class="money">{{ item.price | money }}</span></span></span>
                </div> 
                <div class="access">
                  <a href="javascript:;" class="btn-remove btn-remove-cart" data-id="{{item.variant_id}}" title="{{ 'cart.header.remove_this_item' | t }}"><i class="icon-cancel"></i></a>
                </div>
              </div> 
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p class="no-items-in-cart" {% if settings.language_enable %}data-translate="cart.header.no_item"{% endif %}>{{ 'cart.header.no_item' | t }}</p>
          {% endif %}
        </div> 
        {% if cart.items != empty %}
        <div class="cart-checkout">
          <div class="cart-info"> 
            <p class="subtotal">
              <span class="label" {% if settings.language_enable %}data-translate="cart.header.total"{% endif %}>{{ 'cart.header.total' | t }}</span>
              <span class="price"><span class="money">{{ cart.total_price | money }}</span></span>
            </p>
          </div>
          <div class="actions">
            <a href="/cart" class="btn-button view-cart bordered uppercase">
              <span {% if settings.language_enable %}data-translate="cart.header.view_cart"{% endif %}>{{ 'cart.header.view_cart' | t }}</span>
            </a>
            <a href="/checkout" class="btn-button bordered uppercase checkout-cart">
              <span {% if settings.language_enable %}data-translate="cart.header.checkout"{% endif %}>{{ 'cart.header.checkout' | t }}</span>
            </a>
          </div> 
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>