<div class="instagram-image">
    <div class="content-image-intagram">
        <ul id="rudr_instafeed"></ul>
    </div>
</div>
{% if settings.token_intagram != blank %}
<script>
    var token = '{{ settings.token_intagram }}',
        num_photos = {{settings.number_photo_show_instagram}};

    $.ajax({
        url: 'https://api.instagram.com/v1/users/self/media/recent',
        dataType: 'jsonp',
        type: 'GET',
        data: {access_token: token, count: num_photos},
        success: function(data){
            console.log(data);
            for( x in data.data ){
                $('#rudr_instafeed').append('<li><a target="_blank" href="' + data.data[x].link + '"><img src="'+data.data[x].images.standard_resolution.url+'"></a></li>');
            }
        },
        error: function(data){
            console.log(data);
        }
    });
</script>
{% endif %}
