<!-- /snippets/product-grid-item.liquid -->
{% assign sold_out = true %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}
{% assign on_sale = false %}
{% if product.compare_at_price_min > product.price_min %}
{% assign on_sale = true %}
{% endif %}
{% assign variant_tmp = product.selected_or_first_available_variant  %}
{% for variant in product.variants %}
{% if variant.available == true and variant.price < variant_tmp.price %}
{% assign variant_tmp = variant %}
{% endif %}
{% endfor %}
<div class="item-area">
    <div class="product-image-area">
        {% case settings.collection_aspect_ratio %}
        {% when '1' %}
        {%- assign image_width = settings.collection_ratio_width -%}
        {%- assign image_height = '' -%}
        {% else %}
        {%- assign image_width = settings.collection_ratio_width -%}
        {%- assign image_height = settings.collection_ratio_height -%}
        {% endcase %}
        {% capture image_size %}{{ image_width }}x{{ image_height }}{% endcapture %}
        <div class="loader-container" style="display: none;">
            <div class="loader">
                <i class="nc-icon-outline loader_refresh spin"></i>
            </div>
        </div>
        <a href="{{ product.url | within: collection }}" class="product-image">
            <img src="{{ product.featured_image.src | img_url: image_size, crop: 'center' }}" alt="{{ product.featured_image.alt | escape }}" class="img-responsive main">
            {% if product.images[1] and settings.collection_alternative_image != blank %}
            <img src="{{ product.images[1].src | img_url: image_size, crop: 'center' }}" alt="{{ product.images[1].alt | escape }}" class="alt-img img-responsive">
            {% endif %}
            <div class="item--overlay"></div>
        </a>
        {% if variant_tmp.compare_at_price > variant_tmp.price %}
        <div class="product-label">
            <div class="onsale">
                <span class="price_percentage">-{{ variant_tmp.compare_at_price | minus: variant_tmp.price | times: 100.0 | divided_by: variant_tmp.compare_at_price | money_without_currency | times: 100 | remove: '.0'}}%</span>
            </div>
        </div>
        {% endif %}
        {% if sold_out %}
        <div class="product-label">
            <div class="sold-out">{{ 'products.product.sold_out' | t }}</div>
        </div>
        {% endif %}
    </div>
    <div class="details-area">
        <h2 class="product-name">
            <a href="{{ product.url | within: collection }}" title="{{ product.title }}">
                {% if settings.language_enable %}
                <span class="lang1">{{ product.title | split: '|' | first }}</span>
                <span class="lang2">{{ product.title | split: '|' | last }}</span>
                {% else %}
                {{ product.title | split: '|' | first }}
                {% endif %}
            </a>
        </h2>
        {% if settings.collection_rating_star != blank %}
        <div class="ratings">
            <div class="rating-box">
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            </div>
        </div>
        {% endif %}
        {% if settings.collection_grid_color_swatch != blank %}
        <ul class="configurable-swatch-list">
            {% for option in product.options %}
            {% if option == 'Color' %}
            {% assign index = forloop.index0 %}
            {% assign colorlist = '' %}
            {% assign color = '' %}
            {% for variant in product.variants %}
            {% capture color %}
            {{ variant.options[index] }}
            {% endcapture %}
            {% unless colorlist contains color %}
            {% if variant.image.src != blank %}
            <li>
                <a href="javascript:void(0);" data-image="{{ variant.image.src | img_url: image_size }}">
                    <i style="background-image: url({{ color | downcase | strip_newlines | strip_html | remove: '  ' | append: '.png' | replace: ' ', '-' | asset_url }})"></i>
                </a>
            </li>
            {% endif %}
            {% capture tempList %}
            {{colorlist | append: color | append: ' '}}
            {% endcapture %}
            {% assign colorlist = tempList %}
            {% endunless %}
            {% endfor %}
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        <div class="product-short-desc">
            {% if product.description contains '[countdown]' %}
            {% assign des = product.description | split:'[/countdown]' | last %}
            {% if des contains '[/size]' %}
            {% assign des2 = des | split:'[size]' | first %}
            {% if settings.language_enable %}
            <span class="lang1">{{ des2 | strip_html | split: '[lang2]' | first | truncatewords: 30 }}</span>
            <span class="lang2">{{ des2 | strip_html | split: '[lang2]' | last | truncatewords: 30 }}</span>
            {% else %}
            {{ des2 | strip_html | split: '[lang2]' | first | truncatewords: 30 }}
            {% endif %}
            {% else %}
            {% if settings.language_enable %}
            <span class="lang1">{{ des | strip_html | split: '[lang2]' | first | truncatewords: 30 }}</span>
            <span class="lang2">{{ des | strip_html | split: '[lang2]' | last | truncatewords: 30 }}</span>
            {% else %}
            {{ des | strip_html | split: '[lang2]' | first | truncatewords: 30 }}
            {% endif %}
            {% endif %}
            {% else %}
            {% if product.description contains '[/size]' %}
            {% assign des = product.description | split:'[size]' | first %}
            {% if settings.language_enable %}
            <span class="lang1">{{ des | strip_html | split: '[lang2]' | first | truncatewords: 30 }}</span>
            <span class="lang2">{{ des | strip_html | split: '[lang2]' | last | truncatewords: 30 }}</span>
            {% else %}
            {{ des | strip_html | split: '[lang2]' | first | truncatewords: 30 }}
            {% endif %}
            {% else %}
            {% if settings.language_enable %}
            <span class="lang1">{{ product.content | strip_html | split: '[lang2]' | first | truncatewords: 30 }}</span>
            <span class="lang2">{{ product.content | strip_html | split: '[lang2]' | last | truncatewords: 30 }}</span>
            {% else %}
            {{ product.content | strip_html | split: '[lang2]' | first | truncatewords: 30 }}
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
        {% if settings.collection_product_price != blank %}
        <div class="price product-{{product.id}}">
            {% if on_sale %}
            <div class="compare-price">
                <span class="money">{{ product.compare_at_price | money }}</span>
            </div>
            {% endif %}
            {% if on_sale %}
            {% if product.price_varies %}
            {% assign sale_price = product.price | money %}
            <div class="special-price">
        <span class="money">
          {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
        </span>
            </div>
            {% else %}
            <div class="special-price">
                <span class="money">{{ product.price | money }}</span>
            </div>
            {% endif %}
            {% else %}
            {% if product.price_varies %}
            {% assign price = product.price | money %}
            <span class="money">{{ 'products.general.from_text_html' | t: price: price }}</span>
            {% else %}
            <span class="money">
        {{ product.price | money }}
      </span>
            {% endif %}
            {% endif %}
        </div>
        {% endif %}
        {% if settings.collection_actions != blank %}
        <div class="actions">
            {% if settings.collection_show_addtocart != blank %}
            <div class="action-list addtocart">
                {% if product.available %}
                {% if product.variants.size > 1 %}
                <a href="{{ product.url | within: collection }}" class="btn-cart select-options">
                    <i class="nc-icon-outline shopping_cart-add"></i>
                    <span class="text-cart" {% if settings.language_enable %}data-translate="products.product.add_to_cart"{% endif %}>{{ 'products.product.select_options' | t }} </span>
                </a>
                {% else %}
                <form action="/cart/add" data-productid="{{product.id}}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="quantity" value="1" />
                    <select class="hide" name="id" data-productid="{{product.id }}">
                        {% for variant in product.variants %}
                        <option value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn-cart add-to-cart">
                        <i class="nc-icon-outline shopping_cart-add"></i>
                        <span class="text-cart" {% if settings.language_enable %}data-translate="products.product.add_to_cart"{% endif %}>{{ 'products.product.add_to_cart' | t }} </span>
                    </button>
                </form>
                {% endif %}
                {% else %}
                <a href="{{ product.url | within: collection }}" class="btn-cart">
                    <i class="nc-icon-outline shopping_cart-add"></i>
                    <span class="text-cart" {% if settings.language_enable %}data-translate="products.product.add_to_cart"{% endif %}>{{ 'products.product.add_to_cart' | t }} </span>
                </a>
                {% endif %}
            </div>
            {% endif %}
            {% if settings.collection_show_addtolinks != blank %}
            <div class="action-list">
                {% if settings.wishlist_enable %}
                <div class="product-wishlist wishlist-{{product.id}}">
                    {% include 'wishlist-item-popup' %}
                </div>
                {% endif %}
            </div>
            {% endif %}
            <a href="javascript:void(0);" class="action-list quickview-icon quickview">
                <i class="nc-icon-outline ui-1_zoom"></i>
            </a>
        </div>
        {% endif %}
    </div>
</div>
<script data-id="product-block-json-{{product.id}}" type="text/template">productsObj.id{{product.id}} = {{product | json}};</script>
<script data-id="product-block-template-{{product.id}}" type="text/template">
    {% assign variant_tmp = product.selected_or_first_available_variant | default: product.variants.first %}
    <div class="product-view quick-view product">
        <div class="product-essential">
            <div class="product-img-box col-sm-5">
                <div class="product-img-list">
                    {% include 'media-quickview' %}
                </div>
            </div>
            <div class="product-shop col-sm-7">
                <div class="product-shop-wrapper">
                    <div class="product-name top-product-detail">
                        <h2>
                            <a href="{{ product.url | within: collection }}">
                                {% if settings.language_enable %}
                                <span class="lang1">{{ product.title | split: '|' | first }}</span>
                                <span class="lang2">{{ product.title | split: '|' | last }}</span>
                                {% else %}
                                {{ product.title | split: '|' | first }}
                                {% endif %}
                            </a>
                        </h2>
                    </div>
                    <div class="review-product-details">
                        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                    </div>
                    {% if settings.product_short_desc %}
                    <div class="short-description-detail">
                        {% if settings.product_short_desc %}
                        <div class="short-description-detail">
                            <div class="short-description">
                                {%if settings.product_short_desc == '1'%}
                                {% if product.description contains '[countdown]' %}
                                {% assign des = product.description | split:'[/countdown]' | last %}
                                {% if settings.language_enable %}
                                <span class="lang1">{{ des | strip_html | split: '[lang2]' | first | truncatewords: 30 }}</span>
                                <span class="lang2">{{ des | strip_html | split: '[lang2]' | last | truncatewords: 30 }}</span>
                                {% else %}
                                {{ des | strip_html | split: '[lang2]' | first | truncatewords: 30 }}
                                {% endif %}
                                {% else %}
                                {% if settings.language_enable %}
                                <span class="lang1">{{ product.content | strip_html | split: '[lang2]' | first | truncatewords: 30 }}</span>
                                <span class="lang2">{{ product.content | strip_html | split: '[lang2]' | last | truncatewords: 30 }}</span>
                                {% else %}
                                {{ product.content | strip_html | split: '[lang2]' | first | truncatewords: 30 }}
                                {% endif %}
                                {% endif %}
                                {%endif%}
                                {%if settings.product_short_desc == '2'%}
                                {% if product.description contains '[countdown]' %}
                                {% assign des = product.description | split:'[/countdown]' | last %}
                                {% if settings.language_enable %}
                                <div class="lang1">{{ des | split: '[lang2]' | first }}</div>
                                <div class="lang2">{{ des | split: '[lang2]' | last }}</div>
                                {% else %}
                                {{ des | split: '[lang2]' | first }}
                                {% endif %}
                                {% else %}
                                {% if settings.language_enable %}
                                <div class="lang1">{{ product.description | split: '[lang2]' | first }}</div>
                                <div class="lang2">{{ product.description | split: '[lang2]' | last }}</div>
                                {% else %}
                                {{ product.description | strip_html | split: '[lang2]' | first }}
                                {% endif %}
                                {% endif %}
                                {%endif%}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if settings.product_sample_vendor %}
                    <div class="sample-vendor"><span>{{ product.vendor }}</span></div>
                    {% endif %}
                    <div class="middle-product-detail">
                        <div class="product-type-data">
                            <div class="price-box">
                                <div id="price" class="detail-price" itemprop="price">
                                    {% if variant_tmp.compare_at_price > variant_tmp.price %}
                                    <s class="old-price"> {{ variant_tmp.compare_at_price | money }}</s>
                                    <!--span class="price_percentage">-{{ variant_tmp.compare_at_price | minus: variant_tmp.price | times: 100.0 | divided_by: variant_tmp.compare_at_price | money_without_currency | times: 100 | remove: '.0'}}%</span-->
                                    {% endif %}
                                    <div class="price product-{{product.id}}">{{ variant_tmp.price | money }}</div>
                                </div>
                                <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
                                {% if product.available %}
                                <link itemprop="availability" href="http://schema.org/InStock" />
                                {% else %}
                                <link itemprop="availability" href="http://schema.org/OutOfStock" />
                                {% endif %}
                            </div>
                        </div>
                        {% if settings.product_availability %}
                        <div class="product-inventory">
                            <span {% if settings.language_enable %}data-translate="products.product.availability"{% endif %}>{{ 'products.product.availability' | t }} </span>
                            <span class="in-stock">
              {% if product.selected_or_first_available_variant.inventory_management %}
              {% assign first_inventory = product.selected_or_first_available_variant.inventory_quantity %}
              {% if first_inventory > 0 %}
              {{first_inventory}} {{ 'products.product.in_stock' | t }}
              {% else %}
              {{ 'products.product.out_of_stock' | t }}
              {% endif %}
              {% else %}
              {{ 'products.product.many_in_stock' | t }}
              {% endif %}
  </span>
                        </div>
                        {% endif %}
                        {% if settings.product_sku %}
                        <div class="product-sku"><span {% if settings.language_enable %}data-translate="products.product.sku"{% endif %}>{{ 'products.product.sku' | t }} </span><span class="sku">{{ product.sku }}</span></div>
                        {% endif %}
                        {% if settings.product_type %}
                        <div class="product-type">
                            <label {% if settings.language_enable %}data-translate="products.product.product_type"{% endif %}>{{ 'products.product.product_type' | t }} </label>
                            <span>{{ product.type }}</span>
                        </div>
                        {% endif %}
                        {% if settings.product_vendor %}
                        <div class="product-vendor">
                            <label {% if settings.language_enable %}data-translate="products.product.product_vendor"{% endif %}>{{ 'products.product.product_vendor' | t }} </label>
                            <span>{{ product.vendor }}</span>
                        </div>
                        {% endif %}
                        {% if product.description contains '[countdown]' %}
                        {% assign count_down_first = product.description | split:'[/countdown]' | first %}
                        {% assign count_down_final = count_down_first | split:'[countdown]' | last %}
                        <div class="bottom-product-dailydeal bottom-home-dailydeal">
                            <span class="title" {% if settings.language_enable %}data-translate="products.product.count_down"{% endif %}>{{'products.product.count_down' | t }} </span><div class="product-date" data-date="{{ count_down_final }}"></div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="product-type-main">
                        <form class="product-form" id="product-form" action="/cart/add" data-productid="{{product.id}}" method="post" enctype="multipart/form-data" data-product-id="{{product.id}}" data-id="{{ product.handle }}"> 
{% if product.available %}{% include 'subscription-product' %}{% endif %} 
                            <div id="product-variants" class="product-options" {% if product.options.size == 1 and product.options.first == 'Title' %}style="display: none;"{% endif %}>
                            <select id="product-select" name="id" data-productid="{{product.id }}" style="display: none;">
                                {% for variant in product.variants %}
                                {% if variant.available %}
                                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                                {% else %}
                                <option disabled="disabled">
                                    {{ variant.title }} - {{'products.product.sold_out' | t}}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                    </div>
                    <div class="product-options-bottom">
                        <div class="add-to-cart-box">
                            <div class="input-box pull-left">
                                <input type="text" id="qty" name="quantity" value="1" min="1" class="quantity-selector">
                                <div class="plus-minus">
                                    <div class="increase items" onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;">
                                        <i class="icon-up-dir"></i>
                                    </div>
                                    <div class="reduced items" onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty > 1 ) result.value--;return false;">
                                        <i class="icon-down-dir"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="actions">
                                <div class="action-list addtocart">
                                    <div class="button-wrapper">
                                        {% if product.available %}
                                        <div class="button-wrapper-content">
                                            <button type="submit" name="add" class="btn-cart add-to-cart bordered uppercase">
                          <span>
                            <span {% if settings.language_enable %}data-translate="products.product.add_to_cart"{% endif %}>{{ 'products.product.add_to_cart' | t }}</span>
  </span>
                                            </button>
                                        </div>
                                        {% else %}
                                        <div class="button-wrapper-content">
                                            <a href="javascript:;" class="btn-cart add-to-cart">
                          <span>
                            <span {% if settings.language_enable %}data-translate="products.product.sold_out"{% endif %}>{{ 'products.product.sold_out' | t }}</span>
  </span>
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="action-list wishlist wishlist-{{product.id}}">
                                    {% include 'wishlist-item'%}
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                {% if settings.product_tags %}
                <div class="tags">
                    <i class="icon-tags" {% if settings.language_enable %}data-translate="blogs.article.tags"{%endif%}>{{ 'blogs.article.tags' | t }}</i>
                    {% for tag in product.tags %}
                    <span class="separator">/</span>
                    <a href="/collections/all/{{ tag | handle }}" rel="tag">{{ tag }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</script>