<div class="filter-products">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <h3 class="title-widget">
                {% if settings.language_enable %}
                <span class="lang1">{{ settings.products_collection_single_title_1 | split: '|' | first }}</span>
                <span class="lang2">{{ settings.products_collection_single_title_1 | split: '|' | last }}</span>
                {% else %}
                {{ settings.products_collection_single_title_1 | split: '|' | first }}
                {% endif %}
            </h3>
            <div class="category-products">
                {% assign limit = settings.products_collection_single_limit_1 %}
                {% assign collectionfilter1 = collections[settings.home_products_collection_single_1] %}
                <div class="products-grid">
                    {% for product in collectionfilter1.products limit: settings.products_collection_single_limit_1 %}
                    {% include 'product_collection_item' %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <h3 class="title-widget">
                {% if settings.language_enable %}
                <span class="lang1">{{ settings.products_collection_single_title_2 | split: '|' | first }}</span>
                <span class="lang2">{{ settings.products_collection_single_title_2 | split: '|' | last }}</span>
                {% else %}
                {{ settings.products_collection_single_title_2 | split: '|' | first }}
                {% endif %}
            </h3>
            <div class="category-products">
                {% assign limit = settings.products_collection_single_limit_2 %}
                {% assign collectionfilter2 = collections[settings.home_products_collection_single_2] %}
                <div class="products-grid">
                    {% for product in collectionfilter2.products limit: settings.products_collection_single_limit_2 %}
                    {% include 'product_collection_item' %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <h3 class="title-widget">
                {% if settings.language_enable %}
                <span class="lang1">{{ settings.products_collection_single_title_3 | split: '|' | first }}</span>
                <span class="lang2">{{ settings.products_collection_single_title_3 | split: '|' | last }}</span>
                {% else %}
                {{ settings.products_collection_single_title_3 | split: '|' | first }}
                {% endif %}
            </h3>
            <div class="category-products">
                {% assign limit = settings.products_collection_single_limit_3 %}
                {% assign collectionfilter3 = collections[settings.home_products_collection_single_3] %}
                <div class="products-grid">
                    {% for product in collectionfilter3.products limit: settings.products_collection_single_limit_3 %}
                    {% include 'product_collection_item' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

