<!-- /snippets/product-grid-item.liquid -->  
{% assign sold_out = true %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}
{% assign on_sale = false %}
{% if product.compare_at_price_min > product.price_min %}
{% assign on_sale = true %}
{% endif %}
{% assign variant_tmp = product.selected_or_first_available_variant  %}
{% for variant in product.variants %}
{% if variant.available == true and variant.price < variant_tmp.price %}
{% assign variant_tmp = variant %}	
{% endif %}
{% endfor %}
<div class="item-area"> 
  <div class="product-image-area"> 
    {% case settings.collection_aspect_ratio %}
    {% when '1' %}
    {%- assign image_width = settings.collection_ratio_width -%}
    {%- assign image_height = '' -%} 
    {% else %}
    {%- assign image_width = settings.collection_ratio_width -%}
    {%- assign image_height = settings.collection_ratio_height -%}
    {% endcase %}  
    {% capture image_size %}{{ image_width }}x{{ image_height }}{% endcapture %}   
    <div class="loader-container" style="display: none;">
      <div class="loader">
        <i class="nc-icon-outline loader_refresh spin"></i>
      </div>
    </div> 
    <a href="{{ product.url | within: collection }}" class="product-image"> 
      <img data-src="{{ product.featured_image.src | img_url: image_size, crop: 'center' }}" src="{{ 'placeholder.png' | asset_url }}" alt="{{ product.featured_image.alt | escape }}" class="img-responsive lazy main">
    </a> 
    {% if variant_tmp.compare_at_price > variant_tmp.price %}
    <div class="product-label">
      <div class="onsale">
        <span class="price_percentage">-{{ variant_tmp.compare_at_price | minus: variant_tmp.price | times: 100.0 | divided_by: variant_tmp.compare_at_price | money_without_currency | times: 100 | remove: '.0'}}%</span>
      </div>
    </div>
    {% endif %}
    {% if sold_out %}
    <div class="product-label">
      <div class="sold-out">{{ 'products.product.sold_out' | t }}</div>
    </div>
    {% endif %}
  </div>
  <div class="details-area">
    <h2 class="product-name">
      <a href="{{ product.url | within: collection }}" title="{{ product.title }}"> 
        {% if settings.language_enable %}
        <span class="lang1">{{ product.title | split: '|' | first }}</span>
        <span class="lang2">{{ product.title | split: '|' | last }}</span>
        {% else %}
        {{ product.title | split: '|' | first }}
        {% endif %}
      </a>
    </h2>
    {% if settings.collection_rating_star != blank %}
    <div class="ratings">
      <div class="rating-box">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span> 
      </div> 
    </div>
    {% endif %}
    {% if settings.collection_product_price != blank %}
    <div class="price">  
      {% if on_sale %} 
      <div class="compare-price">
        <span class="money">{{ product.compare_at_price | money }}</span>
      </div>
      {% endif %} 
      {% if on_sale %}
      {% if product.price_varies %}
      {% assign sale_price = product.price | money %}
      <div class="special-price">
        <span class="money">
          {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
        </span>
      </div>
      {% else %} 
      <div class="special-price">
        <span class="money">{{ product.price | money }}</span>
      </div>
      {% endif %}
      {% else %}
      {% if product.price_varies %}
      {% assign price = product.price | money %}
      <span class="money">{{ 'products.general.from_text_html' | t: price: price }}</span>
      {% else %}
      <span class="money">
        {{ product.price | money }}
      </span>
      {% endif %}
      {% endif %} 
    </div>   
    {% endif %}
  </div>
</div>