{% assign number_of_related_products_to_show = settings.related_product_limit | plus:1 %}

{% assign current_product = product %}
{% assign current_product_tags = product.tags %}
{% assign found_first_match = false %}
{% assign found_second_match = false %}
{% assign first_related_product = true %}

{% assign product_count = 1 %}

{% paginate collections.all.products by 1000 %}
{% for product in collections.all.products %}
{% unless product.handle == current_product.handle %}
{% for tag in product.tags %}
{% if current_product_tags contains tag and tag != 'Made in USA' %}
{% if found_first_match == false %}
{% assign found_first_match = true %}
{% assign first_match = tag %}
{% elsif found_second_match == false %}
{% assign found_second_match = true %}
{% assign second_match = tag %}
{% endif %}
{% endif %}
{% endfor %}

{% if found_first_match == true %}
{% if first_related_product == true %}
{% assign first_related_product = false %} 
<h3 class="title-widget"><span class="inner">{{ 'products.general.related_products' | t }}</span></h3> 
  <div class="category-products">
    <div class="data-carousel" 
         data-items="{{ settings.related_product_column }}"
         data-auto="{{ settings.related_product_autoplay }}"
         data-paging="{{ settings.related_product_show_paging }}"
         data-margin="20"
         data-414 = "1"
         data-768 = "2"
         data-992 = "3"
         data-1200 = "{{ settings.related_product_column }}"
         data-nav="{{ settings.related_product_show_nav }}"       
         data-prev='{{ settings.related_product_nav_prev }}'
         data-next='{{ settings.related_product_nav_next }}' style="display: none;"></div>
    {% assign carousel = settings.related_product_carousel %} 
    {% assign limit = settings.related_product_limit | plus: 1 %} 
    {% if settings.related_product_column != '5' and settings.related_product_column != '7' %}
    {% assign col = 12 | divided_by: settings.related_product_column %}
    {% else %}
    {% assign col = settings.related_product_column %}
    {% endif %}
    {% if carousel %}
    <div class="products-grid {% if carousel %}carousel-init owl-carousel {% else %} grid-product-masonry {% endif %}"> 
      {% else %}
      <ul class="products-grid columns{{settings.related_product_column}}">
        {% endif %}
        {% endif %}

        {% if product_count < number_of_related_products_to_show %}    
        {% if product.tags contains first_match or product.tags contains second_match %}  
        {% assign productIndex = forloop.index | minus:1 %}
        {% assign delayTime = settings.time_lazy_load | times : productIndex %}  
        {% if carousel %}
        <div class="item product {% if carousel == blank %} col-sm-{{ col }} {% endif %}" data-order="{{ forloop.index | plus:1 }}">
          {% else %}
          <li class="item product product-layout-grid">
            {% endif %}
            {% include 'product-grid-item' with collection.handle %}
            {% if carousel %}
        </div>
        {% else %}
        </li>
      {% endif %}
      {% assign product_count = product_count | plus:1 %}
      {% endif %}
      {% endif %}
      {% endif %}
      {% endunless %}
      {% endfor %}
      {% if first_related_product == false %} 
      {% if carousel %}
    </div>
    {% else %}
    </ul>
  {% endif %}
</div> 
{% endif %}
{% endpaginate %} 