<!-- /snippets/search-bar.liquid --> 
<form id="search_mini_form" action="/search" method="get" class="search-bar">
  <div class="form-search">
    {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
    <input id="search" type="search" name="q" value="{{ search.terms | escape }}" {% if settings.language_enable %}data-translate="general.search.placeholder"{% endif %} class="input-text" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
    
    <button type="submit" class="search-button">
      <span {% if settings.language_enable %}data-translate="general.search.submit"{% endif %}>{{ 'general.search.submit' | t }}</span>
    </button>
  </div>
</form>
