<!-- /templates/customers/order.liquid -->
<div style="text-align: center">
    {% include 'breadcrumb' %}
</div>
<div class="order-dashboard">
  <div class="container"> 
    <p><a href="/account" class="btn-button bordered uppercase" {% if settings.language_enable %}data-translate="customer.account.return"{% endif %}>{{ 'customer.account.return' | t }}</a></p>
    <div class="row">
      <div class="col-sm-12">
        <h4 {% if settings.language_enable %}data-translate="customer.order.title|name:{{order.name}}"{% endif %}>{{ 'customer.order.title' | t: name: order.name }}</h4>
        {% assign created_date = order.cancelled_at | date: "%B %d, %Y %I:%M%p" %}
        <p {% if settings.language_enable %}data-translate="customer.order.date|date:{{created_date}}"{% endif %}>{{ 'customer.order.date' | t: date: order.created_at | date: "%B %d, %Y %I:%M%p" }}</p>

        {% if order.cancelled %}
        <div class="errors">
          {% assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" %}
          <p class="h5" {% if settings.language_enable %}data-translate="customer.order.cancelled|date:{{cancelled_at}}"{% endif %}>{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
          <p {% if settings.language_enable %}data-translate="customer.order.cancelled_reason|reason:{{order.cancel_reason}}"{% endif %}>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
        </div>
        {% endif %}
        <div class="table-wrap">
          <table class="full">
            <thead>
              <tr>
                <th {% if settings.language_enable %}data-translate="customer.order.product"{% endif %}>{{ 'customer.order.product' | t }}</th>
                <th {% if settings.language_enable %}data-translate="customer.order.sku"{% endif %}>{{ 'customer.order.sku' | t }}</th>
                <th {% if settings.language_enable %}data-translate="customer.order.price"{% endif %}>{{ 'customer.order.price' | t }}</th>
                <th class="text-right" {% if settings.language_enable %}data-translate="customer.order.quantity"{% endif %}>{{ 'customer.order.quantity' | t }}</th>
                <th class="text-right" {% if settings.language_enable %}data-translate="customer.order.total"{% endif %}>{{ 'customer.order.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for line_item in order.line_items %}
              <tr id="{{ line_item.id }}">
                <td>
                  {{ line_item.title | link_to: line_item.product.url }}
                  {% if line_item.fulfillment %}
                  <div class="note">
                    {% assign created_at = line_item.fulfillment.created_at | date: format: 'month_day_year' %}
                    {{ 'customer.order.fulfilled_at' | t: date: created_at }}
                    {% if line_item.fulfillment.tracking_number %}
                    <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
                    {% endif %}
                  </div>
                  {% endif %}
                </td>
                <td>{{ line_item.sku }}</td>
                <td>{{ line_item.price | money }}</td>
                <td class="text-right">{{ line_item.quantity }}</td>
                <td class="text-right">{{ line_item.quantity | times: line_item.price | money }}</td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4" {% if settings.language_enable %}data-translate="customer.order.subtotal"{% endif %}>{{ 'customer.order.subtotal' | t }}</td>
                <td class="text-right">{{ order.subtotal_price | money }}</td>
              </tr>

              {% for discount in order.discounts %}
              <tr class="order_summary discount">
                <td colspan="4">{{ discount.code }} <span {% if settings.language_enable %}data-translate="customer.order.discount"{% endif %}>{{ 'customer.order.discount' | t }}</span></td>
                <td class="text-right">{{ discount.savings | money }}</td>
              </tr>
              {% endfor %}

              {% for shipping_method in order.shipping_methods %}
              <tr>
                <td colspan="4"><span {% if settings.language_enable %}data-translate="customer.order.shipping"{% endif %}>{{ 'customer.order.shipping' | t }}</span> ({{ shipping_method.title }})</td>
                <td class="text-right">{{ shipping_method.price | money }}</td>
              </tr>
              {% endfor %}

              {% for tax_line in order.tax_lines %}
              <tr>
                <td colspan="4"><span {% if settings.language_enable %}data-translate="customer.order.tax"{% endif %}>{{ 'customer.order.tax' | t }}</span> ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
                <td class="text-right">{{ tax_line.price | money }}</td>
              </tr>
              {% endfor %}

              <tr>
                <td colspan="4"><strong {% if settings.language_enable %}data-translate="customer.order.total"{% endif %}>{{ 'customer.order.total' | t }}</strong></td>
                <td class="text-right"><strong>{{ order.total_price | money }} {{ order.currency }}</strong></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="billing-address">
          <h4 {% if settings.language_enable %}data-translate="customer.order.billing_address"{% endif %}>{{ 'customer.order.billing_address' | t }}</h4>
          <div class="content">
            <p><strong {% if settings.language_enable %}data-translate="customer.order.payment_status"{% endif %}>{{ 'customer.order.payment_status' | t }}:</strong> {{ order.financial_status_label }}</p>
            <h5>{{ order.billing_address.name }}</h5>
            <p>
              {% if order.billing_address.company != '' %}
              {{ order.billing_address.company }}<br>
              {% endif %}
              {{ order.billing_address.street }}<br>
              {{ order.billing_address.city }}<br>
              {% if order.billing_address.province != '' %}
              {{ order.billing_address.province }}<br>
              {% endif %}
              {{ order.billing_address.zip | upcase }}<br>
              {{ order.billing_address.country }}<br>
              {{ order.billing_address.phone }}
            </p>
          </div>
        </div>
        <div class="shipping-address">
          <h4 {% if settings.language_enable %}data-translate="customer.order.shipping_address"{% endif %}>{{ 'customer.order.shipping_address' | t }}</h4>
          <div class="content">
            <p><strong {% if settings.language_enable %}data-translate="customer.order.fulfillment_status"{% endif %}>{{ 'customer.order.fulfillment_status' | t }}:</strong> {{ order.fulfillment_status_label }}</p>

            <h5>{{ order.shipping_address.name }}</h5>
            <p>
              {% if order.shipping_address.company != '' %}
              {{ order.shipping_address.company }}<br>
              {% endif %}
              {{ order.shipping_address.street }}<br>
              {{ order.shipping_address.city }}<br>
              {% if order.shipping_address.province != '' %}
              {{ order.shipping_address.province }}<br>
              {% endif %}
              {{ order.shipping_address.zip | upcase }}<br>
              {{ order.shipping_address.country }}<br>
              {{ order.shipping_address.phone }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>