<!-- /templates/customers/register.liquid -->
<div style="text-align: center">
    {% include 'breadcrumb' %}
</div>
<div class="container"> 
  <div class="account-create">
	<div class="page-title">
        <h1 {% if settings.language_enable %}data-translate="customer.register.title"{% endif %}>{{ 'customer.register.title' | t }}</h1>
    </div> 

    <div class="form-box">
      {% form 'create_customer' %}

        {{ form.errors | default_errors }}
      <div class="content">
        <h2 class="legend" {% if settings.language_enable %}data-translate="customer.register.title_form"{% endif %}>{{ 'customer.register.title_form' | t }}</h2>
        <div class="row">
          <div class="col-sm-6">
            <ul class="form-list">
              <li>
                <label for="FirstName" class="hidden-label"><span {% if settings.language_enable %}data-translate="customer.register.first_name"{% endif %}>{{ 'customer.register.first_name' | t }}</span><em>*</em></label>
                <input type="text" name="customer[first_name]" id="FirstName" class="input-full" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>
              </li>
              <li>
                <label for="LastName" class="hidden-label"><span {% if settings.language_enable %}data-translate="customer.register.last_name"{% endif %}>{{ 'customer.register.last_name' | t }}</span><em>*</em></label>
                <input type="text" name="customer[last_name]" id="LastName" class="input-full" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
              </li> 
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="form-list"> 
              <li>
                <label for="Email" class="hidden-label"><span {% if settings.language_enable %}data-translate="customer.register.email"{% endif %}>{{ 'customer.register.email' | t }}</span><em>*</em></label>
                <input type="email" name="customer[email]" id="Email" class="input-full{% if form.errors contains 'email' %} error{% endif %}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
              </li>
              <li>
                <label for="CreatePassword" class="hidden-label"><span {% if settings.language_enable %}data-translate="customer.register.password"{% endif %}>{{ 'customer.register.password' | t }}</span><em>*</em></label>
                <input type="password" name="customer[password]" id="CreatePassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}">
              </li>
              <li> 
                <div class="buttons-set">
                  <p class="required" {% if settings.language_enable %}data-translate="customer.register.required"{% endif %}>{{ 'customer.register.required' | t }}</p>
                  <input type="submit" {% if settings.language_enable %}data-translate="customer.register.submit"{% endif %} value="{{ 'customer.register.submit' | t }}" class="btn-button bordered">
                  
                </div>  
              </li>
            </ul>
          </div>
        </div> 
      </div>
      {% endform %}
    </div> 
  </div> 
</div>
