<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head> 
  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" /> 
  {% if template contains 'index' %}
  {% if page_title != blank and page_title != 'Welcome' %}
  <title>{{ page_title }}</title>
  {% else %}
  <title>{{ shop.name }}</title>
  {% endif %}
  {% elsif template == '404' %}
  <title>Page Not Found - {{ shop.name }}</title>
  {% else %}
  <title>{{ page_title }} - {{ shop.name }}</title>
  {% endif %}

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}"> 
  {% if settings.disable_responsive == 'no'%}
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  {% endif %}
  <meta name="theme-color" content="{{ settings.color_primary }}">
  {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
  {% if template contains 'collection' %}
  {{ 'bootstrap-select.min.css' | asset_url | stylesheet_tag }}
  {% endif %}
  <!-- CSS ================================================== --> 
  {{ 'javier-icon.css' | asset_url | stylesheet_tag }}
  {{ 'nucleo-outline.css' | asset_url | stylesheet_tag }}
  {{ 'jquery.mCustomScrollbar.css' | asset_url | stylesheet_tag }}
  {{ 'lightcase.css' | asset_url | stylesheet_tag }}
  {{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}
  {{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }} 
  {{ 'effect.css' | asset_url | stylesheet_tag }}
  {{ 'ultramegamenu.css' | asset_url | stylesheet_tag }} 
  {{ 'magnific-popup.css' | asset_url | stylesheet_tag }} 
  {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
  {{ 'styles-home.scss.css' | asset_url | stylesheet_tag }}
  {{ 'responsive.css' | asset_url | stylesheet_tag }}
  {{ 'shoreline.css' | asset_url | stylesheet_tag }}

  {% if template contains 'product' %}
  {{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }} 
  {% endif %}
  {{ 'animate.css' | asset_url | stylesheet_tag }}
  {% if settings.background_color == 'dark' %}
  {{ 'dark.css' | asset_url | stylesheet_tag }}
  {% endif %}
  {{ 'color-config.scss.css' | asset_url | stylesheet_tag }} 
  {% if settings.layout == '1024px' %}
  {{ 'layout_1024.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}
  {% if settings.layout == '1280px' %}
  {{ 'layout_1280.scss.css' | asset_url | stylesheet_tag }} 
  {% endif %}
  {% if settings.layout == 'full_width' %}
  {{ 'layout_full_width.scss.css' | asset_url | stylesheet_tag }} 
  {% endif %}
  {{ 'disable_border_radius.scss.css' | asset_url | stylesheet_tag }}
  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  {{ 'bootstrap.min.js' | asset_url | script_tag }}
  {{ 'jquery.mCustomScrollbar.concat.min.js' | asset_url | script_tag }}
  {{ 'lightcase.js' | asset_url | script_tag }}
  {{ 'masonry.js' | asset_url | script_tag }}
  {{ 'custom-scripts.js' | asset_url | script_tag }}
  {{ 'jquery.cookie.min.js' | asset_url | script_tag }}
  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
  {% if settings.basic_font == 'google'%}
  <link href="//fonts.googleapis.com/css?family={{ settings.google_font }}:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400&amp;subset=cyrillic-ext,greek-ext,latin,latin-ext,cyrillic,greek,vietnamese" rel='stylesheet' type='text/css'>
  {% endif %}
  {% if settings.heading_font == 'google'%}
  <link href="//fonts.googleapis.com/css?family={{ settings.heading_google_font }}:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400&amp;subset=cyrillic-ext,greek-ext,latin,latin-ext,cyrillic,greek,vietnamese" rel='stylesheet' type='text/css'>
  {% endif %}
  <script type="text/javascript">
    var productsObj = {}; 
    var swatch_color_enable = {{ settings.product_color_swatches_enable }};
    var asset_url = '{{'/' | asset_url}}';
    var money_format = '<span class="money">{{shop.money_format}}</span>';
    var multi_language = {{settings.language_enable}};
  </script> 
  {% include 'translator' %}
  <style>
    {% if settings.product_color_swatches_enable != blank %}
    .product-view .product-options .selector-wrapper {
      display: none;
    }
    {% endif %} 
    {% if settings.disable_responsive == 'yes'%}
    .container{
    	width:1170px!important;
    }
    {% endif %}
    {{settings.custom_style_1}}
    {{settings.custom_style_2}}
  </style>
</head> 
<body id="{{ page_title | handle }}" class="{% if settings.background_color == 'dark' %}dark{% endif %} {% if settings.layout == '1660px' %}layout_1700 {% endif %}{% if settings.layout == 'full_width' %}full_width {% endif %}{% if customer %}customer-logged-in {% endif %} template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} {% if settings.boxed == 'boxed' %}boxed{% endif %}{% if settings.border_radius == 'yes' %}disable_radius{% endif %}">
  <!-- begin site-header -->
  <div class="wrapper">
    <div class="page">
      {% section 'header' %}
      <!-- //site-header --> 
      {% if settings.page_header == 'yes' %} 
      <div class="page-header"></div>
      {% endif %}
      <div class="main-container">
        <div class="main-wrapper">
          <div class="main"> 
            {{ content_for_layout }} 
          </div> 
        </div>
      </div> 
      <!-- begin site-footer -->
      {% section 'footer' %}
    </div>
  </div>
  <!-- //site-footer -->
<!--  login popup-->
  {% include 'login-popup' %}

  {% if template contains 'index' and settings.newsletter_enable == '1' %}
  {% include 'newsletter-popup' %} 
  {% elsif settings.newsletter_enable == '2' %}
  {% include 'newsletter-popup' %} 
  {% endif %}
  {% include 'box-popup' %} 
  <script type="text/javascript">
    var frontendData = {}; 
    frontendData.enableCurrency = {{ settings.currency_enable }}; 
    var dataZoom = {}; 
    {% if template contains 'product' %}
    dataZoom.lightbox = {{ settings.media_zoom_lightbox_enable }};
    {% else %}
    dataZoom.lightbox = false;
    {% endif %}
    dataZoom.position = '{{ settings.media_zoom_position }}';
    var cartData = {};
    if (multi_language && translator.isLang2()) {
      cartData.removeItemLabel = window.lang2.cart.header.remove_this_item;
      cartData.totalLabel = window.lang2.cart.header.total;
      cartData.yourcart = window.lang2.cart.header.yourcart;
      cartData.totalNumb = window.lang2.cart.header.total_numb;
      cartData.noItemLabel = window.lang2.cart.header.no_item;
      cartData.buttonViewCart = window.lang2.cart.header.view_cart;
      cartData.buttonCheckout = window.lang2.cart.header.checkout;
      window.inventory_text = {
        in_stock: window.lang2.products.product.in_stock,
        many_in_stock: window.lang2.products.product.many_in_stock,
        out_of_stock: window.lang2.products.product.out_of_stock,
        add_to_cart: window.lang2.products.product.add_to_cart,
        sold_out: window.lang2.products.product.sold_out
      };
      window.date_text = {
        year_text: window.lang2.general.date.year_text,
        month_text: window.lang2.general.date.month_text,
        week_text: window.lang2.general.date.week_text,
        day_text: window.lang2.general.date.day_text,
        year_singular_text: window.lang2.general.date.year_singular_text,
        month_singular_text: window.lang2.general.date.month_singular_text,
        week_singular_text: window.lang2.general.date.week_singular_text,
        day_singular_text: window.lang2.general.date.day_singular_text,
        hour_text: window.lang2.general.date.hour_text,
        min_text: window.lang2.general.date.min_text,
        sec_text: window.lang2.general.date.sec_text,
        hour_singular_text: window.lang2.general.date.hour_singular_text,
        min_singular_text: window.lang2.general.date.min_singular_text,
        sec_singular_text: window.lang2.general.date.sec_singular_text
      };
    }else{
      cartData.removeItemLabel = '{{ 'cart.header.remove_this_item' | t }}';
      cartData.totalLabel = '{{ 'cart.header.total' | t }}';
      cartData.yourcart = '{{ 'cart.header.yourcart' | t }}';
      cartData.totalNumb = '{{ 'cart.header.total_numb' | t }}';
      cartData.noItemLabel = '{{ 'cart.header.no_item' | t }}';
      cartData.buttonViewCart = '{{ 'cart.header.view_cart' | t }}';
      cartData.buttonCheckout = '{{ 'cart.header.checkout' | t }}';
      window.inventory_text = {
        in_stock: "{{ 'products.product.in_stock' | t }}",
        many_in_stock: "{{ 'products.product.many_in_stock' | t }}",
        out_of_stock: "{{ 'products.product.out_of_stock' | t }}",
        add_to_cart: "{{ 'products.product.add_to_cart' | t }}",
        sold_out: "{{ 'products.product.sold_out' | t }}"
      }; 

      window.date_text = {
        year_text: "{{ 'general.date.year_text' | t }}",
        month_text: "{{ 'general.date.month_text' | t }}",
        week_text: "{{ 'general.date.week_text' | t }}",
        day_text: "{{ 'general.date.day_text' | t }}",
        year_singular_text: "{{ 'general.date.year_singular_text' | t }}",
        month_singular_text: "{{ 'general.date.month_singular_text' | t }}",
        week_singular_text: "{{ 'general.date.week_singular_text' | t }}",
        day_singular_text: "{{ 'general.date.day_singular_text' | t }}",
        hour_text: "{{ 'general.date.hour_text' | t }}",
        min_text: "{{ 'general.date.min_text' | t }}",
        sec_text: "{{ 'general.date.sec_text' | t }}",
        hour_singular_text: "{{ 'general.date.hour_singular_text' | t }}",
        min_singular_text: "{{ 'general.date.min_singular_text' | t }}",
        sec_singular_text: "{{ 'general.date.sec_singular_text' | t }}"
      };
    } 

  </script> 
  {% if template == 'collection' or template contains 'collection.' %}
  {{ 'shopify_common.js' | asset_url | script_tag }} 
  {{ 'jquery.history.min.js' | asset_url | script_tag }}
  {{ 'bootstrap-select.js' | asset_url | script_tag }}  
  {% endif %}
  {{ 'theme-scripts.js' | asset_url | script_tag }} 
  {{ "jquery.elevatezoom.min.js" | asset_url | script_tag }} 
  {% if template contains 'product' %}
  {{ "jquery.fancybox.pack.js" | asset_url | script_tag }} 
  {% endif %}
  {{ 'option_selection.js' | asset_url | script_tag }} 
  {{ 'frontend.js' | asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  {% include 'currency' %}
  {% include 'linked-options' %} 
  <script> 
    {% if newHash %}
    $(function() {
      form.updateHash('{{ newHash }}');
    });
    {% endif %}
    {% if resetPassword %}
    $(function() {
      form.resetPasswordSuccess();
    });
    {% endif %}
  </script>   
  {% include 'search-autocomplete' %}
{% include 'subscription-theme-footer' %}
</body>
</html>
