<div data-section-id="{{ section.id }}" data-section-type="banner-image-section" class="banner-image-section banner-image-2">
    <div class="banner-image">
        <div class="row">
            <div class="col-md-6 no-padding">
                <div class="box-inner">
                    <div class="banner--image banner-background-1" style="background-image: url({{ section.settings.image_banner_21 | img_url: 'master' }})"></div>
                    {% if section.settings.text_banner_21 != blank %}
                    <div class="banner--infor">
                        {{ section.settings.text_banner_21 }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 no-padding">
                <div class="box-inner">
                    <div class="banner--image banner-background-2" style="background-image: url({{ section.settings.image_banner_22 | img_url: 'master' }})"></div>
                    {% if section.settings.text_banner_22 != blank %}
                    <div class="banner--infor">
                        {{ section.settings.text_banner_22 }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
{
"name": "Banner Image",
"settings": [
    {
    "type": "header",
    "content": "Banner Image"
    },
    {
    "type": "image_picker",
    "id": "image_banner_21",
    "label": "Image 1"
    },
    {
    "type": "textarea",
    "id": "text_banner_21",
    "label": "Text 1"
    },
    {
    "type": "image_picker",
    "id": "image_banner_22",
    "label": "Image 2"
    },
    {
    "type": "textarea",
    "id": "text_banner_22",
    "label": "Text 2"
    }
	],
	"presets": [{
      "name": "Banner Image",
      "category": "Banner Image"
  	}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
