<div data-section-id="{{ section.id }}" data-section-type="banner-image-section" class="banner-image-section">
    <div class="banner-image">
        <div class="row">
            <div class="col-md-4">
                <div class="box-inner">
                    <div class="banner--image banner-background-1" style="background-image: url({{ section.settings.image_banner_1 | img_url: 'master' }})"></div>
                    {% if section.settings.text_banner_1 != blank %}
                    <div class="banner--infor">
                        {{ section.settings.text_banner_1 }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-inner">
                    <div class="banner--image banner-background-2" style="background-image: url({{ section.settings.image_banner_2 | img_url: 'master' }})"></div>
                    {% if section.settings.text_banner_2 != blank %}
                    <div class="banner--infor banner2">
                        {{ section.settings.text_banner_2 }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-inner">
                    <div class="banner--image banner-background-3" style="background-image: url({{ section.settings.image_banner_3 | img_url: 'master' }})"></div>
                    {% if section.settings.text_banner_3 != blank %}
                    <div class="banner--infor">
                        {{ section.settings.text_banner_3 }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
{
"name": "Banner Image",
"settings": [
    {
    "type": "header",
    "content": "Banner Image"
    },
    {
    "type": "image_picker",
    "id": "image_banner_1",
    "label": "Image 1"
    },
    {
    "type": "textarea",
    "id": "text_banner_1",
    "label": "Text 1"
    },
    {
    "type": "image_picker",
    "id": "image_banner_2",
    "label": "Image 2"
    },
    {
    "type": "textarea",
    "id": "text_banner_2",
    "label": "Text 2"
    },
    {
    "type": "image_picker",
    "id": "image_banner_3",
    "label": "Image 3"
    },
    {
    "type": "textarea",
    "id": "text_banner_3",
    "label": "Text 3"
    }
	],
	"presets": [{
      "name": "Banner Image",
      "category": "Banner Image"
  	}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
