<div data-section-id="{{ section.id }}" data-section-type="blog-article-section" class="blog-article-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    {% if settings.language_enable %}
                    <span class="lang1">{{ section.settings.blog_article_title | split: '|' | first }}</span>
                    <span class="lang2">{{ section.settings.blog_article_title | split: '|' | last }}</span>
                    {% else %}
                    {{ section.settings.blog_article_title | split: '|' | first }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="blog_article">
                {%- assign blog = blogs[section.settings.blog] -%}
                {% unless blog.empty? %}
                <div class="latest_news">
                    <div class="recent-posts">
                        <div class="">
                            {% for article in blog.articles limit:section.settings.blog_article_limit %}
                            <div class="{% if section.settings.number_columns_blog_show != blank %}col-md-{{ section.settings.number_columns_blog_show }}{% endif %} col-sm-6">
                                <div class="item">
                                    <div class="feature-image-blog hidden">
                                        {% if article.image %}
                                        <a href="{{ article.url }}" class="article-image">
                                            <div class="post-image" style="background-image: url({{ article | img_url: 'master' }})"></div>
                                        </a>
                                        {% endif %}
                                    </div>
                                    <div class="content-detail-blog">
                                        <div class="postTitle">
                                            <h2>
                                                <a href="{{ article.url }}">
                                                    {% if settings.language_enable %}
                                                    <span class="lang1">{{ article.title | split: '|' | first }}</span>
                                                    <span class="lang2">{{ article.title | split: '|' | last }}</span>
                                                    {% else %}
                                                    {{ article.title | split: '|' | first }}
                                                    {% endif %}
                                                </a>
                                            </h2>
                                        </div>
                                        <div class="postContent">
                                            {% if settings.language_enable %}
                                            <span class="lang1">{{ article.content | strip_html | split: '[lang2]' | first | truncatewords: 10}}</span>
                                            <span class="lang2">{{ article.content | strip_html | split: '[lang2]' | last | truncatewords: 10}}</span>
                                            {% else %}
                                            {{ article.content |strip_html | split: '[lang2]' | first | truncatewords: 10}}
                                            {% endif %}
                                        </div>
                                        <a href="{{ article.url }}" class="btn-readmore" {% if settings.language_enable %}data-translate="blogs.article.read_more"{% endif %}>{{ 'blogs.article.read_more' | t }}</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endunless %}
            </div>
        </div>
    </div>
</div>
{% schema %}
{
"name": "Blog Article",
"class": "index-section",
"settings": [
{
"type": "text",
"id": "blog_article_title",
"label": "Blog Title"
},
{
"id": "blog",
"type": "blog",
"label": "Blog"
},
{
"type": "text",
"id": "blog_article_limit",
"label": "Number of article to show",
"default": "2"
},
{
"type": "select",
"id": "number_columns_blog_show",
"label": "Number Columns Blog Show.",
"options": [
{
"value": "12",
"label": "1"
},
{
"value": "6",
"label": "2"
},
{
"value": "4",
"label": "3"
},
{
"value": "3",
"label": "4"
}
],
"default": "4"
}
],
"presets": [
{
"name": "Blog posts",
"category": "Blog"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
