<div data-section-id="{{ section.id }}" data-section-type="article-section" class="brand-secdion-cosy">
    <div class="section-title hidden">
        <div class="container">
            <div class="row">
                {% if settings.language_enable %}
                <span class="lang1">{{ section.settings.title | split: '|' | first }}</span>
                <span class="lang2">{{ section.settings.title | split: '|' | last }}</span>
                {% else %}
                {{ section.settings.title | split: '|' | first }}
                {% endif %}
            </div>
        </div>
    </div>
  <div class="container featured-brands">
    <div class="brands-slider owl-no-narrow">
      <div class="data-carousel"  
           data-auto="{{ section.settings.autoplay }}"
           data-items="{{ section.settings.columns }}"
           data-1200="{{ section.settings.columns }}"
           data-992="4"
           data-768="4"
           data-640="3"
           data-480="2"
           data-paging="{{ section.settings.paging }}"
           data-nav="{{ section.settings.navigation }}"
           data-margin="{{ section.settings.margin }}"
           data-prev='{{ section.settings.prev }}' 
           data-next='{{ section.settings.next }}' style="display: none;"></div>
    </div>
    <div class="carousel-init owl-carousel">
      {% for block in section.blocks %}
      <div class="item" style="padding-top:10px;">
        <a href="{{ block.settings.link }}"><img src="{{ block.settings.image | img_url: '173x103' }}" alt="{{ section.settings.image.alt }}" style="width:inherit;"/></a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
{
"name": "Featured Brands",
"class": "index-section",
"settings": [    
{
"type": "text",
"id": "title",
"label": "Title"
},
{
"type": "text",
"id": "autoplay",
"label": "Slideshow",
"info": "Change to any integrer for example 5000 to play every 5 seconds. Leave empty to disable autoplay."
}, 
{
"type": "text",
"id": "columns",
"label": "Columns"
},
{
"type": "text",
"id": "margin",
"label": "Item Margin"
},
{
"type": "checkbox",
"id": "paging",
"label": "Show Paging"
},
{
"type": "checkbox",
"id": "navigation",
"label": "Show Navigation"
},
{
"type": "text",
"id": "prev",
"label": "Prev Navigation",
"default": "<i class=\"icon-chevron-left\"></i>"
},
{
"type": "text",
"id": "next",
"label": "Next Navigation",
"default": "<i class=\"icon-chevron-right\"></i>"
} 
],
"blocks": [
{
"type": "image",
"name": "Brand Image",
"settings": [ 
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "url",
"id": "link",
"label": "Link"
}
]
} 
],
"presets": [
{
"name": "Featured Brands",
"category": "brands",
"settings": { 
"autoplay": "5000"
}
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}