<div data-section-id="{{ section.id }}" data-section-type="custom-support-section" class="custom-support-section">
    <div class="custom-support" style="background-image: url({{ section.settings.background_support | img_url: 'master' }})">
      <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-sx-12 block4-info-box">
                <div class="icon-boxes-inner">
                    <div class="aio-icon-left">
                        <div class="aio-icon advanced">
                            <i class="nc-icon-outline shopping_delivery-fast"></i>
                        </div>
                    </div>
                    <div class="box-contents">
                        {% if section.settings.custom_support_content_1 != blank %}
                        {{ section.settings.custom_support_content_1 }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-sx-12 block4-info-box">
                <div class="icon-boxes-inner">
                    <div class="aio-icon-left">
                        <div class="aio-icon advanced">
                            <i class="nc-icon-outline objects_anchor"></i>
                        </div>
                    </div>
                    <div class="box-contents">
                        {% if section.settings.custom_support_content_2 != blank %}
                        {{ section.settings.custom_support_content_2 }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-sx-12 block4-info-box">
                <div class="icon-boxes-inner">
                    <div class="aio-icon-left">
                        <div class="aio-icon advanced">
                            <i class="nc-icon-outline shopping_discount"></i>
                        </div>
                    </div>
                    <div class="box-contents">
                        {% if section.settings.custom_support_content_3 != blank %}
                        {{ section.settings.custom_support_content_3 }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-sx-12 block4-info-box">
                <div class="icon-boxes-inner">
                    <div class="aio-icon-left">
                        <div class="aio-icon advanced">
                            <i class="nc-icon-outline ui-3_security"></i>
                        </div>
                    </div>
                    <div class="box-contents">
                        {% if section.settings.custom_support_content_4 != blank %}
                        {{ section.settings.custom_support_content_4 }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
{% schema %}
{
"name": "Custom Support",
"settings": [
    {
    "type": "header",
    "content": "Custom Support Content"
    },
    {
    "type": "image_picker",
    "id": "background_support",
    "label": "Image Background"
    },
    {
    "type": "textarea",
    "id": "custom_support_content_1",
    "label": "Custom Support 1" 
    }, 
    {
    "type": "textarea",
    "id": "custom_support_content_2",
    "label": "Custom Support 2" 
    }, 
    {
    "type": "textarea",
    "id": "custom_support_content_3",
    "label": "Custom Support 3" 
    },
    {
    "type": "textarea",
    "id": "custom_support_content_4",
    "label": "Custom Support 4"
    }
	],
	"presets": [{
      "name": "Custom Support",
      "category": "Custom Support"
  	}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
