<div class="image-background-header-faqs">
    <div class="container">
        <div class="row">
            <div class="faqs_title">
                <h1>
                    {% if settings.language_enable %}
                    <span class="lang1">{{ page.title | split: '|' | first }}</span>
                    <span class="lang2">{{ page.title | split: '|' | last }}</span>
                    {% else %}
                    {{ page.title | split: '|' | first }}
                    {% endif %}
                </h1>
            </div>
            <div class="faqs_breadcrumb">
                {% include 'breadcrumb' %}
            </div>
        </div>
    </div>
</div>
<div class="faqs-total-title">
    <div class="container">
        <div class="row">
            <div class="content-text">
                <h2>
                    {% if section.settings.title_faqs_total != blank %}
                    {{ section.settings.title_faqs_total }}
                    {% endif %}
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="content-faqs-inner">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-6">
        <div class="title-faqs">
          {% if section.settings.title_faqs_left != blank %}
          {{ section.settings.title_faqs_left }}
          {% endif %}
        </div>
        {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
        {% if block.settings.questions_faqs != blank and block.settings.answer_faqs != blank %}
        <div class="item">
          <div class="content">
            <div class="content-faqs">
              <div class="pertinacia">
                {% if block.settings.questions_faqs != blank %}
                <p class="faqs"><i class="nc-icon-outline ui-2_small-add"></i> {{ block.settings.questions_faqs }} </p>
                {% endif %}
                {% if block.settings.answer_faqs != blank %}
                <p class="faqs2">{{ block.settings.answer_faqs }}</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
      <div class="col-md-2 hidden-sm"></div>
      <div class="col-md-5 col-sm-6">
        <div class="title-faqs">
          {% if section.settings.title_faqs_right != blank %}
          {{ section.settings.title_faqs_right }}
          {% endif %}
        </div>
        {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
        {% if block.settings.questions_faqs1 != blank and block.settings.answer_faqs1 != blank %}
        <div class="item">
          <div class="content">
            <div class="content-faqs">
              <div class="pertinacia">
                {% if block.settings.questions_faqs1 != blank %}
                <p class="faqs"><i class="nc-icon-outline ui-2_small-add"></i> {{ block.settings.questions_faqs1 }} </p>
                {% endif %}
                {% if block.settings.answer_faqs1 != blank %}
                <p class="faqs2">{{ block.settings.answer_faqs1 }}</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
"name": "FAQs Page",
"max_blocks": 20,
"settings": [
{
"type": "text",
"id": "title_faqs_total",
"label": "Title Middle "
},
{
"type": "text",
"id": "title_faqs_left",
"label": "Title Left",
"default": "General Questions"
},
{
"type": "text",
"id": "title_faqs_right",
"label": "Title Right",
"default": "Shopping Questions"
}
],
"blocks": [
{
"type": "text",
"name": "Text FAQs",
"settings": [
{
"type": "header",
"content": "Custum FAQs Left"
},
{
"type": "textarea",
"id": "questions_faqs",
"label": "Questions content",
"info": "Questions display left.",
"default": "Sed do eiusmod tempor incididunt ?"
},
{
"type": "textarea",
"id": "answer_faqs",
"label": "Answer content",
"info": "Answer for questions display left.",
"default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do enim adeiusmod tempor incididunt ut labore et dolore magna aliqua minim veniam, quis nostrud exercitation."
},
{
"type": "header",
"content": "Custum FAQs Right"
},
{
"type": "textarea",
"id": "questions_faqs1",
"label": "Questions content",
"info": "Questions display right.",
"default": "Labore et dolore magna aliqua ?"
},
{
"type": "textarea",
"id": "answer_faqs1",
"label": "Answer content",
"info": "Answer for questions display right.",
"default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do enim adeiusmod tempor incididunt ut labore et dolore magna aliqua minim veniam, quis nostrud exercitation."
}
]
}
],
"presets": [{
"name": "FAQs Page",
"category": "FAQs",
"settings": {

},
"blocks": [
{
"type": "text"
}
]
}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
