{% assign delayTime = settings.time_lazy_load | times : 4 %}

<footer class="footer-wrapper {% if section.settings.fixed_position_footer_enabled == 'yes' %}fixed-position{% endif %}">

    <div class="footer-container footer-{{section.settings.typefooter}}">

        {% include 'footer_type4' %}

    </div>

    <div id="back-top" class="hidden-phone">
        <a href="#top">
            <div class="sticker-wrapper">
                <div class="sticker">
                    <i class="nc-icon-outline arrows-1_tail-up"></i>
                </div>
            </div>
        </a>
    </div>
</footer>
{% schema %}
{
"name": "Footer",
"settings": [
{
"type": "select",
"id": "typefooter",
"label": "Footer Type",
"info": "choose footer type",
"options": [
{
"value": "type1",
"label": "Footer Type 1"
},
{
"value": "type2",
"label": "Footer Type 2"
},
{
"value": "type3",
"label": "Footer Type 3"
},
{
"value": "type4",
"label": "Footer Type 4"
},
{
"value": "type5",
"label": "Footer Type 5"
}
],
"default": "type1"
},
{
    "type": "textarea",
    "id": "footsummary",
    "label": "About Footer Section",
    "info": "Enter Short Summary / About Statement"
},
{
"type": "select",
"id": "fixed_position_footer_enabled",
"label": "Enable Fixed Position Footer",
"options": [
{
"value": "yes",
"label": "Yes"
},
{
"value": "no",
"label": "No"
}
],
"info":"It will leave only Footer Bottom Area as Fixed Position on the ONLY HOMEPAGE.",
"default": "yes"
},
{
"type": "header",
"content": "Footer"
},
{
"type": "image_picker",
"id": "footer_logo",
"label": "Logo Image Src for Footer"
},
{
"type": "select",
"id": "footer_map_enabled",
"label": "Show Google Map in Footer",
"options": [
{
"value": "yes",
"label": "Yes"
},
{
"value": "no",
"label": "No"
}
],
"default": "yes"
},
{
"type": "text",
"id": "footer_phone",
"label": "Phone Number"
},
{
"type": "text",
"id": "footer_email",
"label": "Email"
},
{
"type": "text",
"id": "footer_address",
"label": "Address"
},
{
"type": "textarea",
"id": "footer_social_share",
"label": "Footer Social Share"
},
{
"type": "textarea",
"id": "footer_bottom_copyright",
"label": "Footer Text Copyright"
},
{
"type": "image_picker",
"id": "footer_payment",
"label": "Payment Image Src for Footer"
},
{
"type": "header",
"content": "Footer - Type1"
},
{
"type": "link_list",
"id": "footer_linklist_type1",
"label": "Footer Link List."
},
{
"type": "header",
"content": "Footer - Type2"
},
{
"type": "textarea",
"id": "footer_text_col1_type2",
"label": "Custom Text"
},
{
"type": "text",
"id": "footer_title_col2_type2",
"label": "Custom Title Column2"
},
{
"type": "link_list",
"id": "footer_linklist_type2",
"label": "Footer Link List."
},
{
"type": "text",
"id": "footer_title_col3_type2",
"label": "Custom Title Column3"
},
{
"type": "header",
"content": "Footer - Type3"
},
{
"type": "textarea",
"id": "footer_text_col1_type3",
"label": "Custom Text"
},
{
"type": "text",
"id": "footer_title_col2_type3",
"label": "Custom Title Column2"
},
{
"type": "link_list",
"id": "footer_linklist_type3",
"label": "Footer Link List."
},
{
"type": "text",
"id": "footer_title_col3_type3",
"label": "Custom Title Column3"
},
{
"type": "header",
"content": "Footer - Type4"
},
{
"type": "link_list",
"id": "footer_linklist_type4",
"label": "Footer Link List."
},
{
"type": "header",
"content": "Footer - Type5"
},
{
"type": "textarea",
"id": "footer_text_col1_type5",
"label": "Custom Text"
},
{
"type": "text",
"id": "footer_title_col2_type5",
"label": "Custom Title Column2"
},
{
"type": "link_list",
"id": "footer_linklist_type5",
"label": "Footer Link List."
},
{
"type": "text",
"id": "footer_title_col3_type5",
"label": "Custom Title Column3"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}