{% if section.settings.sticky_header_on_mobile == 'enable' %}
<style>
  @media (max-width: 991px){

    .header-container.sticky-header, .header-container.sticky-header.type12,
    .template-index .header-container.sticky-header.type8{
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 50;
      box-shadow: 0 0 3px rgba(0,0,0,.3);
      transition: all 0.3s;
      bottom: auto;
    }
  } 
</style>
 {% endif %}
<div data-section-id="{{ section.id }}" data-section-type="header-section">
  {% if settings.show_notice == 'yes' %}
  {% include 'top-newsletter' %}
  {%endif%} 
  <header class="main-section-header">
    <div class="header-container {{section.settings.type}}">
        {% if section.settings.type == 'type1' %}
        {% include 'header_type1' %}
        {% endif %}
        {% if section.settings.type == 'type2' %}
        {% include 'header_type2' %}
        {% endif %}
        {% if section.settings.type == 'type3' %}
        {% include 'header_type3' %}
        {% endif %}
        {% if section.settings.type == 'type4' %}
        {% include 'header_type4' %}
        {% endif %}
        {% if section.settings.type == 'type5' %}
        {% include 'header_type5' %}
        {% endif %}
    </div>
    {% if section.settings.sticky_header_enable == 'enable'%}
    <script type="text/javascript"> 
      $(document).ready(function(){ 
        var scrolled = false;
        var heiheader = $('.header-container').innerHeight();
        var heisub = heiheader - 80;
        var heisub1 = heiheader - 60;
        $(window).scroll(function(){
          if(heiheader < $(window).scrollTop() && !scrolled){
              if($('.header-container').hasClass('type3') || $('.header-container').hasClass('type4') || $('.header-container').hasClass('type5')){
                  $('.header-container').addClass('sticky-header');
              }
            $('.header-container .main-nav').addClass('container');
            scrolled = true;
          }
            if($('.header-container').hasClass('type4')){
                if(heisub1 > $(window).scrollTop() && scrolled){
                    $('.header-container').removeClass('sticky-header');
                    $('.header-container .main-nav').removeClass('container');
                    scrolled = false;
                }
            }else {
                if(heisub > $(window).scrollTop() && scrolled){
                    $('.header-container').removeClass('sticky-header');
                    $('.header-container .main-nav').removeClass('container');
                    scrolled = false;
                }
            }
        }) 
      }); 
    </script>
    {% endif %}
    <div class="mobile-nav">
      {% include 'mobile-menu' %} 
    </div>
    <div class="mobile-nav-overlay"></div>
  </header> 
</div>
{% schema %}
{
"name": "Header",
"settings": [
{
"type": "select",
"id": "type",
"label": "Header Type",
"info": "choose header type",
"options": [
{
"value": "type1",
"label": "Header Type 1"
},
{
"value": "type2",
"label": "Header Type 2"
},
{
"value": "type3",
"label": "Header Type 3"
},
{
"value": "type4",
"label": "Header Type 4"
},
{
"value": "type5",
"label": "Header Type 5"
}
],
"default": "type1"
},
{
"type": "select",
"id": "language_flag",
"label": "Show Flags in Language Switcher",
"options": [
{
"value": "yes",
"label": "Yes"
},
{
"value": "no",
"label": "No"
}
],
"default": "yes"
},
{
"type": "textarea",
"id": "custom_block",
"label": "Custom Block"
},
{
"type": "header",
"content": "Logo"
},
{
"type": "checkbox",
"id": "logo_use_image",
"label": "Use Logo"
},
{
"type": "image_picker",
"id": "logo",
"label": "Logo", 
"info": "Maximum logo dimensions are 450px wide by 200px high. The uploaded file will be resized to fit within those constraints."
},
{
"type": "checkbox",
"id": "logo_white_use_image",
"label": "Use Logo White"
},
{
"type": "image_picker",
"id": "logo_white",
"label": "Logo White",
"info": "Maximum logo dimensions are 450px wide by 200px high. The uploaded file will be resized to fit within those constraints."
},
{
"type": "header",
"content": "Header Sticky"
},
{
"type": "select",
"id": "sticky_header_enable",
"label": "Enable sticky header",
"options": [
{
"value": "enable",
"label": "Enable"
},
{
"value": "disable",
"label": "Disable"
}
],
"default": "enable"
},
{
"type": "select",
"id": "sticky_header_on_mobile",
"label": "Sticky Header on Mobile",
"options": [
{
"value": "enable",
"label": "Enable"
},
{
"value": "disable",
"label": "Disable"
}
],
"default": "enable"
},
{
"type": "header",
"content": "Custum Block Header Style 2"
},
{
"type": "textarea",
"id": "custum_block_style_2",
"label": "Custum Block"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
