<div class="clear" >

<div class="section-title" >

<span>

<h1>{{ section.settings.title }}</h1>

</span>

</div>

{% include 'instagram'  %}



</div>

{% schema %}
  {
    "name": "Instagram Feed",
    "class": "instagram-feed",
    "settings": [
        {
            "id": "title",
            "type": "text",
            "label": "Title",
            "default": "Instagram Feed title"

        }
    ],
    "presets": [{
      "name": "Instagram Feed",
      "category": "Text"
    }]
  }
{% endschema %}