<div class=" clear" >

    <h2>APMC // E-Mail List</h2>

    <p>Join our mailing list to keep up on news, events &amp; happenings from AP Moto Club</p>

    {% include 'header_newsletter' %}

</div>


{% schema %}
  {
    "name": "Mailing List Section",
    "class": "mailinglist-section",
    "settings": [
        {
            "id": "mailing-list-section",
            "type": "text",
            "label": "Mailing List Block"
        }
    ],
    "presets": [
        {
            "name": "Mailing List Section",
            "category": "Text"
        }
    ]

  }
{% endschema %}
