<div class=" clear" >

    <h2>APMC // Members</h2>

    <h3>Join a community of like minded humans </h3>

    <p>AP Moto Club Members get exclusive access to new products, discounts on merchandise, storage services, free APMC gear monthly and so much more. </p>

    <a class="block-button" href="/products/membership-level-1">Level 1</a> <a class="block-button" href="/products/membership-level-2" >Level 2</a>

</div>


{% schema %}
  {
    "name": "Member Section",
    "class": "member-section",
    "settings": [
        {
            "id": "member-section",
            "type": "text",
            "label": "Member Block"
        }
    ],
    "presets": [
        {
            "name": "Member Section",
            "category": "Text"
        }
    ]

  }
{% endschema %}
