<div data-section-id="{{ section.id }}" data-section-type="product-collection-section" class="section-product-collection">
    <div class="container" style="margin-top:20px;">
        <div class="filter-products">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <h3 class="title-widget">
                        {% if settings.language_enable %}
                        <span class="lang1">{{ section.settings.products_collection_title_1 | split: '|' | first }}</span>
                        <span class="lang2">{{ section.settings.products_collection_title_1 | split: '|' | last }}</span>
                        {% else %}
                        {{ section.settings.products_collection_title_1 | split: '|' | first }}
                        {% endif %}
                    </h3>
                    <div class="category-products">
                        {% assign limit = section.settings.products_collection_limit_1 %}
                        {% assign collectionfilter1 = collections[section.settings.home_products_collection_1] %}
                        <div class="products-grid">
                            {% for product in collectionfilter1.products limit: section.settings.products_collection_limit_1 %}
                            {% include 'product_collection_item' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h3 class="title-widget">
                        {% if settings.language_enable %}
                        <span class="lang1">{{ section.settings.products_collection_title_2 | split: '|' | first }}</span>
                        <span class="lang2">{{ section.settings.products_collection_title_2 | split: '|' | last }}</span>
                        {% else %}
                        {{ section.settings.products_collection_title_2 | split: '|' | first }}
                        {% endif %}
                    </h3>
                    <div class="category-products">
                        {% assign limit = section.settings.products_collection_limit_2 %}
                        {% assign collectionfilter2 = collections[section.settings.home_products_collection_2] %}
                        <div class="products-grid">
                            {% for product in collectionfilter2.products limit: section.settings.products_collection_limit_2 %}
                            {% include 'product_collection_item' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h3 class="title-widget">
                        {% if settings.language_enable %}
                        <span class="lang1">{{ section.settings.products_collection_title_3 | split: '|' | first }}</span>
                        <span class="lang2">{{ section.settings.products_collection_title_3 | split: '|' | last }}</span>
                        {% else %}
                        {{ section.settings.products_collection_title_3 | split: '|' | first }}
                        {% endif %}
                    </h3>
                    <div class="category-products">
                        {% assign limit = section.settings.products_collection_limit_3 %}
                        {% assign collectionfilter3 = collections[section.settings.home_products_collection_3] %}
                        <div class="products-grid">
                            {% for product in collectionfilter3.products limit: section.settings.products_collection_limit_3 %}
                            {% include 'product_collection_item' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "Product Collection",
    "settings": [
		{
        "type":"header",
        "content":"Product Collection"
        },
        {
        "type": "text",
        "id": "products_collection_title_1",
        "label": "Product Collection title 1"
        },
        {
        "type": "collection",
        "id": "home_products_collection_1",
        "label": "Product Collection 1 use:"
        },
        {
        "type": "text",
        "id": "products_collection_limit_1",
        "label": "Limit",
        "default": "3"
        },
        {
        "type": "text",
        "id": "products_collection_title_2",
        "label": "Product Collection title_2"
        },
        {
        "type": "collection",
        "id": "home_products_collection_2",
        "label": "Product Collection 2 use:"
        },
        {
        "type": "text",
        "id": "products_collection_limit_2",
        "label": "Limit",
        "default": "3"
        },
        {
        "type": "text",
        "id": "products_collection_title_3",
        "label": "Product Collection title 3"
        },
        {
        "type": "collection",
        "id": "home_products_collection_3",
        "label": "Product Collection 3 use:"
        },
        {
        "type": "text",
        "id": "products_collection_limit_3",
        "label": "Limit",
        "default": "3"
        }
	],
	"presets": [{
      "name": "Product Collection",
      "category": "Product Collection"
  	}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
