{% assign carousel = section.settings.product_list_carousel %} 
{% assign limit = section.settings.product_list_limit %} 
{% if section.settings.product_list_column != '5' and section.settings.product_list_column != '7' %}
{% assign col = 12 | divided_by: section.settings.product_list_column %}
{% else %}
{% assign col = section.settings.product_list_column %}
{% endif %}
{% assign product_limitation = 0 %}
<section data-section-id="{{ section.id }}" data-section-type="section_product_list" class="section_product_list">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    {% if settings.language_enable %}
                    <span class="lang1">{{ section.settings.product_list_title | split: '|' | first }}</span>
                    <span class="lang2">{{ section.settings.product_list_title | split: '|' | last }}</span>
                    {% else %}
                    {{ section.settings.product_list_title | split: '|' | first }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main-tab-products">
            <div class="tab-product-collection">
                <div class="category-detail ">
                    <div class="tab-content">
                        {% if section.settings.product_list_collection_use !='' %}
                        <div class="tab-pane active" id="collection1">
                            <div class="category-products">
                                {% assign collection1 = collections[section.settings.product_list_collection_use] %}
                                {%- assign collection = collections[section.settings.collection] -%}
                                <div class="data-carousel"
                                     data-auto="{{ section.settings.product_list_autoplay }}"
                                     data-items="{{ section.settings.product_list_column }}"
                                     data-1200="{{ section.settings.product_list_column }}"
                                     data-1024="4"
                                     data-992="4"
                                     data-768="3"
                                     data-640="2"
                                     data-480="2"
                                     data-320="1"
                                     data-nav="{{ section.settings.product_list_show_nav }}"
                                     data-prev='{{ section.settings.product_list_nav_prev}}'
                                     data-next='{{ section.settings.product_list_nav_next}}'
                                     data-paging="{{ section.settings.product_list_show_paging }}"
                                     data-margin='{{ section.settings.product_list_item_margin }}' style="display: none;"></div>
                                {% if carousel %}
                                <div class="products-grid carousel-init owl-carousel {% if section.settings.product_list_move_actions != blank %}move-action{% endif %} {% if section.settings.product_list_hide_actions != blank %}hide-action{% endif %}">
                                    {% for product in collection1.products limit: section.settings.product_list_limit %}
                                    <div class="item product">
                                        {% include 'owl-lazyload-product-grid-item' %}
                                    </div>
                                    {% endfor %}
                                </div>
                                {% else %}
                                <ul class="products-grid columns{{section.settings.product_list_column}} {% if section.settings.product_list_flex_grid != blank %}flex-grid{% endif %} {% if section.settings.product_list_move_actions != blank %}move-action{% endif %} {% if section.settings.product_list_hide_actions != blank %}hide-action{% endif %}" style="margin:0 -10px;">
                                    {% for product in collection1.products limit: section.settings.product_list_limit %}
                                    <li class="item product product-layout-grid">
                                        {% include 'product-tab-grid-item' %}
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>

                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="more-product">
                    <a href="{{section.settings.link_all_product}}">{{ section.settings.more_product }}</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Product List",
    "settings": [
      {
        "type": "header",
        "content": "Main Product List"
      },
        {
        "type": "text",
        "id": "product_list_title",
        "label": "Collection title"
        },
      {
        "type": "text",
        "id": "product_list_limit",
        "label": "Number of products to show",
        "default": "12"
      },
      {
        "type": "text",
        "id": "product_list_column",
        "label": "Products per row",
        "default": "4"
      },
      {
        "type": "checkbox",
        "id": "product_list_hide_actions",
        "label": "Hide Action Links",
        "default": false
      }, 
      {
        "type": "checkbox",
        "id": "product_list_move_actions",
        "label": "Move Actions",
        "info": "If yes, all of the action links that 'Add to Cart' button, 'Add to Compare' link and 'Add to Wishlist' link will be moved into the product image area.",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "product_list_flex_grid",
        "label": "Flex Grid",
        "default": false
      },
      {
      "type": "checkbox",
      "id": "product_list_carousel",
      "label": "Enable Carousel",
      "info": "Use for only default layout and don't show more button."
      },
      {
      "type": "text",
      "id": "product_list_autoplay",
      "label": "Slideshow",
      "info": "Change to any integrer for example 5000 to play every 5 seconds. Leave empty to disable autoplay."
      },
      {
      "type": "checkbox",
      "id": "product_list_show_paging",
      "label": "Show Paging"
      }, 
      {
      "type": "checkbox",
      "id": "product_list_show_nav",
      "label": "Show Navigation",
      "default": true
      },
      {
      "type": "text",
      "id": "product_list_nav_prev",
      "label": "Prev Navigation",
      "default": "<i class=\"icon-left-open\"><\/i>"
      },
      {
      "type": "text",
      "id": "product_list_nav_next",
      "label": "Next Navigation",
      "default": "<i class=\"icon-right-open\"><\/i>"
      },
      {
      "type": "text",
      "id": "product_list_item_margin",
      "label": "Margin",
      "info": "Margin each item.",
      "default": "30"
      },
      {
        "type": "header",
        "content": "Product List Collection"
      },
      {
        "type": "collection",
        "id": "product_list_collection_use",
        "label": "Collection use:"
      },
        {
        "type": "header",
        "content": "View All Product"
        },
        {
        "type": "url",
        "id": "link_all_product",
        "label": "Link To All Product In Collection."
        },
        {
        "type": "text",
        "id": "more_product",
        "label": "Text"
        }
	],
	"presets": [
      {
      "name": "Product List Collection",
      "category": "Collection"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
