<div class="team-section clear" >

    <div class="section-title" >

        <span>

            <h1>{{ section.settings.team-title }}</h1>

        </span>

    </div>

    <section class="content-row" >

        <nav class="tab-menu" >

            {% for block in section.blocks %}
                <a data-name="{{block.settings.team_name}}">{{block.settings.team_name}}</a>
            {% endfor %}

        </nav>

        <div class="tab-contain" >

            {% for block in section.blocks %}

                <article id="{{block.settings.team_name | replace: ' ', '' }}" class="tab-content category-products"  >
                
                    <h2>Team Collection // {{block.settings.team_name}}</h2>

                    <ul class="product-row products-grid" >

                        {% for product in collections[block.settings.team_collection].products limit: 6  %}
                            <li class="item product product-layout-grid">
                                {% include 'product-grid-item' %}
                            </li>
                        {% endfor %}

                    </ul>
                
                </article>

            {% endfor %}


        </div>


    </section>




</div>


{% schema %}
  {
    "name": "Team Section",
    "class": "team-section",
    "settings": [
        {
            "id": "team-title",
            "type": "text",
            "label": "Section Title"
        }
    ],
    "presets": [
        {
            "name": "Team Section",
            "category": "Text"
        }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": "Team Member",
        "settings": [
            {
                "id": "team_name",
                "type": "text",
                "label": "Rider Name"
            },
          {
            "id": "team_collection",
            "type": "collection",
            "label": "Team Collection"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Team Section Title"
          }

        ]
      }
    ]
  }
{% endschema %}
