//general
$ThemeColor: {{ settings.theme_color }};
$HeadingColor: {{ settings.heading_color }};
//boxed
$OutOfBoxBackgroundColorForBoxedVersion: {{ settings.out_of_box_background_color_for_boxed_version }};
$OutOfBoxBackgroundImageForBoxedVersion: url({{ 'out_of_box_background_image_for_boxed_version.png' | asset_url }});
//basic color
$BasicTextColor: {{ settings.text_color }};
$BasicColorLink: {{ settings.color_link }};
$BasicColorLinkHover: {{ settings.color_link_hover }};
//button
$ButtonBackgroundColor: {{ settings.button_background_color }};
$ButtonTextColor: {{ settings.button_text_color }};
$ButtonHoverBackgroundColor: {{ settings.button_hover_background_color }};
$ButtonHoverTextColor: {{ settings.button_hover_text_color }};
//Addto Links
$AddToWishlistLinkColor: {{ settings.add_to_wishlist_link_color }};
$AddToWishlistLinkHoverColor: {{ settings.add_to_wishlist_link_hover_color }}; 
$AddToWishlistLinkHoverBackgroundColor: {{ settings.add_to_wishlist_link_hover_background_color }};
$AddToCartLinkColor: {{ settings.add_to_cart_link_color }};
$AddToCartLinkHoverColor: {{ settings.add_to_cart_link_hover_color }};
$AddToCartLinkHoverBackgroundColor: {{ settings.add_to_cart_link_hover_background_color }};
$QuickviewLinkColor: {{ settings.quickview_link_color }};
$QuickviewLinkHoverColor: {{ settings.quickview_link_hover_color }};
$QuickviewLinkHoverBackgroundColor: {{ settings.quickview_link_hover_background_color }};
//Product Labels
$SaleLabelBackgroundColor: {{ settings.sale_label_background_color }};
$SaleLabelTextColor: {{ settings.sale_label_text_color }};
//Category Labels
$Label1BackgroundColor: {{ settings.label1_background_color }};
$Label1TextColor: {{ settings.label1_text_color }};
$Label2BackgroundColor: {{ settings.label2_background_color }};
$Label2TextColor: {{ settings.label2_text_color }};
//Breadcrumbs
$BreadcrumbsBackgroundColor: {{ settings.breadcrumbs_background_color }};
$BreadcrumbsTextFontColor:{{ settings.breadcrumbs_text_font_color }};
$BreadcrumbsLinksColor:{{ settings.breadcrumbs_links_color }};
$BreadcrumbsLinksHoverColor:{{ settings.breadcrumbs_links_hover_color }};
//Header
$HeaderBackgroundColor: {{ settings.header_background_basic_color }};
$StickyHeaderBackgroundColor: {{ settings.sticky_header_background_basic_color }};
$HeaderTopBackgroundColor : {{ settings.header_top_background_color }};
$HeaderTopTextColor : {{ settings.header_top_text_color }};
$HeaderTopLinkColor : {{ settings.header_top_link_color }};
$HeaderTopLinkHoverColor : {{ settings.header_top_link_hover_color }};
$HeaderBorderColor:{{ settings.header_border_color }};
$HeaderTextColor:{{ settings.header_text_basic_color }};
$HeaderLinksColor:{{ settings.header_links_color }};
$HeaderBackgroundImage: url({{ 'header_background_image.jpg' | asset_url }});
$PageHeaderImage: url({{ 'page_header_image.jpg' | asset_url }});
//Header - Top
$TopLinksBlockBackgroundColor: {{ settings.top_links_block_background_color }};
$TopLinksBlockFontColor:{{ settings.top_links_block_font_color }};
//Header - Menu
$HeaderMenuBackgroundColor: {{ settings.header_menu_background_color }};
$HeaderMenuFontColor:{{ settings.header_menu_font_color }};
$HeaderMenuHoverFontColor:{{ settings.header_menu_hover_font_color }};
$HeaderMenuMegamenuBackgroundColor: {{ settings.header_menu_megamenu_background_color }};
$HeaderMenuMegamenuFontColor:{{ settings.header_menu_megamenu_font_color }};
$HeaderMenuClassicMenuBackgroundColor:{{ settings.header_menu_classic_menu_background_color }};
$HeaderMenuClassicMenuBorderColor: {{ settings.header_menu_classic_menu_border_color }};
$HeaderMenuClassicMenuFontColor:{{ settings.header_menu_classic_menu_font_color }};
$HeaderMenuClassicMenuHoverFontColor:{{ settings.header_menu_classic_menu_hover_font_color }};
//Header - Searchbox
$HeaderSearchboxBackgroundColor: {{ settings.header_searchbox_background_color }}; 
$HeaderSearchboxTextFontColor:{{ settings.header_searchbox_search_text_font_color }};
$HeaderSearchboxBorderColor:{{ settings.header_searchbox_border_color }};
//Header - Icon
$HeaderControlIconColor:{{ settings.header_control_icon_color }};
//Header - Vertical
$BackgroundHeaderVertical:{{ settings.background_header_vertical }};
//Footer
//Footer - Type1
$FooterType1BackgroundColor: {{ settings.footer_type1_background_color }};
$FooterType1TextFontColor:{{ settings.footer_type1_text_font_color }};
$FooterType1LinksColor:{{ settings.footer_type1_links_color }};
$FooterType1LinksHoverColor:{{ settings.footer_type1_links_hover_color }};
$FooterType1BlockTitleColor: {{ settings.footer_type1_block_title_color }};
$FooterType1LinksIconColor:{{ settings.footer_type1_links_icon_color }};
$FooterType1LinksIconHoverColor:{{ settings.footer_type1_links_icon_hover_color }};
//Footer - Type2
$FooterType2BackgroundColor: {{ settings.footer_type2_background_color }};
$FooterType2TextFontColor:{{ settings.footer_type2_text_font_color }};
$FooterType2LinksColor:{{ settings.footer_type2_links_color }};
$FooterType2LinksHoverColor:{{ settings.footer_type2_links_hover_color }};
$FooterType2BlockTitleColor: {{ settings.footer_type2_block_title_color }};
$FooterType2LinksIconColor:{{ settings.footer_type2_links_icon_color }};
$FooterType2LinksIconHoverColor:{{ settings.footer_type2_links_icon_hover_color }};
//Footer - Type3
$FooterType3BackgroundColor: {{ settings.footer_type3_background_color }};
$FooterType3TextFontColor:{{ settings.footer_type3_text_font_color }};
$FooterType3LinksColor:{{ settings.footer_type3_links_color }};
$FooterType3LinksHoverColor:{{ settings.footer_type3_links_hover_color }};
$FooterType3BlockTitleColor: {{ settings.footer_type3_block_title_color }};
$FooterType3LinksIconColor:{{ settings.footer_type3_links_icon_color }};
$FooterType3LinksIconHoverColor:{{ settings.footer_type3_links_icon_hover_color }};
//Footer - Type4
$FooterType4BackgroundColor: {{ settings.footer_type4_background_color }};
$FooterType4TextFontColor:{{ settings.footer_type4_text_font_color }};
$FooterType4LinksColor:{{ settings.footer_type4_links_color }};
$FooterType4LinksHoverColor:{{ settings.footer_type4_links_hover_color }};
$FooterType4BlockTitleColor: {{ settings.footer_type4_block_title_color }};
$FooterType4LinksIconColor:{{ settings.footer_type4_links_icon_color }};
$FooterType4LinksIconHoverColor:{{ settings.footer_type4_links_icon_hover_color }};
//Footer - Type5
$FooterType5BackgroundColor: {{ settings.footer_type5_background_color }};
$FooterType5TextFontColor:{{ settings.footer_type5_text_font_color }};
$FooterType5LinksColor:{{ settings.footer_type5_links_color }};
$FooterType5LinksHoverColor:{{ settings.footer_type5_links_hover_color }};
$FooterType5BlockTitleColor: {{ settings.footer_type5_block_title_color }};
$FooterType5LinksIconColor:{{ settings.footer_type5_links_icon_color }};
$FooterType5LinksIconHoverColor:{{ settings.footer_type5_links_icon_hover_color }};
//Footer - To Top Icon
$ToTopIconBackgroundColor: {{ settings.to_top_icon_background_color }};
$ToTopIconHoverBackgroundColor: {{ settings.to_top_icon_hover_background_color }};
$ToTopIconFontColor: {{ settings.to_top_icon_font_color }};
$ToTopIconHoverFontColor: {{ settings.to_top_icon_hover_font_color }};
//Page
$BodyBackgroundColor: {{ settings.body_background_color }};
$BodyBackgroundImage: url({{ 'body_background_image.jpg' | asset_url }}); 
//Main Container
$MainContainerBackgroundColor: {{ settings.main_container_background_color }};
$MainContainerBackgroundImage: url({{ 'main_container_background_image.jpg' | asset_url }}); 
// basic font
$fontSize: {{ settings.font_size }}px;
{% if settings.basic_font == 'google'%}
$fontFamily: {{ settings.google_font }};
{% else %}
$fontFamily: {{ settings.family_font }};
{% endif%}
// heading font
{% if settings.heading_font == 'google'%}
$headingFontFamily: {{ settings.heading_google_font }};
{% else %}
$headingFontFamily: {{ settings.heading_family_font }};
{% endif%}
$h1: {{ settings.h1_font_size }}px;
$h2: {{ settings.h2_font_size }}px;
$h3: {{ settings.h3_font_size }}px;
$h4: {{ settings.h4_font_size }}px;
$h5: {{ settings.h5_font_size }}px;
$h6: {{ settings.h6_font_size }}px;

/*****************************************/
/************** Basic ********************/
/*****************************************/
body {
  color:#777;
  font-size: $fontSize;
  font-family: $fontFamily, arial, serif ;
  h1 {
    font-size: $h1;
    font-family: $headingFontFamily;
    color: $HeadingColor;
  }
  h2 {
    font-size: $h2;
    font-family: $headingFontFamily;
    color: $HeadingColor;
  }
  h3 {
    font-size: $h3;
    font-family: $headingFontFamily;
    color: $HeadingColor;
  }
  h4 {
    font-size: $h4;
    font-family: $headingFontFamily;
    color: $HeadingColor;
  }
  h5 {
    font-size: $h5;
    font-family: $headingFontFamily;
    color: $HeadingColor;
  }
  h6 {
    font-size: $h6;
    font-family: $headingFontFamily;
    color: $HeadingColor;
  }
  &.boxed{
    background-color:$OutOfBoxBackgroundColorForBoxedVersion!important;
    {% if settings.checkbox_background_image == true %}
    background-image:$OutOfBoxBackgroundImageForBoxedVersion!important;
    {% endif %}
  }
}
a, a:hover,
.header-container .mini-cart .cart-wrapper .cart-checkout p.subtotal .price,
.header-container .mini-cart .cart-wrapper .cart-content ul li.item-cart .product-details .product-name a:hover,
.header-container .mini-cart .cart-wrapper .cart-content ul li.item-cart .product-details .items,
.sidebar .nav-accordion li span.collapse:after,
.sidebar .nav-accordion li span.expand:after,
.box-popup .box-inner .item .product-info .product-title a,
.owl-nav div i,
.slideshow-section .slideshow .owl-nav div,
.tab-product-collection .category-list .tab-selector ul li.active a,
.tab-product-collection .category-list .tab-selector ul li a:hover,
.product-view .product-shop .prev-next-products a:hover,
.product-view .product-options-bottom .add-to-cart-box .input-box input,
.product-view .product-tabs > ul li.active a,
.product-view .product-tabs > ul li:hover a,
.product-view .product-options-bottom .add-to-cart-box .input-box .plus-minus .items i:hover,
.main-container .account-create h1,
.main-container .account-login h1,
.main-container .post_layout_grid .blog-wrapper .itempost-grid .postWrapper .entry-content-inner .infor-bottom .postTitle h2 a:hover,
.blog_article .item .row .postTitle h2 a:hover,
.blog-article-section .blog_article .item .row a.readmore:hover,
.blog-article-section .blog_article .item .row a.readmore i,
.blog_article .item .row a.readmore,
.main-container .page-container .about_us p.lead span.alternative-font,
.main-container .page-container .about_us h3,
.main-container .page-container .about_us h3.push-top,
.main-container .page-container .about_us .history .featured-box .box-content h4,
.section-odds-collection .main-odds-products .continue-product a:hover,
.item-area .product-image-area .loader-container .loader i,
.item-area .details-area .actions .action-list .btn-cart:hover,
.footer-wrapper .footer-middle ul li.theme-color i,
.main-container .main-search-container .search-form h3,
.product-view .product-shop .review-product-details .spr-badge-caption,
.spr-review-header-byline strong,
.header-container .mini-cart .cart-wrapper .cart-checkout .actions a.view-cart:hover span,
.back-top-before #back-top .sticker-wrapper .sticker:hover,
.category-products .products-grid .item .item-area .product-image-area .loader-container .loader i,
.product-view .product-img-box .product-img-list .more-views-verticle .more-views-nav,
.product-view .product-img-box .product-img-list .more-views-horizontal .product-image-thumbs .owl-nav div,
.btn-close-aside-header:hover
{
  color: $ThemeColor;
}
button, .btn-button, .spr-button, .spr-button:hover,
.main-container .sidebar .sidebar-toogle .block-title .collapse:hover, 
.main-container .sidebar .sidebar-cate-toogle .block-title .collapse:hover,
.toolbar .view-mode span.layout-opt.active span,
.toolbar .view-mode span.layout-opt span:hover,
.main-container .pagenav-wrap .pagination-search .pagination-page li.active span,
.main-container .pagenav-wrap .pagination-search .pagination-page li a:hover,
.owl-dots .owl-dot.active span,
.owl-dots .owl-dot span:hover,
.main-container .blog-wrapper .postWrapper .post-date .month,
.blog_article .item .row .post-date .month,
.main-container .page-container .about_us .btn-primary,
.main-container .sidebar .block .block-content > ul.no-bullets li a:hover,
.main-container .checkout-cart .cart-table tfoot button:hover,
.main-container .checkout-cart .checkout-info .shipping h2:hover a:after,
.content-contact i,
.about_section_4 .btn-letwork a.btn-about,
.category-products .item .item-area .overlay-image-product,
.main-container .main-collection .collection_content .row .products-grid li .product-top span.thumb-info-title span.thumb-info-type
{
  background-color: $ThemeColor;
}
.theme-border-color {
  border-color: $ThemeColor !important;
}
.spr-button, .spr-button:hover,
.toolbar .view-mode span.layout-opt.active span,
.toolbar .view-mode span.layout-opt span:hover,
.main-container .pagenav-wrap .pagination-search .pagination-page li.active span,
.main-container .pagenav-wrap .pagination-search .pagination-page li a:hover,
.main-container .pagenav-wrap .pagination .pagination-page li.active span,
.main-container .pagenav-wrap .pagination .pagination-page li a:hover,
.infinite-loader .loading i.ajax-loader,
.product-view .product-options .swatch .swatch-element:hover, 
.product-view .product-options .swatch input:checked + label,
.product-view .product-options .swatch label:hover,
.product-view .product-options .swatch .swatch-element.color label:hover,
.product-view .product-options .swatch .swatch-element.color input:checked + label,
.main-container .page-container .about_us .btn-primary,
.main-container .checkout-cart .cart-table tfoot button:hover,
.main-container .checkout-cart .checkout-info .shipping h2:hover a:after,
.sidebar .block .narrow-by-list dd.size .swatch-list .item:hover,
.sidebar .block .narrow-by-list dd ol.swatch-list li .item:hover .has-image i,
#resultLoading .spinner .circle,
.tab-product-collection .category-list .tab-selector ul li.active, .tab-product-collection .category-list .tab-selector ul li:hover,
.category-products .products-grid .item .item-area .details-area .configurable-swatch-list li a:hover i,
.main-container .sidebar .block .narrow-by-list dd ol.swatch-list li .item.active .has-image i
{
  border-color: $ThemeColor;
}
div.main-navigation ul.top-navigation .menu-wrap-sub,
.main-container .page-container .about_us .featured-box .box-content,
 .cartloading .spinner .circle{
  border-top-color: $ThemeColor;
} 
.header-container .mini-cart .cart-wrapper:before,
.product-view .product-shop .prev-next-products .product-nav .product-pop:before{
  border-bottom-color: $ThemeColor;
}
.product-view .product-tabs.vertical > ul li.active,
.product-view .product-tab-accordion .panel.panel-default .panel-heading .panel-title a,
#resultLoading .spinner .circle, .cartloading .spinner .circle{
  border-left-color: $ThemeColor;
}
#resultLoading .spinner .circle, .cartloading .spinner .circle {
  border-right-color: $ThemeColor;
}
.review-product-details .spr-badge-starrating .spr-icon,
.spr-starrating .spr-icon,
.main-container .sidebar .block .block-content ul li > a:hover,
.main-container .blog-wrapper .postWrapper .item-infor .postTitle h2 a:hover,
.main-container .blog-wrapper .postWrapper .item-infor .postContent .readmore:hover,
.header-transparent-about-contact .header-container .main-nav ul.top-navigation > li > a:hover,
.header-transparent-about-contact .header-container .mini-cart:hover .icon-cart-header i,.header-transparent-about-contact .header-container .header a:hover i,
.section-title span:after,
.main-container .pagenav-wrap .pagination .pagination-page li.active span,
#rudr_instafeed li .over-intagram .part-top span,
#rudr_instafeed li .over-intagram a:hover,
.twitter-newsletter-section .title-twitter-newsletter-section,
.testimonials-wrapper .icon-testimonial i,
.custom-support-section .custom-support .content-inner .text-color-heading .higlight-font,
.main-container .pagenav-wrap .pagination .pagination-page li a:hover,
.sidebar-special .swatch-list li:hover,
.sidebar-special #categories_nav li > a:hover,
.control-filter-sidebar:hover,
.controloff,
.main-container .sidebar .block .narrow-by-list dd ol.swatch-list li .item span.name:hover,
.top-navigation li.level0.static-dropdown .mega-columns ul.level0 li.level1.groups.item ul.level1 li a:hover,
.content-faqs .pertinacia .faqs:hover,
.content-faqs .pertinacia .faqs.sky_active,
.sidebar-product #categories_nav li a:hover,
.template-index .header-container.type2 .header-vertical .control-button-header3 .control-right .action-myaccount a:hover i,
.template-index .header-container.type2 .header-vertical .control-button-header3 .control-right .mini-cart .icon-cart-header:hover i,
.template-index .header-container.type2 .header-vertical .nav-header-vertical .main-top-nav .main-navigation .top-navigation li.level0 a.level-top:hover,
.paralax-video .video-text-wrap a:hover i,
.custom-support-section .block4-info-box .advanced i,
.header-container.type5 .mini-cart .icon-cart-header:hover .cart-total span,
.header-container.type8 .mini-cart .icon-cart-header:hover .cart-total span,
.header-container.type5 .main-menu .main-menu-item .menu-main-electronic .menu-item a:hover,
.header-container.type8 .search-area .search-bar .form-search .search-button:hover:after,
.about_us_style_2_breadcrumb .about_us_breadcrumb .main-breadcrumbs .breadcrumbs .breadcrumbs-inner li a:hover,
.image-background-header-faqs .faqs_breadcrumb .main-breadcrumbs .breadcrumbs .breadcrumbs-inner li a:hover,
.contact-page-style1-1 .content-inner .contact-social a:hover,
.contact-page-style1-1 .content-inner .get-address a:hover,
.contact-style-2 .contact-map-section .contact-map-left-area .content-inner .contact-social a:hover,
.contact-style-3 .contact-location .content-inner .get-address a:hover,
#popup_newsletter .mfp-close:hover:before,
#popup_newsletter .block-content input.btn-button:hover,
.search-control a:hover span i,
.action-link-right .link-right-area a:hover i,
.overlay-menu #navbar-toggle #mobile-menu li a:hover,
.overlay-menu .btn-close-menu:hover,
.section_product_list .more-product a:hover,
.blog-article-section .blog_article .item .postTitle h2 a:hover,
.main-container .blog-wrapper .postWrapper .postTitle h2 a:hover,
.about_section_3 .about-team-img .image-banner .item-info-inner .member-social a:hover i,
.header-container.type2 .header-vertical .custum-block-style2 .top-area-items .top-area-socials a:hover i,
.header-container.type1 .header-fixed-special .part-vertical .open-menu-overlay:hover i,
.header-container.type1 .header-fixed-special .part-vertical .open-menu-overlay:hover span,
.header-transparent-about-contact .header-container:not(.sticky-header) .action-link-right .link-right-area li a:hover,
#header-aside .header-aside-wrapper .custom-block .header-block .top-area-socials .social-media-link a:hover,
.btn-forgot-create button span span{
  color: $ThemeColor !important;
}
.header-container .mini-cart .cart-wrapper .text-your-cart span,
.section-product-collection h3.title-widget:before,
.toolbar-bottom .toolbar .pagenav-wrap .pagination .pagination-page li.active,
.toolbar-bottom .toolbar .pagenav-wrap .pagination .pagination-page li:hover,
.overlay-menu #navbar-toggle #mobile-menu li a:hover span,
.header-container.type4 .header-left-area .navigation-wrapper .top-navigation li.level-top >a:hover,
.header-container.type3 .navigation-wrapper .top-navigation li.level-top >a:hover,
.about_section_3 .about-team-img .image-banner .item-info-inner .line-about-1,
.form-contact-page .contact-form-top .line-contact1,
.product-view .product-options-bottom .actions .wishlist:hover,
.blog-article-section .blog_article .item .btn-readmore:hover,
.banner-image-section.banner-image-2 .box-inner .banner--infor .btn-banner:hover,
.main-container .post_layout_grid .blog-wrapper .itempost-grid .postWrapper .entry-content-inner .infor-bottom .readmore:hover,
.custom-support-section .custom-support .title-custum-support h1:after{
  border-color: $ThemeColor !important;
}
.header-container.type2 .header-vertical{
  background-color: $BackgroundHeaderVertical !important;
}
.products-collection, .products-related, .blog-homepage, .products-crosssell,.tab-product-collection {
  .category-products {
    .products-grid{
      .owl-nav{
        .owl-prev{
          border: 1px solid $ThemeColor;
          &:hover{
            background-color: $ThemeColor;
            i{
              color: #fff;
            }
          }
        }
        .owl-next{
          border: 1px solid $ThemeColor;
          &:hover{
            background-color: $ThemeColor;
            i{
              color: #fff;
            }
          }
        }
      }
    }
  }
}
.top-navigation li.level0.static-dropdown .mega-columns ul.level0 li.level1.groups.item:hover > a:before,
.template-index .custum-block-style3 .share-style3 .social-icons a:hover,
.about_section_1 .content-about-section-1 .content-text .text-about-box .line-about-1,
.product-view .product-tabs>ul li.active a,
.product-view .product-tabs>ul li a:hover,
.actions .action-list:hover,
.main-container .post_layout_mansory .blog-wrapper .item-masonry .postWrapper .entry-content-inner .infor-bottom .readmore:hover,
.main-container .post-layout-list .blog-wrapper .postWrapper .item-infor .postContent .readmore:hover,
.main-container .post-layout-grid-2 .blog-wrapper .postWrapper .entry-content-inner .infor-bottom .readmore:hover,
.header-transparent-about-contact .header-container .control-otherlinks:hover span{
  border-color: $ThemeColor !important;
}
.header-container .mini-cart .cart-wrapper .btn-close-cart-wrapper,
.header-container.type1 .mini-cart .icon-cart-header .cart-total,
.header-container.type2 .mini-cart .icon-cart-header .cart-total,
.header-container.type3 .mini-cart .icon-cart-header .cart-total,
.header-container.type4 .mini-cart .icon-cart-header .cart-total,
.header-container.type5 .mini-cart .icon-cart-header .cart-total,
.header-container.type6 .mini-cart .icon-cart-header .cart-total,
.header-container.type7 .mini-cart .icon-cart-header .cart-total,
.toolbar-bottom .toolbar .pagenav-wrap .pagination .pagination-page li.active span,
.toolbar-bottom .toolbar .pagenav-wrap .pagination .pagination-page li:hover,
.overlay-search,
.template-index .custum-block-style3 .share-style3 .social-icons a:hover,
.header-container.type1 .main-nav ul.top-navigation>li>a span span:after,
.header-container.type2 .main-nav ul.top-navigation>li>a span span:after,
.header-container .mini-cart .cart-wrapper .cart-checkout .actions a:hover,
.product-view .product-options-bottom .actions .addtocart,
.footer-wrapper #back-top a .sticker-wrapper .sticker,
#login-popup .account-login .close-popup-login,
.form-vertical .btn-submit-contact .btn-button:hover,
.ulmenu-block-right .content-banner .shop-now,
.banner-image-section .box-inner .banner--infor .btn-banner,
.blog-article-section .blog_article .item .btn-readmore:hover,
.banner-image-section.banner-image-2 .box-inner .banner--infor .btn-banner:hover,
.category-products .products-grid.move-action .item .item-area .product-image-area .actions .action-list.addtocart .btn-cart:hover,
.category-products .products-grid.move-action .item .item-area .product-image-area .actions a.quickview-icon:hover,
.category-products .products-grid.move-action .item .item-area .product-image-area .actions .product-wishlist .link-wishlist:hover,
.main-container .post_layout_grid .blog-wrapper .itempost-grid .postWrapper .entry-content-inner .infor-bottom .readmore:hover,
.main-container .post_layout_mansory .blog-wrapper .item-masonry .postWrapper .entry-content-inner .infor-bottom .readmore:hover,
.main-container .post-layout-list .blog-wrapper .postWrapper .item-infor .postContent .readmore:hover,
.main-container .post-layout-grid-2 .blog-wrapper .postWrapper .entry-content-inner .infor-bottom .readmore:hover,
.header-container.type8 .main-menu .nav_shop_by_categories .toggle-category-menu,
.section-about1-2 .content-section-about1-2 .content-inner a.btn-section-2:hover,
.template-index .header-container.type2 .header-vertical .nav-header-vertical .main-top-nav .main-navigation .top-navigation>li>a span span:after,
.background-right-contact,.address-map-contacts{
  background-color: $ThemeColor !important;
}
//************* header - Top *************/
.header-top{
  color: $HeaderTopTextColor;
  background-color: $HeaderTopBackgroundColor;
  a{
    color: $HeaderTopLinkColor;
    &:hover{
      color: $HeaderTopLinkHoverColor;
    }
  }
}
//************* header - aside *************/
#header-aside{
  .header-aside-wrapper{
    .links-aside{
      li{
        a{
          &:hover{
            color: $ThemeColor;
          }
        }
      }
    }
    .lang-current-aside{
      .currency-wrapper{
        a{
          &:hover{
            .current-currency{
              color: $ThemeColor;
            }
            i{
              color: $ThemeColor;
            }
          }
        }
        .setting-currency{
          li{
            &.selected{
              a{
                color: $ThemeColor;
              }
            }
            &:hover{
              a{
                color: $ThemeColor;
              }
            }
          }
        }
      }
      .language-wrapper{
        a{
          &:hover{
            .current-language{
              span{
                &.active{
                  color: $ThemeColor;
                }
              }
            }
            i{
              color: $ThemeColor;
            }
          }
        }

        .select-language{
          li{
            a{
              &.active{
                color: $ThemeColor;
              }
            }
            &:hover{
              a{
                color: $ThemeColor;
              }
            }
          }
        }
      }
    }
  }
}
//************* Basic Color *************/

{% if settings.custom_general == '1' %}
html, body {
  color: $BasicTextColor;
}
a {
  color: $BasicColorLink;
}
a:hover {
  color: $BasicColorLinkHover;
} 
.btn-button, .spr-button {
  background-color: $ButtonBackgroundColor;
  color: $ButtonTextColor;
  span {
    color: $ButtonTextColor;
  }
  &:hover {
    background-color: $ButtonHoverBackgroundColor;
    color: $ButtonHoverTextColor;
    span {
      color: $ButtonHoverTextColor;
    }
  }
} 
.actions .add-to-links li a.link-wishlist {
  color: $AddToWishlistLinkColor;
  &:hover {
    color: $AddToWishlistLinkHoverColor;
    border-color: $AddToWishlistLinkHoverBackgroundColor !important;
    background-color: $AddToWishlistLinkHoverBackgroundColor;
  }
}
.actions .addtocart{
  &:hover {
    color: $AddToCartLinkHoverColor !important;
    border-color: $AddToCartLinkHoverBackgroundColor !important;
    background-color: $AddToCartLinkHoverBackgroundColor !important;
    i{
      color: $AddToCartLinkHoverColor !important;
    }
  }
}
.actions a.quickview-icon {
  color: $QuickviewLinkColor;
  &:hover {
    color: $QuickviewLinkHoverColor;
    border-color: $QuickviewLinkHoverBackgroundColor !important;
    background-color: $QuickviewLinkHoverBackgroundColor;
  } 
}  
.category-products .products-grid .item .item-area .product-image-area .product-label .onsale span {
  background-color: $SaleLabelBackgroundColor;
  color: $SaleLabelTextColor;
} 
.category-products .products-grid .item .item-area .product-image-area .deal-label:before {
  border-left-color: $SaleLabelBackgroundColor;
  border-top-color: $SaleLabelBackgroundColor;
}
.category-products .products-grid .item .item-area .product-image-area .deal-label {
  color: $SaleLabelTextColor;
}
.cat-label-label1 {
  background-color: $Label1BackgroundColor;
  color: $Label1TextColor;
  &:before {
    border-top-color: $Label1BackgroundColor !important;
  }
}
.cat-label-label2 {
  background-color: $Label2BackgroundColor;
  color: $Label2TextColor;
  &:before {
    border-top-color: $Label2BackgroundColor !important;
  }
} 
.mobile-nav{  
  li.level0 > a > span > .cat-label-label1.pin-bottom {
    background-color: $Label1BackgroundColor;
    color: $Label1TextColor;
    &:before {
      border-right-color: $Label1BackgroundColor;
    }
  }
  li.level0 > a > span > .cat-label-label2.pin-bottom  {
    background-color: $Label2BackgroundColor;
    color: $Label2TextColor;
    &:before {
      border-right-color: $Label2BackgroundColor;
    }
  }
}
.side-menu {
  .cat-label-label1 { 
    &:before {
      border-top-color: transparent !important;
      border-right-color: $Label1BackgroundColor !important;
    }
  }
  .cat-label-label2 { 
    &:before {
      border-top-color: transparent !important;
      border-right-color: $Label2BackgroundColor !important;
    }
  } 
}
.main-container .main-breadcrumbs {
  background-color: $BreadcrumbsBackgroundColor;
  color: $BreadcrumbsTextFontColor;
  ul li a {
    color: $BreadcrumbsLinksColor;
    &:hover {
      color: $BreadcrumbsLinksHoverColor;
    }
  }
}
{% endif %}
//************* Header *************/  
{% if settings.custom_header == '1' %}
.header-container {
  &.type1,&.type2,&.type3,&.type4,&.type5,&.type6,&.type7,&.type8,&.type9,&.type10 {
    background-color: $HeaderBackgroundColor;
    {%if settings.header_background_image_use != blank %}
    background-image: $HeaderBackgroundImage;
    background-repeat: repeat;
    {% endif %}
    .main-nav {
      ul.top-navigation {
        > li {
          &:hover {
            > a{
              color: $HeaderMenuHoverFontColor;
            }
          }
          > a {
            color: $HeaderMenuFontColor;
            &:hover {
              color: $HeaderMenuHoverFontColor;
            }
          }
        } 
      }
    }
    .search-area,.menu-icon{
      > a{
        color: $HeaderSearchboxTextFontColor;
      }
    }
    .search-area .form-search {
      background-color: $HeaderSearchboxBackgroundColor;
      border-color: $HeaderSearchboxBorderColor;
      input,.search-button{
        color: $HeaderSearchboxTextFontColor;
      }
      &:before {
        border-bottom-color: $HeaderSearchboxBorderColor;
      }
    }    
  }
  &.type1,&.type2,&.type3,&.type4,&.type5,&.type6,&.type7,&.type8,&.type9,&.type10 {
    &.sticky-header {
      .header-wrapper {
        background-color: $StickyHeaderBackgroundColor;
      }
    }
  }
  .header {
    color: $HeaderTextColor;
    a {
      color: $HeaderLinksColor;
      &:hover{
        color: $ThemeColor;
      }
    }
  }
  &.type1 {
    ul.links a, .search-area>a, 
    .currency-wrapper > a, .language-wrapper > a,
    .top-links-icon, .top-links-icon a, .menu-icon a {
      color: $TopLinksBlockFontColor;
      &:hover{
        color: $ThemeColor;
      }
    }
    .currency-wrapper,.language-wrapper{
      background-color: #fff;
      a{
        color: #252634;
      }
    }
  }
  &.type2 {
    .top-links-container ul.links a, .top-links-icon, .currency-wrapper > a, .language-wrapper > a {
      color: $TopLinksBlockFontColor;
    }
    .top-links-container {
      background-color: $TopLinksBlockBackgroundColor;
    }
    .main-nav {
      .main-top-nav {
        background-color: $HeaderMenuBackgroundColor;
      }
    }
  }
  &.type3 {
    .currency-wrapper > a, .language-wrapper > a, 
    .top-links-container ul.links a, .top-links-icon, .top-links-icon a {
      color: $TopLinksBlockFontColor;
    }
    .top-links-container {
      background-color: $TopLinksBlockBackgroundColor;
    }
    .main-nav { 
      background-color: $HeaderMenuBackgroundColor; 
    } 
  }
  &.type4 {
    .currency-wrapper > a, .language-wrapper > a,
    .top-links-container ul.links a, .top-links-icon {
      color: $TopLinksBlockFontColor;
    }
    .top-links-container {
      background-color: $TopLinksBlockBackgroundColor;
    }
    .main-nav {
      .main-top-nav {
        background-color: $HeaderMenuBackgroundColor;
      }
    } 
  }
  &.type5 {
    .currency-wrapper > a, .language-wrapper > a, .menu-area .links-area .links a {
      color: $TopLinksBlockFontColor;
    }
    .top-links-container {
      background-color: $TopLinksBlockBackgroundColor;
    }
  }
  &.type6 {
    .currency-wrapper > a, .language-wrapper > a, 
    .top-links-container ul.links a, .top-links-icon, .top-links-icon a {
      color: $TopLinksBlockFontColor;
    }
    .top-links-container {
      background-color: $TopLinksBlockBackgroundColor;
    }
  }
  &.type7 {
    .currency-wrapper > a, .language-wrapper > a, 
    .top-links-container ul.links a, .top-links-icon, .top-links-icon a {
      color: $TopLinksBlockFontColor;
    }
    .top-links-container {
      background-color: $TopLinksBlockBackgroundColor;
    }
  }
  &.type8 {
    .top-links-area ul.links a, .top-links-icon, .top-links-icon a,
    .header .search-area>a.search-icon, .menu-icon a {
      color: $TopLinksBlockFontColor;
    }
    .currency-wrapper,.language-wrapper{
      background-color: #fff;
      a{
        color: #252634;
      }
    }
  }

}
.template-index .header-container.type2 .header-vertical .main-navigation ul.top-navigation li.level0 .menu-wrap-sub{
  background-color: $HeaderMenuMegamenuBackgroundColor;
  color: $HeaderMenuMegamenuFontColor;
  ul li {
    a {
      color: $HeaderMenuMegamenuFontColor;
    }
    ul.level1 li.level2{
      &:hover{
        a{
          color: $HeaderMenuHoverFontColor;
        }
      }
    }
  }
  &.dropdown {
    background-color: $HeaderMenuClassicMenuBackgroundColor;
    .menu-wrap-sub {
      background-color: $HeaderMenuClassicMenuBackgroundColor;
    }
    ul li {
      > a {
        color: $HeaderMenuClassicMenuFontColor;
      }
      &:hover {
        > a {
          background-color: transparent;
          color: $HeaderMenuClassicMenuHoverFontColor;
        }
      }
    }
  }
}
.top-navigation .menu-wrap-sub .mega-columns .level1.groups .menu-wrapper .level2 a:hover{
  color: $HeaderMenuHoverFontColor !important;
}
//menu
.main-navigation .top-navigation{
  li.level0{
    a{
      color: $HeaderMenuFontColor;
      &:hover{
        color: $HeaderMenuHoverFontColor;
      }
    }
  }
}
//menu header aside
#header-aside .header-aside-wrapper .navigation-wrapper .main-navigation .top-navigation{
  li.level0{
    a{
      color: $HeaderMenuFontColor;
      &:hover{
        color: $HeaderMenuHoverFontColor;
      }
    }
  }
}
//menu header type 3
.main-nav-type3{
  .navigation-wrapper .main-navigation .top-navigation{
    li.level0{
      a{
        color: $HeaderMenuFontColor;
        &:hover{
          color: $HeaderMenuHoverFontColor;
        }
      }
    }
  }
}
.main-nav {
  .main-navigation {
    ul.top-navigation { 
      .menu-wrap-sub {
        background-color: $HeaderMenuMegamenuBackgroundColor;
        color: $HeaderMenuMegamenuFontColor;
        ul li { 
          a {
            color: $HeaderMenuMegamenuFontColor;
          }
          ul.level1 li.level2{
            &:hover{
              a{
                color: $HeaderMenuHoverFontColor;
              }
            }
          }
        }
        .top-mega-block .top-mega-block-content {  
          color: $HeaderMenuMegamenuFontColor;
          a {
            color: $HeaderMenuMegamenuFontColor;
          }
        }
        &.dropdown {
          background-color: $HeaderMenuClassicMenuBackgroundColor;
          .menu-wrap-sub {
            background-color: $HeaderMenuClassicMenuBackgroundColor; 
          }
          ul li {  
            > a {
              color: $HeaderMenuClassicMenuFontColor;
            }
            &:hover { 
              > a {
                background-color: transparent;
                color: $HeaderMenuClassicMenuHoverFontColor;
              }
            }
          }
        }
      }
    }
  }
} 
.mini-cart {
  .icon-cart-header {
    .header-container.type1 &{
      background-color: transparent;
    }
    &:hover{
      i{
        color: $ThemeColor;
      }
    }
    i {
      color: $HeaderControlIconColor;
    }
    .cart-total {
      color: #fff !important;
    }
  }
}
.action-myaccount{
  &:hover{
    i{
      color: $ThemeColor;
    }
  }
  a{
    i{
      color: $HeaderControlIconColor;
    }
  }
}
.search-area{
  &:hover{
    i{
      color: $ThemeColor !important;
    }
  }
  .search-icon{
    span{
      i{
        color: $HeaderControlIconColor;
      }
    }
  }
}
.control-otherlinks{
  &:hover{
    span{
      border-color: $ThemeColor !important;
    }
  }
  span{
    border-color: $HeaderControlIconColor !important;
  }
}
{% endif %}
//************* Footer *************/  
{% if settings.custom_footer == '1' %} 
.footer-wrapper {
  .footer-container{
    &.footer-type1{
      .footer-inner{
        background-color: $FooterType1BackgroundColor;
        color: $FooterType1TextFontColor;
        a{
          color: $FooterType1LinksColor;
          &:hover{
            color: $FooterType1LinksHoverColor;
          }
        }
        .footer-column-title{
          h4{
            color: $FooterType1BlockTitleColor;
          }
        }
        .footer-area-socials{
          .social-media-link{
            a{
              i{
                color: $FooterType1LinksIconColor;
              }
              &:hover{
                i{
                  color: $FooterType1LinksIconHoverColor;
                }
              }
            }
          }
        }
      }
    }
    &.footer-type2{
      .footer-inner{
        background-color: $FooterType2BackgroundColor;
        color: $FooterType2TextFontColor;
        a{
          color: $FooterType2LinksColor;
          &:hover{
            color: $FooterType2LinksHoverColor;
          }
        }
        .footer-column-title{
          h4{
            color: $FooterType2BlockTitleColor;
          }
        }
        .footer-area-socials{
          .social-media-link{
            a{
              i{
                color: $FooterType2LinksIconColor;
              }
              &:hover{
                i{
                  color: $FooterType2LinksIconHoverColor;
                }
              }
            }
          }
        }
      }
    }
    &.footer-type3{
      .footer-inner{
        background-color: $FooterType3BackgroundColor;
        color: $FooterType3TextFontColor;
        a{
          color: $FooterType3LinksColor;
          &:hover{
            color: $FooterType3LinksHoverColor;
          }
        }
        .footer-column-title{
          h4{
            color: $FooterType3BlockTitleColor;
          }
        }
        .footer-area-socials{
          .social-media-link{
            a{
              i{
                color: $FooterType3LinksIconColor;
              }
              &:hover{
                i{
                  color: $FooterType3LinksIconHoverColor;
                }
              }
            }
          }
        }
      }
    }
    &.footer-type4{
      .footer-inner{
        background-color: $FooterType4BackgroundColor;
        color: $FooterType4TextFontColor;
        a{
          color: $FooterType4LinksColor;
          &:hover{
            color: $FooterType4LinksHoverColor;
          }
        }
        .footer-column-title{
          h4{
            color: $FooterType4BlockTitleColor;
          }
        }
        .footer-area-socials{
          .social-media-link{
            a{
              i{
                color: $FooterType4LinksIconColor;
              }
              &:hover{
                i{
                  color: $FooterType4LinksIconHoverColor;
                }
              }
            }
          }
        }
      }
    }
    &.footer-type5{
      .footer-inner{
        background-color: $FooterType5BackgroundColor;
        color: $FooterType5TextFontColor;
        a{
          color: $FooterType5LinksColor;
          &:hover{
            color: $FooterType5LinksHoverColor;
          }
        }
        .footer-column-title{
          h4{
            color: $FooterType5BlockTitleColor;
          }
        }
        .footer-area-socials{
          .social-media-link{
            a{
              i{
                color: $FooterType5LinksIconColor;
              }
              &:hover{
                i{
                  color: $FooterType5LinksIconHoverColor;
                }
              }
            }
          }
        }
      }
    }
  }
  #back-top a .sticker-wrapper .sticker {
    background-color: $ToTopIconBackgroundColor;
    color: $ToTopIconFontColor;
    &:hover {
      background-color: $ToTopIconHoverBackgroundColor;
      color: $ToTopIconHoverFontColor;
    }
  }
}
{% endif %}
//************* Page header*************/
{% if settings.page_header == 'yes' %}
.page-header{
  background: $PageHeaderImage;
}
{% endif %}
//************* Page *************/  
{% if settings.custom_page == 'yes' %} 
.page {
  background-color: $BodyBackgroundColor;
  {% if settings.page_background_image_enable != blank %}
  background-image: $BodyBackgroundImage;
  {% endif %}
  {{settings.custom_style}}
}
{% endif %}
//************* Main Page *************/  
{% if settings.custom_main_container == 'yes' %} 
.main-container {
  background-color: $MainContainerBackgroundColor;
  {% if settings.main_container_background_image_enable != blank %}
  background-image: $MainContainerBackgroundImage;
  {% endif %}
  {{settings.custom_main_container_text}}
}
{% endif %}