/*top dropdown effect css3 mega*/
div.main-navigation ul.top-navigation li:hover .menu-wrap-sub,
div.main-navigation ul.top-navigation li .menu-wrap-sub,
div.main-navigation ul.top-navigation li .menu-wrap-sub li .menu-wrap-sub,
div.main-navigation ul.top-navigation li:hover .menu-wrap-sub li .menu-wrap-sub{
  -moz-transition: 0.2s opacity;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  -ms-transition: 0.2s opacity;
  transition: 0.2s opacity;
}
div.main-navigation ul.top-navigation .menu-wrap-sub {
  border:0;
  margin:0px auto;
  position:absolute;
  text-align:left; 
  z-index:99999;
  background-color:#fff;
  top: auto;
  max-width:1140px;
  opacity: 0; filter:alpha(opacity = 0);
  visibility: hidden;
  left: 0;
  width: 75vw;
  min-width:230px;
  box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.3);
} 
div.main-navigation ul.top-navigation .menu-wrap-sub .container{
	padding:0;
  	width:auto;
  max-width: 1140px;
}
div.main-navigation ul.top-navigation .menu-wrap-sub .container .mega-columns.row{
	margin: 0;
}
div.main-navigation ul.top-navigation .dropdown.menu-wrap-sub .container .mega-columns.row{
	margin:0!important;
}
/*add new*/
div.main-navigation ul.top-navigation li.static-dropdown .menu-wrap-sub{

}
.top-navigation li.level0.static-dropdown .mega-columns ul.level0 li.level1.groups.item:hover{
  background-color: transparent;
}
.top-navigation li.level0.static-dropdown .mega-columns ul.level0 li.level1.groups.item:hover >a{
  color: #000 !important;
}
.top-navigation li.level0.static-dropdown .mega-columns ul.level0 li.level1.groups.item:hover ul.level1 li a{
  color: #8a8c98 !important;
}
.top-navigation li.level0.static-dropdown .mega-columns ul.level0 li.level1.groups.item > a:before{
  left: 5px;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.top-navigation li.level0.static-dropdown .mega-columns ul.level0 li.level1.groups.item > a{
  text-align: left;
}
.top-navigation li.level0.static-dropdown .mega-columns ul.level0 li.level1.groups.item ul.level1 li{
  width: 100%;
  padding: 10px 15px;
}
.top-navigation li.level0.static-dropdown .mega-columns ul.level0 li.level1.groups.item ul.level1 li a{
  margin: 0;
  text-transform: uppercase;
  color: #8a8c98;
}

/*end*/

div.is-sticky div.main-navigation ul.top-navigation .menu-wrap-sub.dropdown {
 
}
div.is-sticky div.main-navigation ul.top-navigation li.level0 > .menu-wrap-sub {
  
}
/* Showing Drop Down on Mouse Hover*/
div.main-navigation ul.top-navigation li.level0:hover > div.menu-wrap-sub{
  left:0;
  opacity: 1;
  filter:alpha(opacity = 100);
  visibility:visible;
}
div.is-sticky div.main-navigation ul.top-navigation li:hover > div.menu-wrap-sub.dropdown,
div.is-sticky div.main-navigation ul.top-navigation li.level0:hover > div.menu-wrap-sub{
  
}
div.is-sticky div.main-navigation ul.top-navigation li:hover div.menu-wrap-sub {
  
}
div.main-navigation ul.top-navigation li .menu-wrap-sub li > .menu-wrap-sub,
div.main-navigation ul.top-navigation li .menu-wrap-sub li .menu-wrap-sub li > .menu-wrap-sub,
div.main-navigation ul.top-navigation li .menu-wrap-sub li .menu-wrap-sub li .menu-wrap-sub li > .menu-wrap-sub,
div.main-navigation ul.top-navigation li .menu-wrap-sub li .menu-wrap-sub li .menu-wrap-sub li .menu-wrap-sub li > .menu-wrap-sub{
  opacity: 0; filter:alpha(opacity = 0);
  visibility: hidden;
  left: 90%;
}
div.main-navigation ul.top-navigation li .menu-wrap-sub li:hover > .menu-wrap-sub,
div.main-navigation ul.top-navigation li .menu-wrap-sub li .menu-wrap-sub li:hover > .menu-wrap-sub,
div.main-navigation ul.top-navigation li .menu-wrap-sub li .menu-wrap-sub li .menu-wrap-sub li:hover > .menu-wrap-sub,
div.main-navigation ul.top-navigation li .menu-wrap-sub li .menu-wrap-sub li .menu-wrap-sub li .menu-wrap-sub li:hover > .menu-wrap-sub{
  left:75%;
  opacity: 1;
  filter:alpha(opacity = 100);
  visibility:visible;
}
/*dropdown effect css3 mega end*/

/*verticle dropdown effect css3*/
div.header-container .navbar:hover .bs-navbar-collapse,
div.header-container .navbar .bs-navbar-collapse,
div.language-currency .switcher-wrap .select-language,
div.language-currency .switcher-wrap:hover .select-language,
div.header-setting .switcher-wrap .switcher-content,
div.header-setting .switcher-wrap:hover .switcher-content,
div.header-myaccount .switcher-wrap .switcher-content,
div.header-myaccount .switcher-wrap:hover .switcher-content,
div.select-inner:hover ul, .toolbar .select-inner ul,  
div.vertical-navigation-main ul.vertical-navigation-container li:hover .menu-wrap-sub,
div.top-compare .header-maincompare .block-top-compare,
div.top-compare .header-maincompare:hover .block-top-compare,
div.vertical-navigation-main ul.vertical-navigation-container li .menu-wrap-sub,
div.vertical-navigation-main ul.vertical-navigation-container li .menu-wrap-sub li .menu-wrap-sub,
div.vertical-navigation-main ul.vertical-navigation-container li:hover .menu-wrap-sub li .menu-wrap-sub{
  -moz-transition: 0.2s opacity;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  -ms-transition: 0.2s opacity;
  transition:0.2s opacity;
}
div.vertical-navigation-main ul.vertical-navigation-container .menu-wrap-sub {
  margin:0px auto;
  position:absolute;
  text-align:left;
  -ms-box-shadow: 1px 6px 7px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 1px 6px 7px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 6px 7px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 6px 7px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 6px 7px 0 rgba(0, 0, 0, 0.15);
  z-index:999;
  border:0;
  background-color:#fff;
  top:3px;
  width:600px;
  opacity: 0; filter:alpha(opacity = 0);
  visibility: hidden;
  left:110%;
  padding: 10px;
}
/* Showing Drop Down on Mouse Hover*/
div.vertical-navigation-main ul.vertical-navigation-container li:hover > .menu-wrap-sub{
  left:100%;
  top:0;
  opacity: 1;
  filter:alpha(opacity = 100);
  visibility:visible;
}
div.vertical-navigation-main ul.vertical-navigation-container li .menu-wrap-sub li > .menu-wrap-sub,
div.vertical-navigation-main ul.vertical-navigation-container li .menu-wrap-sub li .menu-wrap-sub li > .menu-wrap-sub,
div.vertical-navigation-main ul.vertical-navigation-container li .menu-wrap-sub li .menu-wrap-sub li .menu-wrap-sub li > .menu-wrap-sub,
div.vertical-navigation-main ul.vertical-navigation-container li .menu-wrap-sub li .menu-wrap-sub li .menu-wrap-sub li .menu-wrap-sub li > .menu-wrap-sub{
  opacity: 0; filter:alpha(opacity = 0);
  visibility: hidden;
  left: 110%;
  top: 3px;
}
div.vertical-navigation-main ul.vertical-navigation-container li .menu-wrap-sub li:hover > .menu-wrap-sub,
div.vertical-navigation-main ul.vertical-navigation-container li .menu-wrap-sub li .menu-wrap-sub li:hover > .menu-wrap-sub,
div.vertical-navigation-main ul.vertical-navigation-container li .menu-wrap-sub li .menu-wrap-sub li .menu-wrap-sub li:hover > .menu-wrap-sub,
div.vertical-navigation-main ul.vertical-navigation-container li .menu-wrap-sub li .menu-wrap-sub li .menu-wrap-sub li .menu-wrap-sub li:hover > .menu-wrap-sub{
  left:100%;
  opacity: 1;
  filter:alpha(opacity = 100);
  visibility:visible;
  top: 0;
} 
/*/////////// HEADER ///////////*/ 
.header-container .navbar .bs-navbar-collapse,
.header-container .header-setting .switcher-wrap .switcher-content, 
.header-container .header-maincart .cart-container .cart-wrapper{
  position: absolute;
  top: 26px;
  right: 0; 
} 
.header-container .is-sticky .header-setting .switcher-wrap:hover .switcher-content, 
.header-container .is-sticky .header-maincart .cart-container:hover .cart-wrapper { 
  
}
/* Itemgrid: different numbers of columns
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Clear every first item in each row (row: group of n items) */

/* Item grid: 1 column */
.itemgrid-1col .item { width:98%; }

/* Item grid: 2 columns */
.itemgrid-2col .item { width:48%; }
.itemgrid-2col .item:nth-child(2n+1) { clear:left; }

/* Item grid: 3 columns */
.itemgrid-3col .item { width:33.333%; }
.itemgrid-3col .item:nth-child(3n+1) { clear:left; }

/* Item grid: 4 columns */
.itemgrid-4col .item { width:25%; }
.itemgrid-4col .item:nth-child(4n+1) { clear:left; }
.itemgrid-4col .item.dop { width:48%; }

/* Item grid: 5 columns */
.itemgrid-5col .item { width:18%; }
.itemgrid-5col .item:nth-child(5n+1) { clear:left; }
.itemgrid-5col .item.dop { width:38%; }

/* Item grid: 6 columns */
.itemgrid-6col .item { width:14.66%; }
.itemgrid-6col .item:nth-child(6n+1) { clear:left; }
.itemgrid-6col .item.dop { width:29.32%; }

/* Item grid: 7 columns */
.itemgrid-7col .item { width:12.286%; }
.itemgrid-7col .item:nth-child(7n+1) { clear:left; }


/*Grid column*/
.grid12-12, .grid-full {
  width: 98%;
}
.grid12-1, .grid12-2,
.grid12-3,
.grid12-4, .grid12-5,
.grid12-6, .grid12-7,
.grid12-8, .grid12-9,
.grid12-10, .grid12-11,
.grid12-12, .grid4-1,
.grid4-2, .grid4-3,
.grid2-1, .grid-full,
.grid-col2-sidebar,
.grid-col2-main {
  position: relative;
  display: inline;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

/* Grid units */
.grid12-1,
.grid12-2,
.grid12-3,
.grid12-4,
.grid12-5,
.grid12-6,
.grid12-7,
.grid12-8,
.grid12-9,
.grid12-10,
.grid12-11,
.grid12-12,

/* Deprecated: other grid units */
.grid4-1,
.grid4-2,
.grid4-3,
.grid2-1,

/* Alias for full-width units */
.grid-full,

/* Special grid units */
.grid-col2-sidebar,
.grid-col2-main
{
  position:relative;
  display:inline;
  float:left;
  margin-left:1%;
  margin-right:1%;
}

/* Basic grid units width */
.grid12-1	{ width:6.33%; }
.grid12-2	{ width:14.66%; }
.grid12-3,
.grid4-1	{ width:23%; }
.grid12-4	{ width:31.33%; }
.grid12-5	{ width:39.67%; }
.grid12-6,
.grid4-2,
.grid2-1	{ width:48%; }
.grid12-7	{ width:56.33%; }
.grid12-8	{ width:64.67%; }
.grid12-9,
.grid4-3	{ width:73%; }
.grid12-10	{ width:81.33%; }
.grid12-11	{ width:89.67%; }
.grid12-12,
.grid-full	{ width:98%; }
/* Itemgrid: different numbers of columns end
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/