.clear {
    content: "";
    display: table;
    clear: both;
}

header.main-section-header {
    .header-container.type3 .header {
        padding: 15px 0;
        .header-left-area {
            padding: 0;
        }
    }
}


body.template-index {
    .slideshow-section {
        margin-bottom: 20px;
    }
    .banner-image-2 {
        margin-top:15px;
        div.row {
            margin: 0 0 !important;
        }
        .box-inner {
            width: 98%;
            margin: 0 auto;
            &:hover {
                a.btn-banner {
                    border-color: #d32424 !important;
                    background: #d32424 !important;
                    color: #fff;
                }
            }

        }

        @media only screen and (max-width: 770px) {
            margin-top:0;
            .banner--image {
                margin-bottom: 15px;
            }
        }

    }
    div.instagram-feed {
        margin-top:30px;
        h1 {
            text-transform: uppercase;
        }
        h2 {
            font-size: 100px;
            line-height: 100px;
            font-weight: 700;
            color: #343538;
            font-family: "Playfair Display";
            font-style: italic;
            text-align: center;
            margin-bottom: 20px;
        }
        #rudr_instafeed {
            display: flex;
            flex-direction: row;
            width: 98%;
            margin: 0 auto;
            justify-content: space-between;
            li {
                padding: 10px;
                border: 1px solid #ddd;
                width: 24%;
            }
        }
        @media only screen and (max-width: 770px) {
            #rudr_instafeed {
                flex-wrap: wrap;
                justify-content: center;
                li {
                    width: 46%;
                    margin: 5px;
                }
            }
        }

    }
    #shopify-section-footer {
        margin-top: 0;
    }
}

//MEMBER SECTION

.member-section {
    width: 100%;
    text-align: center;
    padding: 5em 0;
    background: #7b1232;
    margin-top: 5em;
    color: #eee;
    h2 {
        color: #fff;
        text-transform: uppercase;
        font-size: 75px;
        font-family: 'Playfair Display', 'arial';
    }
    h3 {
        font-size: 28px;
        color: #dddddd;
        font-weight: normal !important;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    div {
        width: 100%;
    }
    p {
        max-width: 600px;
        margin: 0 auto 15px;
        width: 95%;
    }
    a {
        background: #ddd;
        color: #7b1232;
        &:hover {
            background: #444;
            color:#fff;
        }
    }
}

.block-button {
    padding: 10px;
    border: 1px solid;
    margin-top: 5px;
    text-transform: uppercase;
    display: inline-block;
}

//MAILING LIST SECTION

.mailinglist-section {
    margin-top: 5em;
    background: #444242;
    width: 100%;
    text-align: center;
    padding: 2em 0;
    h2 {
        color: #fff;
        font-family: 'Playfair Display';
        font-size: 55px;
    }
    div {
        
        width: 100%;
    }
    p {
        width: 95%;
        margin: 0 auto 10px;
    }
    .input-group {
        margin: 0 auto;
    }
    input[type="email"] {
        line-height: 38px;
        border: 0;
        padding: 0 0 0 10px;
        text-transform: uppercase;
    }
}

//TEAM SECTION

div.team-section {
    width:100%;
    padding: 0 1%;
    margin: 30px 0;
    .section-title {
        margin-bottom: 0;
        margin-top: 30px;
    }

    .tab-menu {
        width: 15%;
        margin-right: 5%;
        a {
            display: block;
            cursor: pointer;
            border-bottom: 1px solid #ddd;
            margin-bottom: 15px;
            padding: 0 0 5px;
            &.active {
                text-decoration: underline;
            }
        }
    }
    .tab-contain {
        width:85%;
        min-height: 200px;
    }
    .product-image {
       // width: 100%;
       background: none !important;
       img {
            width: 80% !important;
            margin: 0 auto;
       }
        img.alt-img {
            position: absolute;
            opacity: 0 !important;
        }
    }
    .product-row {
        li {
            width: 30%;
            text-align: center;
            margin-bottom: 30px;
        }
    }
    .product-short-des {
        display: none;
    }
    h2 {
        text-align:left;
        text-transform: uppercase;
    }
    @media only screen and (max-width: 770px) {
        .content-row {
            flex-direction: column;
        }
        .tab-menu {
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            margin: 0 0 10px;
            flex-wrap: wrap;
            a {
                display: inline-block;
                border: none;
                justify-content: space-around;
                margin: 10px;
            }
        }
        .tab-contain {
            width:100%;
            h2 {
                text-align: center;
            }
        }
    }
}

.tab-content {
    display:none;
    opacity: 0;
    &:first-of-type {
        display: block;
        opacity: 1;
    }
}

.content-row {
    display: flex;
    flex-direction: row;
}

.product-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    li {

    }
}

//FOOTER

#shopify-section-footer footer.footer-wrapper {
    div.footer-container {
        div.footer-inner {
            div.footer-middle4 {
                div.footer-logo {
                    margin: 0 0 30px !important; 
                    img {
                        width: 90%;
                        max-width: 250px;
                    }
                }
            }
            .about-foot {
                h2 {
                    text-transform: uppercase;
                    color: #ddd;
                    font-size: 18px;
                }
                p {

                }
                a {
                    border: 1px solid #9d9d9d;
                    padding: 7px 10px;
                    text-transform: uppercase;
                    font-size: 12px;
                    float:left;
                }
            }
            .foot-icon {
                width: 50px;
            }
            .footer-bottom4 {
                margin-top:30px !important;
            }
        }
    }

}

// RESPONSIVE 

@media only screen and (max-width: 770px) {
    .section-title {
        h1 {
            font-size: 55px;
        } 
    }
}