.clear {
  content: "";
  display: table;
  clear: both;
}
header.main-section-header .header-container.type3 .header {
  padding: 15px 0;
}
header.main-section-header .header-container.type3 .header .header-left-area {
  padding: 0;
}
body.template-index .slideshow-section {
  margin-bottom: 20px;
}
body.template-index .banner-image-2 {
  margin-top: 15px;
}
body.template-index .banner-image-2 div.row {
  margin: 0 0 !important;
}
body.template-index .banner-image-2 .box-inner {
  width: 98%;
  margin: 0 auto;
}
body.template-index .banner-image-2 .box-inner:hover a.btn-banner {
  border-color: #d32424 !important;
  background: #d32424 !important;
  color: #fff;
}
@media only screen and (max-width: 770px) {
  body.template-index .banner-image-2 {
    margin-top: 0;
  }
  body.template-index .banner-image-2 .banner--image {
    margin-bottom: 15px;
  }
}
body.template-index div.instagram-feed {
  margin-top: 30px;
}
body.template-index div.instagram-feed h1 {
  text-transform: uppercase;
}
body.template-index div.instagram-feed h2 {
  font-size: 100px;
  line-height: 100px;
  font-weight: 700;
  color: #343538;
  font-family: "Playfair Display";
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
}
body.template-index div.instagram-feed #rudr_instafeed {
  display: flex;
  flex-direction: row;
  width: 98%;
  margin: 0 auto;
  justify-content: space-between;
}
body.template-index div.instagram-feed #rudr_instafeed li {
  padding: 10px;
  border: 1px solid #ddd;
  width: 24%;
}
@media only screen and (max-width: 770px) {
  body.template-index div.instagram-feed #rudr_instafeed {
    flex-wrap: wrap;
    justify-content: center;
  }
  body.template-index div.instagram-feed #rudr_instafeed li {
    width: 46%;
    margin: 5px;
  }
}
body.template-index #shopify-section-footer {
  margin-top: 0;
}
.member-section {
  width: 100%;
  text-align: center;
  padding: 5em 0;
  background: #7b1232;
  margin-top: 5em;
  color: #eee;
}
.member-section h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 75px;
  font-family: 'Playfair Display', 'arial';
}
.member-section h3 {
  font-size: 28px;
  color: #dddddd;
  font-weight: normal !important;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.member-section div {
  width: 100%;
}
.member-section p {
  max-width: 600px;
  margin: 0 auto 15px;
  width: 95%;
}
.member-section a {
  background: #ddd;
  color: #7b1232;
}
.member-section a:hover {
  background: #444;
  color: #fff;
}
.block-button {
  padding: 10px;
  border: 1px solid;
  margin-top: 5px;
  text-transform: uppercase;
  display: inline-block;
}
.mailinglist-section {
  margin-top: 5em;
  background: #444242;
  width: 100%;
  text-align: center;
  padding: 2em 0;
}
.mailinglist-section h2 {
  color: #fff;
  font-family: 'Playfair Display';
  font-size: 55px;
}
.mailinglist-section div {
  width: 100%;
}
.mailinglist-section p {
  width: 95%;
  margin: 0 auto 10px;
}
.mailinglist-section .input-group {
  margin: 0 auto;
}
.mailinglist-section input[type="email"] {
  line-height: 38px;
  border: 0;
  padding: 0 0 0 10px;
  text-transform: uppercase;
}
div.team-section {
  width: 100%;
  padding: 0 1%;
  margin: 30px 0;
}
div.team-section .section-title {
  margin-bottom: 0;
  margin-top: 30px;
}
div.team-section .tab-menu {
  width: 15%;
  margin-right: 5%;
}
div.team-section .tab-menu a {
  display: block;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  padding: 0 0 5px;
}
div.team-section .tab-menu a.active {
  text-decoration: underline;
}
div.team-section .tab-contain {
  width: 85%;
  min-height: 200px;
}
div.team-section .product-image {
  background: none !important;
}
div.team-section .product-image img {
  width: 80% !important;
  margin: 0 auto;
}
div.team-section .product-image img.alt-img {
  position: absolute;
  opacity: 0 !important;
}
div.team-section .product-row li {
  width: 30%;
  text-align: center;
  margin-bottom: 30px;
}
div.team-section .product-short-des {
  display: none;
}
div.team-section h2 {
  text-align: left;
  text-transform: uppercase;
}
@media only screen and (max-width: 770px) {
  div.team-section .content-row {
    flex-direction: column;
  }
  div.team-section .tab-menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0 0 10px;
    flex-wrap: wrap;
  }
  div.team-section .tab-menu a {
    display: inline-block;
    border: none;
    justify-content: space-around;
    margin: 10px;
  }
  div.team-section .tab-contain {
    width: 100%;
  }
  div.team-section .tab-contain h2 {
    text-align: center;
  }
}
.tab-content {
  display: none;
  opacity: 0;
}
.tab-content:first-of-type {
  display: block;
  opacity: 1;
}
.content-row {
  display: flex;
  flex-direction: row;
}
.product-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
#shopify-section-footer footer.footer-wrapper div.footer-container div.footer-inner div.footer-middle4 div.footer-logo {
  margin: 0 0 30px !important;
}
#shopify-section-footer footer.footer-wrapper div.footer-container div.footer-inner div.footer-middle4 div.footer-logo img {
  width: 90%;
  max-width: 250px;
}
#shopify-section-footer footer.footer-wrapper div.footer-container div.footer-inner .about-foot h2 {
  text-transform: uppercase;
  color: #ddd;
  font-size: 18px;
}
#shopify-section-footer footer.footer-wrapper div.footer-container div.footer-inner .about-foot a {
  border: 1px solid #9d9d9d;
  padding: 7px 10px;
  text-transform: uppercase;
  font-size: 12px;
  float: left;
}
#shopify-section-footer footer.footer-wrapper div.footer-container div.footer-inner .foot-icon {
  width: 50px;
}
#shopify-section-footer footer.footer-wrapper div.footer-container div.footer-inner .footer-bottom4 {
  margin-top: 30px !important;
}
@media only screen and (max-width: 770px) {
  .section-title h1 {
    font-size: 55px;
  }
}
