<!-- /templates/blog.liquid -->

{% paginate blog.articles by 9 %}
<div class="page-title-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{% include 'title-all' %}</h1>
                {% include 'breadcrumb' %}
            </div>
        </div>
    </div>
</div>
{% if settings.blog_page_layout == 'list' %}
<div class="post-layout-list">
    <div class="container">
        <div class="row">
            {% if settings.blog_sidebar_position == 'left' %}
            <div class="col-sm-3 sidebar">
                {% include 'blog-sidebar' %}
            </div>
            {% endif %}
            <div class="{% if settings.blog_sidebar_position == 'none' %}col-sm-12{% else %}col-sm-9{% endif %}">
                <div class="blog-wrapper">
                    {% for article in blog.articles %}
                    <div class="postWrapper">
                        <div class="entry-thumbnail">
                            <div class="feature-image" style="background-image: url({{ article.image.src | img_url: '1000x800'}})">
                                <a href="{{ article.url }}">
                                    <img src="{{ article.image.src | img_url: '500x400' }}">
                                    <i class="nc-icon-outline ui-1_zoom"></i>
                                </a>
                            </div>
                        </div>
                        <div class="item-infor">
                            <div class="postTitle">
                                <h2>
                                    <a href="{{ article.url }}">
                                        {% if settings.language_enable %}
                                        <span class="lang1">{{ article.title | split: '|' | first }}</span>
                                        <span class="lang2">{{ article.title | split: '|' | last }}</span>
                                        {% else %}
                                        {{ article.title | split: '|' | first }}
                                        {% endif %}
                                    </a>
                                </h2>
                            </div>
                            <div class="date_comment">
                                <div class="post-date">
                                    <span class="day">{{ article.published_at | date: '%d' }}</span>
                                    <span class="month">{{ article.published_at | date: '%b' }}, </span>
                                    <span class="year">{{ article.published_at | date: '%Y' }}</span>
                                </div>
                                {% assign number_of_comments = article.comments_count %}
                                <div class="post-count-comment">
                                    <span class="numb-comments" {% if settings.language_enable %}data-translate="blogs.comments.comments_with_count|count:{{number_of_comments}}"{%endif%}>{{ 'blogs.comments.comments_with_count' | t: count: number_of_comments }}</span>
                                </div>
                            </div>
                            <div class="postBanner">
                                {{ article.excerpt }}
                            </div>
                            <div class="postContent">
                                <p>
                                    {% if settings.language_enable %}
                                    <span class="lang1">{{ article.content | strip_html | split: '[lang2]' | first | truncatewords: 20 }}</span>
                                    <span class="lang2">{{ article.content | strip_html | split: '[lang2]' | last | truncatewords: 20 }}</span>
                                    {% else %}
                                    {{ article.content | strip_html | split: '[lang2]' | first | truncatewords: 20}}
                                    {% endif %}
                                </p>
                                <a class="readmore" href="{{ article.url }}" {% if settings.language_enable %}data-translate="blogs.article.read_more"{% endif %}>{{ 'blogs.article.read_more' | t }}</a>
                            </div>
                            <div class="postDetails hidden">
                                {% capture author %}{{ article.author }}{% endcapture %}

                                {% capture date %}<time datetime='{{ article.published_at | date: '%Y-%m-%d' }}'>{{ article.published_at | date: format: 'month_day_year' }}</time>{% endcapture %}
                                <span class="blog_author" {% if settings.language_enable %}data-translate="blogs.article.author_on_date_html|date:{{date}},author:{{author}}" translate-item="blog-date-author"{%endif%}>
              <i class="icon-calendar"></i>
              {{ 'blogs.article.author_on_date_html' | t: date: date, author: author }}
            </span>
                                <span class="blog_author" {% if settings.language_enable %}data-translate="blogs.article.by_admin|author:{{author}}" translate-item="blog-date-author"{%endif%}>
              <i class="icon-user"></i>
              {{ 'blogs.article.by_admin' | t: author: author }}
            </span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% if paginate.pages > 1 %}
                    <div class="pagenav-wrap">
                        <div class="pagination">
                            {% include 'pagination' %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if settings.blog_sidebar_position == 'right' %}
            <div class="col-sm-3 sidebar">
                {% include 'blog-sidebar' %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% if settings.blog_page_layout == 'grid2' %}
<div class="post-layout-grid-2">
    <div class="container">
        <div class="row">
            {% if settings.blog_sidebar_position == 'left' %}
            <div class="col-sm-3 sidebar">
                {% include 'blog-sidebar' %}
            </div>
            {% endif %}
            <div class="{% if settings.blog_sidebar_position == 'none' %}col-sm-12{% else %}col-sm-9{% endif %}">
                <div class="blog-wrapper">
                    {% for article in blog.articles %}
                    <div class="postWrapper">
                        <div class="entry-content-inner">
                            <div class="feature-image" style="background-image: url({{ article.image.src | img_url: '1000x800'}})">
                                <a href="{{ article.url }}">
                                    <img src="{{ article.image.src | img_url: '400x300' }}">
                                    <i class="nc-icon-outline ui-1_zoom"></i>
                                </a>
                            </div>
                            <div class="item-content">
                                <div class="postTitle">
                                    <h2>
                                        <a href="{{ article.url }}">
                                            {% if settings.language_enable %}
                                            <span class="lang1">{{ article.title | split: '|' | first }}</span>
                                            <span class="lang2">{{ article.title | split: '|' | last }}</span>
                                            {% else %}
                                            {{ article.title | split: '|' | first }}
                                            {% endif %}
                                        </a>
                                    </h2>
                                </div>
                                <div class="date_comment">
                                    <div class="post-date">
                                        <span class="day">{{ article.published_at | date: '%d' }}</span>
                                        <span class="month">{{ article.published_at | date: '%b' }}, </span>
                                        <span class="year">{{ article.published_at | date: '%Y' }}</span>
                                    </div>
                                    {% assign number_of_comments = article.comments_count %}
                                    <div class="post-count-comment">
                                        <span class="numb-comments" {% if settings.language_enable %}data-translate="blogs.comments.comments_with_count|count:{{number_of_comments}}"{%endif%}>{{ 'blogs.comments.comments_with_count' | t: count: number_of_comments }}</span>
                                    </div>
                                </div>
                                <div class="infor-bottom">
                                    <div class="postContent">
                                        <p>
                                            {% if settings.language_enable %}
                                            <span class="lang1">{{ article.content | strip_html | split: '[lang2]' | first | truncatewords: 13 }}</span>
                                            <span class="lang2">{{ article.content | strip_html | split: '[lang2]' | last | truncatewords: 13 }}</span>
                                            {% else %}
                                            {{ article.content | strip_html | split: '[lang2]' | first | truncatewords: 13}}
                                            {% endif %}
                                        </p>
                                    </div>
                                    <a class="readmore" href="{{ article.url }}" {% if settings.language_enable %}data-translate="blogs.article.read_more"{% endif %}>{{ 'blogs.article.read_more' | t }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% if paginate.pages > 1 %}
                    <div class="pagenav-wrap">
                        <div class="pagination">
                            {% include 'pagination' %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if settings.blog_sidebar_position == 'right' %}
            <div class="col-sm-3 sidebar">
                {% include 'blog-sidebar' %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% if settings.blog_page_layout == 'grid' %}
<div class="post_layout_grid">
    <div class="container blog-wrapper">
        <div class="row">
            {% for article in blog.articles %}
            <div class="{% if settings.number_column_grid != blank %}col-md-{{ settings.number_column_grid }}{% endif %} col-sm-6 itempost-grid">
                <div class="postWrapper">
                    <div class="entry-content-inner">
                        <div class="feature-image" style="background-image: url({{ article.image.src | img_url: '1000x800'}})">
                            <a href="{{ article.url }}">
                                <img src="{{ article.image.src | img_url: '400x300' }}">
                                <i class="nc-icon-outline ui-1_zoom"></i>
                            </a>
                        </div>
                        <div class="item-content">
                            <div class="postTitle">
                                <h2>
                                    <a href="{{ article.url }}">
                                        {% if settings.language_enable %}
                                        <span class="lang1">{{ article.title | split: '|' | first }}</span>
                                        <span class="lang2">{{ article.title | split: '|' | last }}</span>
                                        {% else %}
                                        {{ article.title | split: '|' | first }}
                                        {% endif %}
                                    </a>
                                </h2>
                            </div>
                            <div class="date_comment">
                                <div class="post-date">
                                    <span class="day">{{ article.published_at | date: '%d' }}</span>
                                    <span class="month">{{ article.published_at | date: '%b' }}, </span>
                                    <span class="year">{{ article.published_at | date: '%Y' }}</span>
                                </div>
                                {% assign number_of_comments = article.comments_count %}
                                <div class="post-count-comment">
                                    <span class="numb-comments" {% if settings.language_enable %}data-translate="blogs.comments.comments_with_count|count:{{number_of_comments}}"{%endif%}>{{ 'blogs.comments.comments_with_count' | t: count: number_of_comments }}</span>
                                </div>
                            </div>
                            <div class="infor-bottom">
                                <div class="postContent">
                                    <p>
                                        {% if settings.language_enable %}
                                        <span class="lang1">{{ article.content | strip_html | split: '[lang2]' | first | truncatewords: 13 }}</span>
                                        <span class="lang2">{{ article.content | strip_html | split: '[lang2]' | last | truncatewords: 13 }}</span>
                                        {% else %}
                                        {{ article.content | strip_html | split: '[lang2]' | first | truncatewords: 13}}
                                        {% endif %}
                                    </p>
                                </div>
                                <a class="readmore" href="{{ article.url }}" {% if settings.language_enable %}data-translate="blogs.article.read_more"{% endif %}>{{ 'blogs.article.read_more' | t }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if paginate.pages > 1 %}
        <div class="pagenav-wrap">
            <div class="pagination">
                {% include 'pagination' %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
{% if settings.blog_page_layout == 'masonry' %}
<div class="post_layout_mansory">
    <div class="container blog-wrapper">
        <div class="row">
            <div class="grid-masonry">
                {% for article in blog.articles %}
                <div class="item-masonry">
                    <div class="postWrapper">
                        <div class="entry-content-inner">
                            <div class="feature-image">
                                <a href="{{ article.url }}">
                                    <img src="{{ article.image.src | img_url: '400x300' }}">
                                    <i class="nc-icon-outline ui-1_zoom"></i>
                                </a>
                            </div>
                            <div class="item-content">
                                <div class="postTitle">
                                    <h2>
                                        <a href="{{ article.url }}">
                                            {% if settings.language_enable %}
                                            <span class="lang1">{{ article.title | split: '|' | first }}</span>
                                            <span class="lang2">{{ article.title | split: '|' | last }}</span>
                                            {% else %}
                                            {{ article.title | split: '|' | first }}
                                            {% endif %}
                                        </a>
                                    </h2>
                                </div>
                                <div class="date_comment">
                                    <div class="post-date">
                                        <span class="day">{{ article.published_at | date: '%d' }}</span>
                                        <span class="month">{{ article.published_at | date: '%b' }}, </span>
                                        <span class="year">{{ article.published_at | date: '%Y' }}</span>
                                    </div>
                                    {% assign number_of_comments = article.comments_count %}
                                    <div class="post-count-comment">
                                        <span class="numb-comments" {% if settings.language_enable %}data-translate="blogs.comments.comments_with_count|count:{{number_of_comments}}"{%endif%}>{{ 'blogs.comments.comments_with_count' | t: count: number_of_comments }}</span>
                                    </div>
                                </div>
                                <div class="infor-bottom">
                                    <div class="postContent">
                                        <p>
                                            {% if settings.language_enable %}
                                            <span class="lang1">{{ article.content | strip_html | split: '[lang2]' | first | truncatewords: 13 }}</span>
                                            <span class="lang2">{{ article.content | strip_html | split: '[lang2]' | last | truncatewords: 13 }}</span>
                                            {% else %}
                                            {{ article.content | strip_html | split: '[lang2]' | first | truncatewords: 13}}
                                            {% endif %}
                                        </p>
                                    </div>
                                    <a class="readmore" href="{{ article.url }}" {% if settings.language_enable %}data-translate="blogs.article.read_more"{% endif %}>{{ 'blogs.article.read_more' | t }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% if paginate.pages > 1 %}
        <div class="pagenav-wrap">
            <div class="pagination">
                {% include 'pagination' %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
{% endpaginate %} 