{% include 'subscription-cart-footer' %}
<!-- /templates/cart.liquid -->
<div class="page-title-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 {% if settings.language_enable %}data-translate="cart.general.title"{% endif %}>{{ 'cart.general.title' | t }}</h1>
                {% include 'breadcrumb' %}
            </div>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
    {% if cart.item_count > 0 %}
    <div class="checkout-cart">
      <div class="cart-inner"> 
        <form action="/cart" method="post" novalidate class="cart table-wrap">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="cart-table-wrap">
              <table class="data-table full cart-table">
                <thead>
                  <th rowspan="1" class="hidden-phone"></th>
                  <th rowspan="1" class="text-left" {% if settings.language_enable %}data-translate="cart.label.product"{% endif %}>{{ 'cart.label.product' | t }}</th>
                  <th rowspan="1" class="text-left" {% if settings.language_enable %}data-translate="cart.label.price"{% endif %}>{{ 'cart.label.price' | t }}</th>
                  <th rowspan="1" class="text-left" {% if settings.language_enable %}data-translate="cart.label.quantity"{% endif %}>{{ 'cart.label.quantity' | t }}</th>
                  <th rowspan="1"></th>
                </thead>               
                <tbody>
                  {% for item in cart.items %}
                  <tr>
                    <td class="text-left pr-img-td" data-label="{{ 'customer.order.product' | t }}">
                      <a href="{{ item.url | within: collections.all }}" class="product-image"> 
                        <img src="{{ item | img_url: '100x' }}" alt="{{ item.title | escape }}">
                      </a>
                    </td>
                    <td class="text-left product-name-td">
                      <h5 class="product-name"> 
                        <a href="{{ item.url }}"> 
                          {% if settings.language_enable %}
                          <div class="lang1">{{ item.product.title | split: '|' | first }}</div>
                          <div class="lang2">{{ item.product.title | split: '|' | last }}</div>
                          {% else %}
                          {{ item.product.title | split: '|' | first }}
                          {% endif %}
                        </a>
                      </h5>
                      {% unless item.variant.title contains 'Default' %} 
                      <p>{{ item.variant.title }}</p>
                      {% endunless %}  
                      {% assign property_size = item.properties | size %}
                      {% if property_size > 0 %}
                      {% for p in item.properties %}
                      {% unless p.last == blank or p.first == "subscription_id" or p.first == "shipping_interval_frequency" or p.first == "shipping_interval_unit_type" %}
                      {{ p.first }}: 
                      {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                      {% else %}
                      {{ p.last }}
                      {% endif %} 
                      <br>
                      {% endunless %}
                      {% endfor %}
                      {% endif %}                    
                    </td>
                    <td data-label="{{ 'cart.label.price' | t }}">
                      <span class="cart-price">
                        <span class="money">{{ item.price | money }}</span>
                      </span>
                    </td>
                    <td class="a-center product-qty last" data-label="{{ 'cart.label.quantity' | t }}">
                      <div class="reduced items" onclick="var result = document.getElementById('updates_{{ item.id }}'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty > 1 ) result.value--;return false;">
                        -
                      </div>
                      <input type="text" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0"> 
                      <div class="increase items" onclick="var result = document.getElementById('updates_{{ item.id }}'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;">
                        +
                      </div>
                      <div class="cart-actions">
                        <a href="{{ item.url }}" class="edit-item"></a>
                      </div>
                    </td>
                      <td class="action-td"><a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="remove-item"><i class="nc-icon-outline ui-1_simple-remove"></i></a></td>
                  </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="10">
                      <button type="submit" class="btn-button"><span {% if settings.language_enable %}data-translate="cart.general.continue"{% endif %}>{{ 'cart.general.continue' | t }}</span></button>
                      <button type="submit" class="btn-button btn-update tiny"><span {% if settings.language_enable %}data-translate="cart.general.update"{% endif %}>{{ 'cart.general.update' | t }}</span></button>                   
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
            <div class="col-sm-12 col-md-7 col-lg-7">
                <div class="page-title title-buttons">
                    <ul class="checkout-types">
                        <li>
                            <input type="submit" name="checkout" class="btn-button bordered" {% if settings.language_enable %}data-translate="cart.general.checkout"{% endif %} value="{{ 'cart.general.checkout' | t }}">
                        </li>
                    </ul>
                </div>
            </div>
          <div class="col-sm-12 col-md-5 col-lg-5">
            <div class="checkout-info">
              <div class="shipping">
                <h2 class="closed"><a href="#collapse-shipping" class="collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-shipping" {% if settings.language_enable %}data-translate="cart.shipping.title"{% endif %}>{{'cart.shipping.title' | t}}</a></h2>
                <div id="collapse-shipping" class="shipping-form collapse">
                  {% include 'shipping-calculator' %}
                </div>
              </div>
            </div>
            <div class="totals">  
              <h2>Cart Totals</h2>
              <div class="totals-content">
                <table id="shopping-cart-totals-table"> 
                  <tfoot>
                    <tr>
                      <td class="a-right" colspan="1">
                        <strong {% if settings.language_enable %}data-translate="cart.general.grandtotal"{% endif %}>{{ 'cart.general.grandtotal' | t }}</strong>
                      </td>
                      <td class="a-right">
                        <strong><span class="price"><span class="money">{{ cart.total_price | money }}</span></span></strong>
                      </td>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>
                      <td class="a-right" colspan="1" {% if settings.language_enable %}data-translate="cart.general.subtotal"{% endif %}>{{ 'cart.general.subtotal' | t }}</td>
                      <td class="a-right">
                        <span class="price"><span class="money">{{ cart.total_price | money }}</span></span>    
                      </td>
                    </tr>
                  </tbody>
                </table>
                <ul class="checkout-types">
                  <li>
                    <input type="submit" name="checkout" class="btn-button" {% if settings.language_enable %}data-translate="cart.general.checkout"{% endif %} value="{{ 'cart.general.checkout' | t }}">
                  </li>
                  <li>
                    <a href="#" {% if settings.language_enable %}data-translate="cart.general.shipping_at_checkout"{% endif %}>{{ 'cart.general.shipping_at_checkout' | t }}</a></li>
                </ul> 
              </div>
            </div>        
          </div> 
        </form>
      </div> 
    </div>
    {% else %} 
    <div class="checkout-cart">
      <h2 {% if settings.language_enable %}data-translate="cart.general.title"{% endif %}>{{ 'cart.general.title' | t }}</h2>
      <p {% if settings.language_enable %}data-translate="cart.general.empty"{% endif %}>{{ 'cart.general.empty' | t }}</p>
      <p {% if settings.language_enable %}data-translate="cart.general.continue_browsing_html"{% endif %}>{{ 'cart.general.continue_browsing_html' | t }}</p>
    </div>
    {% endif %}
  </div>
</div>