<!-- /templates/collection.liquid -->
{% if settings.collection_columns != '5' %}
{% assign col = 12 | divided_by: settings.collection_columns %}
{% else %}
{% assign col = settings.collection_columns %}
{% endif %}
{% paginate collection.products by collection.all_products_count %}
<div class="page-title-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{% include 'title-all' %}</h1>
                {% include 'breadcrumb' %}
            </div>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">  
    <div class="{% if settings.collection_sidebar_position != 'none' %} col-sm-9 collection_content{% else %} col-sm-12{% endif %} {% if settings.collection_sidebar_position == 'left' %}f-right{%endif%}"> 
      {% if collection.description != blank %} 
      <div class="collection-main-banner">
        {% if settings.language_enable %}
        <div class="lang1">{{ collection.description | split: '[lang2]' | first }}</div>
        <div class="lang2">{{ collection.description | split: '[lang2]' | last }}</div>
        {% else %}
        {{ collection.description | split: '[lang2]' | first }}
        {% endif %}
      </div>
      {% endif %}
      <div id="collection-main">
        <div class="toolbar">
          {% include 'collection-sorting' %}
        </div>  
        <div class="category-products">
          <ul id="products-grid" class="products-grid columns{{settings.collection_columns}} {% if settings.collection_flex_grid != blank %}flex-grid{% endif %} {% if settings.collection_move_actions != blank %}move-action{% endif %}">
            {% for product in collection.products %} 
            {% assign productIndex = forloop.index | minus:1 %}
            {% assign delayTime = settings.time_lazy_load | times : productIndex %} 
            <li class="item product product-layout-grid">
              <div class="item-effect">
                {% include 'product-grid-item' %} 
              </div> 
            </li> 
            {% else %}
            {% if collection.handle == 'all' and current_tags == '' %}  
            {% unless emptyState %}
            {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
            {% assign emptyState = true %}
            {% endunless %}
            {% include 'onboarding-empty-collection' %} 
            {% else %}  
            <li>{{ 'collections.general.no_matches' | t }}</li> 
            {% endif %} 
            {% endfor %}
          </ul>
        </div>  
        <div class="toolbar-bottom">
          <div class="toolbar">
            {% include 'collection-sorting-bottom' %}
          </div> 
        </div>
      </div> 
    </div>
    {% if settings.collection_sidebar_position != 'none' %}
    <div class="col-sm-3 sidebar {% if settings.collection_sidebar_position == 'left' %}f-left{% endif %}">
      {% include 'collection-sidebar' %}
    </div> 
    {% endif %} 
  </div>
</div>
{% if settings.collection_sidebar_position == 'none' %}
<div class="sidebar-special">
    <span class="controloff nc-icon-outline arrows-1_tail-left"></span>
    {% include 'collection-sidebar' %}
</div>
{% endif %}
{% endpaginate %}

