<!-- /templates/page.contact.liquid -->
<section class="contact-page-title-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="contact_us_title">
                <h1>
                    {% if settings.language_enable %}
                    <span class="lang1">{{ page.title | split: '|' | first }}</span>
                    <span class="lang2">{{ page.title | split: '|' | last }}</span>
                    {% else %}
                    {{ page.title | split: '|' | first }}
                    {% endif %}
                </h1>
            </div>
            <div class="contact_us_breadcrumb">
                {% include 'breadcrumb' %}
            </div>
        </div>
    </div>
</section>

<section class="form-contact-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-1 hidden-xs"></div>
            <div class="col-lg-6 col-md-8 col-sm-10 edit-padding">
                <div class="contact-form-top">
                    {% if settings.contact_title1 != blank %}
                    <div class="title-form-contact">
                        <h3>{{ settings.contact_title1 }}</h3>
                    </div>
                    {% endif %}
                    <div class="line-contact1"></div>
                    {% if settings.contact_sub_title != blank %}
                    <div class="sub-title-contact">
                        <p>{{ settings.contact_sub_title }}</p>
                    </div>
                    {% endif %}
                </div>
                <div class="form-vertical">
                    {% form 'contact' %}
                    {% if form.posted_successfully? %}
                    <p class="note form-success" {% if settings.language_enable %}data-translate="contact.form.post_success"{% endif %}>
                        {{ 'contact.form.post_success' | t }}
                    </p>
                    {% endif %}
                    {{ form.errors | default_errors }}
                    {% assign name_attr = 'contact.form.name' | t | handle %}
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="form-list">
                                <li>
<!--                                    <label for="name" class="required">{{ 'contact.form.name' | t }}<em>*</em></label>-->
                                    <input type="text" placeholder="{{ 'contact.form.name' | t }}" id="ContactFormName" class="input-full" name="contact[{{ name_attr }}]" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-12">
                            <ul class="form-list">
                                <li>
<!--                                    <label for="name" class="required">{{ 'contact.form.email' | t }}<em>*</em></label>-->
                                    <input type="email" placeholder="{{ 'contact.form.email' | t }}" id="ContactFormEmail" class="input-full" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-12">
                            <ul class="form-list">
                                <li>
                                    <input type="text" placeholder="{{ 'contact.form.phone' | t }}" id="ContactFormPhone" class="input-full" name="contact[phone]" autocorrect="off" autocapitalize="off" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <ul class="form-list">
                                <li>
<!--                                    <label for="name" class="required">{{ 'contact.form.comment' | t }}<em>*</em></label>-->
                                    <textarea rows="5" cols="5" id="ContactFormMessage" class="input-full" name="contact[body]" placeholder="{{ 'contact.form.comment' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12 btn-submit-contact">
                            <input type="submit" class="btn-button bordered left" {% if settings.language_enable %}data-translate="contact.form.send"{% endif %} value="{{ 'contact.form.send' | t }}">
                        </div>
                    </div>
                    {% endform %}
                </div>
                <div class="contact-infor">
                    <div class="infor-item">
                        <div class="icon"><span class="nc-icon-outline ui-3_phone-call"></span></div>
                        {% if settings.contact_phone != blank %}
                        <div class="box-contents">{{ settings.contact_phone }}</div>
                        {% endif %}
                    </div>
                    <div class="infor-item">
                        <div class="icon"><span class="nc-icon-outline ui-1_email-84"></span></div>
                        {% if settings.contact_email != blank %}
                        <div class="box-contents">{{ settings.contact_email }}</div>
                        {% endif %}
                    </div>
                    <div class="infor-item">
                        <div class="icon"><span class="nc-icon-outline location_pin"></span></div>
                        {% if settings.contact_address != blank %}
                        <div class="box-contents">{{ settings.contact_address }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-1 hidden-xs"></div>
        </div>
    </div>
</section>



