<!-- /templates/page.liquid -->
<section class="about_us_style_2_breadcrumb">
    <div class="container">
        <div class="row">
            <div class="about_us_title">
                <h1>
                    {% if settings.language_enable %}
                    <span class="lang1">{{ page.title | split: '|' | first }}</span>
                    <span class="lang2">{{ page.title | split: '|' | last }}</span>
                    {% else %}
                    {{ page.title | split: '|' | first }}
                    {% endif %}
                </h1>
            </div>
            <div class="about_us_breadcrumb">
                {% include 'breadcrumb' %}
            </div>
        </div>
    </div>
</section>
<section class="about_section_1" style="background-image: url({{ 'about-bg-1.jpg' | asset_url }})">
    <div class="content-about-section-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <div class="content-text">
                        <div class="text-about-box">
                            {% if settings.about_section1_text_1 != blank %}
                            <div class="big-text">{{ settings.about_section1_text_1 }}</div>
                            {% endif %}
                            <div class="line-about-1"></div>
                            {% if settings.about_section1_text_2 != blank %}
                            <div class="subtext">{{ settings.about_section1_text_2 }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 hidden-xs"></div>
            </div>
        </div>
    </div>
</section>
<section class="about_section_2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="content_inner">
                    <div class="part-text-top">
                        {% if settings.about_section2_title != blank %}
                        <div class="section-about-title">
                            <h2>{{ settings.about_section2_title }}</h2>
                        </div>
                        {% endif %}
                        {% if settings.about_section2_block1 != blank %}
                        {{ settings.about_section2_block1 }}
                        {% endif %}
                    </div>
                    <div class="count-nummber">
                        <div class="row">
                            <div class="col-sm-3 col-xs-6">
                                <div class="element-inner">
                                    <div class="box-icon-des">
                                        <div class="counter-to-target"><span class="count">{% if settings.counter_number_1 != blank %}{{ settings.counter_number_1 }}{% endif %}</span></div>
                                        <div class="des-counter">{% if settings.des_counter_number_1 != blank %}{{ settings.des_counter_number_1 }}{% endif %}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="element-inner">
                                    <div class="box-icon-des">
                                        <div class="counter-to-target"><span class="count">{% if settings.counter_number_2 != blank %}{{ settings.counter_number_2 }}{% endif %}</span></div>
                                        <div class="des-counter">{% if settings.des_counter_number_2 != blank %}{{ settings.des_counter_number_2 }}{% endif %}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="element-inner">
                                    <div class="box-icon-des">
                                        <div class="counter-to-target"><span class="count">{% if settings.counter_number_3 != blank %}{{ settings.counter_number_3 }}{% endif %}</span></div>
                                        <div class="des-counter">{% if settings.des_counter_number_3 != blank %}{{ settings.des_counter_number_3 }}{% endif %}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="element-inner">
                                    <div class="box-icon-des">
                                        <div class="counter-to-target"><span class="count">{% if settings.counter_number_4 != blank %}{{ settings.counter_number_4 }}{% endif %}</span></div>
                                        <div class="des-counter">{% if settings.des_counter_number_4 != blank %}{{ settings.des_counter_number_4 }}{% endif %}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="part-text-bottom">
                        {% if settings.about_section2_block2 != blank %}
                        {{ settings.about_section2_block2 }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about_section_3">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% if settings.about_section3_title != blank %}
                <div class="section-about-title">
                    <h2>{{ settings.about_section3_title }}</h2>
                </div>
                {% endif %}
                <div class="sub-text">
                    {% if settings.about_section3_block1 != blank %}
                    {{ settings.about_section3_block1 }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="about-team-img">
        <div class="row">
            <div class="col-sm-4 no-padding">
                <div class="image-banner image-1" style="background-image: url({{ 'about-team-3.jpg' | asset_url }})">
                    <div class="item-info-inner">
                        {% if settings.member1_text_1 != blank %}
                        <h3 class="item--title">{{ settings.member1_text_1 }}</h3>
                        {% endif %}
                        {% if settings.member1_text_2 != blank %}
                        <p class="item--role">{{ settings.member1_text_2 }}</p>
                        {% endif %}
                        <div class="line-about-1"></div>
                        {% if settings.member1_text_3 != blank %}
                        <div class="entry-excerpt">{{ settings.member1_text_3 }}</div>
                        {% endif %}
                        <div class="member-social">
                            {% if settings.member1_face != blank %}
                            <a href="{{settings.member1_face}}" target="_blank"><i class="fa fa-facebook"></i></a>
                            {% endif %}
                            {% if settings.member1_twitter != blank %}
                            <a href="{{settings.member1_twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
                            {% endif %}
                            {% if settings.member1_pinterest != blank %}
                            <a href="{{settings.member1_pinterest}}" target="_blank"><i class="fa fa-pinterest"></i></a>
                            {% endif %}
                            {% if settings.member1_youtube != blank %}
                            <a href="{{settings.member1_youtube}}" target="_blank"><i class="fa fa-youtube-play"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 no-padding">
                <div class="image-banner image-2" style="background-image: url({{ 'about-team-2.jpg' | asset_url }})">
                    <div class="item-info-inner">
                        {% if settings.member2_text_1 != blank %}
                        <h3 class="item--title">{{ settings.member2_text_1 }}</h3>
                        {% endif %}
                        {% if settings.member2_text_2 != blank %}
                        <p class="item--role">{{ settings.member2_text_2 }}</p>
                        {% endif %}
                        <div class="line-about-1"></div>
                        {% if settings.member2_text_3 != blank %}
                        <div class="entry-excerpt">{{ settings.member2_text_3 }}</div>
                        {% endif %}
                        <div class="member-social">
                            {% if settings.member2_face != blank %}
                            <a href="{{settings.member2_face}}" target="_blank"><i class="fa fa-facebook"></i></a>
                            {% endif %}
                            {% if settings.member2_twitter != blank %}
                            <a href="{{settings.member2_twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
                            {% endif %}
                            {% if settings.member2_pinterest != blank %}
                            <a href="{{settings.member2_pinterest}}" target="_blank"><i class="fa fa-pinterest"></i></a>
                            {% endif %}
                            {% if settings.member2_youtube != blank %}
                            <a href="{{settings.member2_youtube}}" target="_blank"><i class="fa fa-youtube-play"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 no-padding">
                <div class="image-banner image-3" style="background-image: url({{ 'about-team-1.jpg' | asset_url }})">
                    <div class="item-info-inner">
                        {% if settings.member3_text_1 != blank %}
                        <h3 class="item--title">{{ settings.member3_text_1 }}</h3>
                        {% endif %}
                        {% if settings.member3_text_2 != blank %}
                        <p class="item--role">{{ settings.member3_text_2 }}</p>
                        {% endif %}
                        <div class="line-about-1"></div>
                        {% if settings.member3_text_3 != blank %}
                        <div class="entry-excerpt">{{ settings.member3_text_3 }}</div>
                        {% endif %}
                        <div class="member-social">
                            {% if settings.member3_face != blank %}
                            <a href="{{settings.member3_face}}" target="_blank"><i class="fa fa-facebook"></i></a>
                            {% endif %}
                            {% if settings.member3_twitter != blank %}
                            <a href="{{settings.member3_twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
                            {% endif %}
                            {% if settings.member3_pinterest != blank %}
                            <a href="{{settings.member2_pinterest}}" target="_blank"><i class="fa fa-pinterest"></i></a>
                            {% endif %}
                            {% if settings.member3_youtube != blank %}
                            <a href="{{settings.member3_youtube}}" target="_blank"><i class="fa fa-youtube-play"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about_section_4">
    <div class="btn-letwork">
        <a class="btn-about" href="{% if settings.about_section4_btn_link != blank %}{{settings.about_section4_btn_link}}{% endif %}">{% if settings.about_section4_text_btn != blank %}{{ settings.about_section4_text_btn }}{% endif %}</a>
    </div>
</section>


